n8n-AgenteAtendimento-Ana/workflows/scala-whatsapp-ai-agent.json
{
  "updatedAt": "2026-03-20T02:13:06.889Z",
  "createdAt": "2026-03-16T16:23:32.929Z",
  "id": "EVbZX91iB5moD6I4",
  "name": "🤖 Scala AI — Ana + Bruno (WhatsApp 24/7)",
  "description": null,
  "active": true,
  "isArchived": false,
  "nodes": [
    {
      "parameters": {
        "updates": [
          "messages"
        ],
        "options": {}
      },
      "id": "node-1",
      "name": "WhatsApp Trigger",
      "type": "n8n-nodes-base.whatsAppTrigger",
      "typeVersion": 1,
      "position": [
        208,
        304
      ],
      "webhookId": "a4d4b2c4-2099-4eb6-980d-df5274d1c1fc",
      "credentials": {
        "whatsAppTriggerApi": {
          "id": "3Ucs5ITEFuzuPAJx",
          "name": "WhatsApp OAuth account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const payload = $input.first().json;\nconst msgs = payload.messages;\nif (!msgs || !msgs.length) return [];\nconst msg = msgs[0];\nconst phone = msg.from || '';\nconst name = payload.contacts?.[0]?.profile?.name || '';\nconst convId = 'scala_' + phone;\nconst ts = new Date().toISOString();\n\nif (msg.type === 'text') {\n  const text = msg.text?.body?.trim() || '';\n  if (!phone || !text) return [];\n  return [{ json: { phoneNumber: phone, messageText: text, pushName: name, conversationId: convId, timestamp: ts, messageType: 'text' } }];\n} else if (msg.type === 'document') {\n  const doc = msg.document || {};\n  if (!phone || !doc.id) return [];\n  return [{ json: { phoneNumber: phone, messageText: '', pushName: name, conversationId: convId, timestamp: ts, messageType: 'document', mediaId: doc.id, mediaFilename: doc.filename || 'documento.pdf' } }];\n}\nreturn [];"
      },
      "id": "node-2",
      "name": "Extrair Dados",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        480,
        304
      ]
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "1yDex-TLsx3TCxQ2ZZObTn6X_4Ln83ClMEiZI47y6h5U",
          "mode": "id"
        },
        "sheetName": {
          "mode": "name",
          "value": "Conversas"
        },
        "options": {}
      },
      "id": "node-3",
      "name": "Buscar Histórico",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4,
      "position": [
        768,
        304
      ],
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "UeSaLFF10d9utrmA",
          "name": "Google Sheets - Paulo"
        }
      },
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "jsCode": "return (() => {\nconst { messageText, pushName, conversationId, phoneNumber, timestamp } = $('Extrair Dados').first().json;\nconst isPaulo = phoneNumber === '556181292879';\nconst askingAboutMeetings = isPaulo && /reuni|agenda|diagn|marcamos|agendamos|agendou|marcou|horario|quantos|quantas|hoje|semana|mes/i.test(messageText);\nlet meetingContext = '';\nconst allInputItems = $input.all();\nif (askingAboutMeetings) {\n  try {\n    const calItem = allInputItems.find(item => item.json && item.json.kind === 'calendar#events');\n    const reunioesData = calItem ? calItem.json : { items: [] };\n    const eventos = (reunioesData.items || []).filter(e => e.start && e.start.dateTime);\n    const agora = new Date();\n    const hojeStr = new Date(agora.getTime() - 3 * 60 * 60 * 1000).toISOString().split('T')[0];\n    const mesAtual = agora.getMonth();\n    const anoAtual = agora.getFullYear();\n    const getEventDateTime = (e) => new Date(e.start.dateTime);\n    const getEventDate = (e) => new Date(getEventDateTime(e).getTime() - 3 * 60 * 60 * 1000).toISOString().split('T')[0];\n    const reunioesMes = eventos.filter(e => {\n      const d = getEventDateTime(e);\n      return d.getMonth() === mesAtual && d.getFullYear() === anoAtual;\n    });\n    const reunioesHoje = reunioesMes.filter(e => getEventDate(e) === hojeStr);\n    const reunioesPassadas = reunioesMes.filter(e => getEventDateTime(e) < agora);\n    const reunioesProximas = reunioesMes.filter(e => getEventDateTime(e) >= agora);\n    const formatEvento = (e) => {\n      const dt = getEventDateTime(e);\n      const data = dt.toLocaleDateString('pt-BR', {weekday:'short', day:'2-digit', month:'2-digit', timeZone:'America/Sao_Paulo'});\n      const hora = dt.toLocaleTimeString('pt-BR', {hour:'2-digit', minute:'2-digit', timeZone:'America/Sao_Paulo'});\n      return '  - ' + data + ' as ' + hora + ': ' + (e.summary || 'Sem titulo');\n    };\n    const totalMes = reunioesMes.length;\n    const realizadas = reunioesPassadas.length;\n    const futuras = reunioesProximas.length;\n    meetingContext = '\\n<dados_reunioes>\\nDATA DE HOJE: ' + hojeStr + '\\n\\nREUNIOES HOJE: ' + (reunioesHoje.length === 0 ? 'nenhuma' : reunioesHoje.length) + '\\n' + reunioesHoje.map(formatEvento).join('\\n') + '\\n\\nMES ATUAL: ' + totalMes + ' reuniao(oes) no total | ' + realizadas + ' realizadas | ' + futuras + ' futuras\\n\\n' + (realizadas > 0 ? 'REALIZADAS NO MES:\\n' + reunioesPassadas.map(formatEvento).join('\\n') : 'Nenhuma realizada ainda este mes.') + '\\n\\n' + (futuras > 0 ? 'PROXIMAS:\\n' + reunioesProximas.slice(0, 5).map(formatEvento).join('\\n') : 'Nenhuma futura agendada.') + '\\n</dados_reunioes>';\n  } catch(err) {\n    meetingContext = '\\n<dados_reunioes>Erro ao processar dados: ' + err.message + '</dados_reunioes>';\n  }\n}\nconst allRows = $('Buscar Hist\\u00f3rico').all();\nconst history = allRows\n  .filter(item => item.json.conversationId === conversationId)\n  .slice(-20)\n  .map(item => ({ role: item.json.role, content: item.json.content }))\n  .filter(m => m.role && m.content);\nconst slotData = (() => { try { return $('Formatar Slots').first().json; } catch(e) { return {}; } })();\nconst busyText = slotData.busyText || 'nenhum compromisso';\nconst nextSlotsText = slotData.nextSlotsText || 'proximos dias';\nconst leadName = pushName || '';\nconst historicoFormatado = history.map(m => (m.role === 'user' ? 'Lead' : 'Ana') + ': ' + m.content).join('\\n');\nlet systemPrompt;\nif (isPaulo) {\n  systemPrompt = '<modo_dono>\\nVoce e a Ana, assistente executiva de Paulo, dono da Scala Automacoes.\\nVoce NAO esta vendendo nada para Paulo - ele e o dono da empresa.\\nTrate Paulo como seu chefe direto: seja direta, objetiva e profissional.\\n</modo_dono>\\n\\n<comportamento_com_paulo>\\n- Voce e a assistente executiva de Paulo - responda de forma direta e objetiva, sem pitch de vendas\\n- Paulo pode perguntar sobre reunioes, agenda, clientes, metricas ou status de automacoes\\n- Quando Paulo perguntar sobre reunioes/agenda: use os dados em <dados_reunioes> se disponiveis. Responda com os numeros e detalhes exatos do que estiver la.\\n- Se <dados_reunioes> mostrar erro ou estiver ausente: diga que nao tem os dados da agenda disponiveis no momento\\n- NUNCA mencione reunioes, agenda ou dados de calendario se Paulo nao perguntar sobre isso\\n- Tom: direto, como conversa entre profissionais que trabalham juntos\\n- Fale em portugues brasileiro natural, sem formalidade excessiva\\n</comportamento_com_paulo>\\n\\n<empresa>\\nScala Automacoes e agencia de automacao e marketing digital, Brasilia/DF.\\nDono: Paulo Nunan\\nAgentes ativos: Ana (atendimento 24/7) + Bruno (gestao de trafego via WhatsApp)\\n</empresa>\\n' + meetingContext + '\\n\\n<historico_conversa>\\n' + historicoFormatado + '\\n</historico_conversa>';\n} else {\n  const leadCtxStr = leadName ? ' O lead se chama ' + leadName + ' (nome do WhatsApp).' : '';\n  systemPrompt = 'Voce e a Ana, consultora executiva de vendas da Scala. Nao e um chatbot \\u2014 e uma profissional especializada em trafego pago, automacao de vendas e marketing digital.' + leadCtxStr + '\\n\\n<missao>\\nSua missao e conduzir uma conversa consultiva para: (1) entender profundamente o negocio e a dor do lead atraves de perguntas estrategicas, (2) qualifica-lo, e (3) quando ele estiver pronto, tornar o diagnostico gratuito o proximo passo obvio e desejavel. Voce NAO tenta fechar nada pelo WhatsApp \\u2014 o objetivo e a reuniao de diagnostico.\\n</missao>\\n\\n<atencao_mensagem_inicial>\\nTODO LEAD QUE VEM DO SITE CHEGA COM A MENSAGEM PRE-FIXADA: \"Oi! Vim pelo site da Scala e quero agendar meu diagnostico gratuito.\"\\nESSA MENSAGEM E UM TEMPLATE AUTOMATICO DO BOTAO DO SITE \\u2014 NAO e intencao real de agendar e NAO indica nivel de consciencia alto.\\nREGRAS ABSOLUTAS:\\n1. NUNCA interprete \"quero agendar\" na primeira mensagem como pedido real de agendamento\\n2. NUNCA oferea horarios ou confirme reuniao na primeira resposta\\n3. TODO LEAD COMECA EM NIVEL NEUTRO, independente do que a mensagem diz\\n4. Sua primeira resposta deve ser uma saudacao calorosa + 1 pergunta de situacao para entender quem e esse lead\\n5. O nivel de consciencia so pode ser descoberto atraves da conversa, nao pela mensagem inicial\\n</atencao_mensagem_inicial>\\n\\n<empresa>\\nScala: infraestrutura digital para ecossistemas de vendas. Estruturamos o caminho entre o lead e o fechamento. Publico-alvo: gestores de trafego, agencias e donos de negocio que investem em trafego pago.\\n</empresa>\\n\\n<spin_selling>\\nVoce usa SPIN Selling \\u2014 abordagem consultiva que descobre e aprofunda dores antes de apresentar solucoes. Conduza a conversa pelas 4 fases:\\n\\nFASE S \\u2014 SITUACAO (entender o contexto atual):\\nDescubra a operacao atual do lead. Uma pergunta por vez. Ex: \"Voce trabalha com trafego pago pro seu negocio ou pra clientes?\" / \"Quanto voce investe em ads por mes?\" / \"Quantos leads chegam por mes em media?\"\\n\\nFASE P \\u2014 PROBLEMA (descobrir a dor real):\\nExplore o problema central. Uma pergunta por vez. Ex: \"Como funciona o atendimento desses leads hoje?\" / \"Quando chega lead fora do horario, o que acontece?\" / \"Em quanto tempo voces respondem um lead novo?\"\\n\\nFASE I \\u2014 IMPLICACAO (fazer o lead sentir o peso da dor):\\nAjude o lead a calcular o impacto real. Ele precisa reconhecer, nao voce dizendo. Ex: \"Com esse tempo de resposta, voce estima quantos leads voce perde por mes?\" / \"Com o CPL que voce tem, o que representa perder esses leads em reais?\"\\n\\nFASE N \\u2014 NECESSIDADE (construir o valor da solucao):\\nPerguntas que fazem o lead articular o que ele precisa \\u2014 nao voce empurrando. Ex: \"Se o atendimento respondesse em segundos, como isso mudaria seus fechamentos?\" / \"Que resultado voce precisaria ver em 30 dias pra saber que valeu a pena?\"\\n</spin_selling>\\n\\n<qualificacao>\\nCriterios que voce descobre ao longo da conversa (nunca pergunte tudo de uma vez):\\n- Investimento em trafego pago: R$3.000+/mes (ideal R$5.000+)\\n- Volume de leads: 50+/mes\\n- Problema real: atendimento lento, perda de leads, falta de escala, relatorios manuais\\n- E tomador de decisao (dono, socio ou gestor com autonomia)\\n- Nao busca apenas o mais barato\\n\\nNivel de consciencia do lead (SEMPRE comeca em NEUTRO):\\n- NEUTRO: ponto de partida de todo lead \\u2014 a mensagem inicial nao define o nivel\\n- BAIXO: nao sabe exatamente o que precisa -> faca mais perguntas de situacao e problema\\n- MEDIO: sabe que tem problema mas nao conhece a solucao -> aprofunde implicacoes\\n- ALTO: sabe o que quer e demonstra interesse claro -> avance para necessidade e diagnostico\\n\\nSe o lead claramente nao se qualifica (sem trafego pago, operacao muito pequena), seja honesta: \"A Scala pode nao ser a melhor fit pra voce agora.\"\\n</qualificacao>\\n\\n<tom_de_voz>\\nREGRAS ABSOLUTAS:\\n1. SEJA HUMANA \\u2014 frases curtas, tom de conversa real, nao de vendedor\\n2. UMA PERGUNTA POR VEZ \\u2014 nunca faca multiplas perguntas na mesma mensagem\\n3. OUCA E REFLITA \\u2014 valide o que o lead disse antes de ir pra proxima pergunta\\n4. PORTUGUES NATURAL \\u2014 ta, pra, ne (sem exagero)\\n5. SEM BULLET POINTS \\u2014 prosa corrida, como WhatsApp real\\n6. MAXIMO 1 EMOJI por mensagem (use com parcimonia)\\n7. NUNCA diga que e IA ou chatbot\\n8. USE O NOME do lead quando souber\\n9. DEMONSTRE EXPERTISE \\u2014 mencione CPA, ROAS, CPL, CAC, funil quando relevante\\n10. NAO MENCIONE PRECOS ate o lead perguntar ou estar claramente qualificado\\n11. CRIE RAPPORT \\u2014 mostre que voce entende o mundo deles\\n12. VARIE O COMPRIMENTO \\u2014 misture respostas curtas com contexto quando necessario\\n</tom_de_voz>\\n\\n<fluxo_ideal>\\nMENSAGEM INICIAL (\"Oi! Vim pelo site da Scala e quero agendar meu diagnostico gratuito.\"):\\nATENCAO: e uma mensagem pre-fixada do botao do site. NAO e um pedido real de agendamento.\\nNivel inicial: NEUTRO.\\n-> Resposta calorosa, breve, que mostra que voce entendeu que ele veio do site\\n-> 1 pergunta de situacao para entender quem e esse lead (nunca oferea horarios aqui)\\n\\nApos entender o contexto (nivel pode subir para BAIXO ou MEDIO):\\n-> Valide o que entendeu + 1 pergunta de problema\\n\\nApos identificar a dor (nivel MEDIO):\\n-> 1 pergunta de implicacao (faca o lead calcular o impacto em reais ou leads perdidos)\\n\\nApos lead sentir o impacto e demonstrar interesse claro (nivel ALTO):\\n-> 1 pergunta de necessidade + transicao natural para o diagnostico\\n\\nSo quando lead mostrar interesse real e estiver qualificado:\\n-> Oferecer diagnostico como proximo passo logico, nao como venda\\n-> Proponha 2 horarios disponiveis\\n</fluxo_ideal>\\n\\n<agendamento>\\nOBJETIVO: agendar DIAGNOSTICO GRATUITO de 20-30 min por Google Meet.\\nPositionamento: \"nao e call de vendas \\u2014 e uma analise real da sua operacao, voce sai sabendo exatamente o que faz sentido pra voce\"\\nCOMPROMISSOS JA MARCADOS: ' + busyText + '\\nPROXIMAS DISPONIBILIDADES: ' + nextSlotsText + '\\nREGRAS:\\n1. SO oferea o diagnostico quando o lead demonstrar interesse real \\u2014 nunca na primeira mensagem\\n2. Proponha 2 horarios disponiveis de forma direta\\n3. Se lead confirmar horario: CONFIRME IMEDIATAMENTE, diga que vai enviar link do Meet\\n4. Nao precisa fechar nada na conversa \\u2014 o diagnostico e o proximo passo\\n</agendamento>\\n\\n<objecoes>\\n\"E caro / qual o preco?\": Faz sentido voce querer entender o ROI antes de decidir. Por isso o diagnostico existe \\u2014 voce sai sabendo exatamente quanto voce ta perdendo e se a Scala faz sentido pro seu numero. Me conta, quanto voce investe em trafego hoje?\\n\\n\"Ja tentei chatbot e nao funcionou\": Entendo, a maioria dos chatbots sao fluxos engessados que irritam quem recebe. O que a Scala usa e IA conversacional \\u2014 ela entende contexto, quebra objecoes e adapta a conversa em tempo real. Bem diferente. Mas voce vai avaliar no diagnostico.\\n\\n\"Preciso pensar / falar com o socio\": Claro, faz sentido. O que geralmente ajuda e ter uma analise da operacao de voces em maos antes de decidir. O diagnostico e gratuito e voce sai com dados concretos \\u2014 facilita muito a conversa interna.\\n\\n\"Nao tenho tempo\": Sem problema. O diagnostico e 20 minutos, a gente vai direto ao ponto. Quando seria uma janela boa essa semana?\\n\\n\"Ja tenho solucao\": Otimo! Curiosidade: qual e a taxa de resposta atual pra leads novos que chegam? Pergunto porque muita gente acha que ta bem ate ver o numero de lado a lado.\\n</objecoes>\\n\\n<servicos>\\n1. RELATORIOS INTELIGENTES - a partir de R$300/mes\\n2. CRM AUTOMATIZADO - a partir de R$400/mes\\n3. QUALIFICACAO DE LEADS - a partir de R$400/mes\\n4. FOLLOW-UP COM IA - a partir de R$350/mes\\n5. ATENDIMENTO IA 24/7 - a partir de R$500/mes\\n6. AUTOMACAO DE ADS - a partir de R$450/mes\\nNao mencione precos proativamente \\u2014 so se perguntado.\\n</servicos>\\n\\n<limites>\\nNUNCA: invente informacoes; fale mal de concorrentes; prometa resultados especificos; feche vendas pelo WhatsApp; mande links externos exceto https://portfolio-scala.vercel.app/\\n</limites>';\n}\nconst requestBody = {\n  model: 'gpt-4o-mini',\n  max_tokens: 450,\n  temperature: 0.75,\n  messages: [{ role: 'system', content: systemPrompt }, ...history, { role: 'user', content: messageText }]\n};\nreturn [{ json: { requestBody, conversationId, phoneNumber, originalMessage: messageText, pushName, timestamp } }];\n})();"
      },
      "id": "node-4",
      "name": "Montar Contexto",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1040,
        304
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.openai.com/v1/chat/completions",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "openAiApi",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify($json.requestBody) }}",
        "options": {}
      },
      "id": "node-5",
      "name": "OpenAI GPT-4o-mini",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1328,
        304
      ],
      "credentials": {
        "openAiApi": {
          "id": "LFnyHUsH7lj5FEvQ",
          "name": "scala-agent"
        }
      }
    },
    {
      "parameters": {
        "amount": 5,
        "unit": "seconds"
      },
      "id": "node-6",
      "name": "Delay Humano",
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1,
      "position": [
        1600,
        304
      ],
      "webhookId": "7dd3b2fa-8af2-4b18-83a6-ec1a2bb41696"
    },
    {
      "parameters": {
        "jsCode": "const aiResponse = $input.first().json.choices?.[0]?.message?.content || '';\nconst ctx = $('Montar Contexto').first().json;\nreturn [{ json: { aiResponse, phoneNumber: ctx.phoneNumber, conversationId: ctx.conversationId, originalMessage: ctx.originalMessage, pushName: ctx.pushName, timestamp: new Date().toISOString() } }];"
      },
      "id": "node-7",
      "name": "Preparar Resposta",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1888,
        304
      ]
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "mode": "id",
          "value": "1yDex-TLsx3TCxQ2ZZObTn6X_4Ln83ClMEiZI47y6h5U"
        },
        "sheetName": {
          "mode": "name",
          "value": "Conversas"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "conversationId": "={{ $json.conversationId }}",
            "role": "user",
            "content": "={{ $json.originalMessage }}",
            "pushName": "={{ $json.pushName }}",
            "timestamp": "={{ $json.timestamp }}"
          }
        },
        "options": {}
      },
      "id": "node-8",
      "name": "Salvar Mensagem User",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4,
      "position": [
        2160,
        304
      ],
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "UeSaLFF10d9utrmA",
          "name": "Google Sheets - Paulo"
        }
      }
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "mode": "id",
          "value": "1yDex-TLsx3TCxQ2ZZObTn6X_4Ln83ClMEiZI47y6h5U"
        },
        "sheetName": {
          "mode": "name",
          "value": "Conversas"
        },
        "columns": {
          "mappingMode": "autoMapInputData",
          "value": {
            "conversationId": "={{ $json.conversationId }}",
            "role": "assistant",
            "content": "={{ $json.aiResponse }}",
            "pushName": "={{ $json.pushName }}",
            "timestamp": "={{ $json.timestamp }}"
          }
        },
        "options": {}
      },
      "id": "node-9",
      "name": "Salvar Resposta Assistente",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4,
      "position": [
        2448,
        304
      ],
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "UeSaLFF10d9utrmA",
          "name": "Google Sheets - Paulo"
        }
      }
    },
    {
      "parameters": {
        "operation": "send",
        "phoneNumberId": "971782562694033",
        "recipientPhoneNumber": "={{ $('Preparar Resposta').first().json.phoneNumber }}",
        "textBody": "={{ $('Preparar Resposta').first().json.aiResponse }}",
        "additionalFields": {}
      },
      "id": "node-10",
      "name": "Enviar Resposta WhatsApp",
      "type": "n8n-nodes-base.whatsApp",
      "typeVersion": 1,
      "position": [
        2720,
        304
      ],
      "webhookId": "18a8afa8-963f-421e-a8a7-1a43faf86e06",
      "credentials": {
        "whatsAppApi": {
          "id": "umUchtUGj2ZzikQ5",
          "name": "WhatsApp account"
        }
      }
    },
    {
      "id": "node-11",
      "name": "Buscar Disponibilidade",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        768,
        560
      ],
      "parameters": {
        "method": "POST",
        "url": "https://www.googleapis.com/calendar/v3/freeBusy",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "googleCalendarOAuth2Api",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ timeMin: $now.toISO(), timeMax: $now.plus({days:7}).toISO(), timeZone: 'America/Sao_Paulo', items: [{id: 'primary'}] }) }}",
        "options": {}
      },
      "credentials": {
        "googleCalendarOAuth2Api": {
          "id": "QGp1FxkKTfYhYYJ0",
          "name": "Google Calendar - Paulo"
        }
      },
      "continueOnFail": true,
      "alwaysOutputData": true
    },
    {
      "id": "node-12",
      "name": "Formatar Slots",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1040,
        560
      ],
      "parameters": {
        "jsCode": "try {\n  const BRT_MS = 3 * 3600 * 1000;\n  const utcNow = new Date();\n  const brNow = new Date(utcNow.getTime() - BRT_MS);\n  let busyPeriods = [];\n  try {\n    const calData = $input.first().json;\n    busyPeriods = calData.calendars?.primary?.busy || [];\n  } catch(e) {}\n  const busy = busyPeriods.map(b => ({ startUtc: new Date(b.start).getTime(), endUtc: new Date(b.end).getTime() }));\n  const dayNames = ['Dom', 'Seg', 'Ter', 'Qua', 'Qui', 'Sex', 'Sáb'];\n  const pad = n => String(n).padStart(2, '0');\n  const busyText = busy.length > 0 ? busy.map(b => { const startBr = new Date(b.startUtc - BRT_MS); const endBr = new Date(b.endUtc - BRT_MS); return dayNames[startBr.getUTCDay()] + ' ' + pad(startBr.getUTCDate()) + '/' + pad(startBr.getUTCMonth()+1) + ' ' + pad(startBr.getUTCHours()) + ':' + pad(startBr.getUTCMinutes()) + '-' + pad(endBr.getUTCHours()) + ':' + pad(endBr.getUTCMinutes()); }).join(', ') : 'nenhum compromisso agendado esta semana';\n  const freeSlots = [];\n  for (let d = 0; d < 7 && freeSlots.length < 6; d++) {\n    const dayBr = new Date(brNow);\n    dayBr.setUTCDate(dayBr.getUTCDate() + d);\n    const wday = dayBr.getUTCDay();\n    if (wday === 0) continue;\n    const dayLabel = dayNames[wday] + ' ' + pad(dayBr.getUTCDate()) + '/' + pad(dayBr.getUTCMonth()+1);\n    for (let h = 8; h <= 22; h++) {\n      for (const m of [0, 30]) {\n        if (freeSlots.length >= 6) break;\n        const slotBr = new Date(dayBr);\n        slotBr.setUTCHours(h, m, 0, 0);\n        const slotUtcStart = slotBr.getTime() + BRT_MS;\n        const slotUtcEnd = slotUtcStart + 30 * 60 * 1000;\n        if (slotUtcStart <= utcNow.getTime()) continue;\n        const isBusy = busy.some(b => slotUtcStart < b.endUtc && slotUtcEnd > b.startUtc);\n        if (!isBusy) freeSlots.push(dayLabel + ' ' + pad(h) + ':' + pad(m));\n      }\n    }\n  }\n  const nextSlotsText = freeSlots.slice(0, 4).join(', ') || 'próximos dias úteis';\n  return [{ json: { busyText, nextSlotsText, totalBusy: busy.length } }];\n} catch(e) {\n  return [{ json: { busyText: 'nenhum compromisso', nextSlotsText: 'dias úteis 8h-22h', totalBusy: 0 } }];\n}"
      }
    },
    {
      "id": "node-13",
      "name": "Detectar Agendamento",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        2992,
        304
      ],
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": false
          },
          "conditions": [
            {
              "id": "cond-1",
              "leftValue": "={{ $('Preparar Resposta').first().json.aiResponse }}",
              "rightValue": "link.{0,60}(instantes|agora|j[áa])|mando o link|te mando o link",
              "operator": {
                "type": "string",
                "operation": "regex"
              }
            }
          ],
          "combinator": "and"
        }
      }
    },
    {
      "id": "node-14",
      "name": "Extrair Info Agendamento",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        3264,
        304
      ],
      "parameters": {
        "jsCode": "const BRT_MS = 3 * 3600 * 1000;\nconst pad = n => String(n).padStart(2, '0');\nconst utcNow = new Date();\nconst brNow = new Date(utcNow.getTime() - BRT_MS);\nconst aiResponse = $('Preparar Resposta').first().json.aiResponse;\nconst pushName = $('Preparar Resposta').first().json.pushName || 'Lead';\nconst phoneNumber = $('Preparar Resposta').first().json.phoneNumber;\nconst timeMatch = aiResponse.match(/(\\d{1,2})[h:](\\d{2})?(?!\\d)/i);\nconst hour = timeMatch ? parseInt(timeMatch[1]) : 9;\nconst minute = (timeMatch && timeMatch[2]) ? parseInt(timeMatch[2]) : 0;\nconst dateMatch = aiResponse.match(/(\\d{1,2})\\/(\\d{1,2})/);\nconst targetBr = new Date(brNow);\nif (dateMatch) {\n  const day = parseInt(dateMatch[1]);\n  const month = parseInt(dateMatch[2]);\n  targetBr.setUTCDate(day);\n  targetBr.setUTCMonth(month - 1);\n  if (targetBr.getTime() < brNow.getTime() - 3600*1000) {\n    targetBr.setUTCFullYear(targetBr.getUTCFullYear() + 1);\n  }\n} else {\n  const lower = aiResponse.toLowerCase();\n  const brWeekday = brNow.getUTCDay();\n  const weekdayMap = { 'segunda': 1, 'terça': 2, 'quarta': 3, 'quinta': 4, 'sexta': 5, 'sábado': 6 };\n  if (lower.includes('hoje')) {\n  } else if (lower.includes('amanhã') || lower.includes('amanha')) {\n    targetBr.setUTCDate(targetBr.getUTCDate() + 1);\n  } else {\n    for (const [kw, wd] of Object.entries(weekdayMap)) {\n      if (lower.includes(kw)) {\n        let diff = wd - brWeekday;\n        if (diff <= 0) diff += 7;\n        targetBr.setUTCDate(targetBr.getUTCDate() + diff);\n        break;\n      }\n    }\n  }\n}\ntargetBr.setUTCHours(hour, minute, 0, 0);\nconst endHour = minute >= 30 ? hour + 1 : hour;\nconst endMinute = minute >= 30 ? 0 : 30;\nconst startISO = targetBr.getUTCFullYear() + '-' + pad(targetBr.getUTCMonth()+1) + '-' + pad(targetBr.getUTCDate()) + 'T' + pad(hour) + ':' + pad(minute) + ':00';\nconst endISO = targetBr.getUTCFullYear() + '-' + pad(targetBr.getUTCMonth()+1) + '-' + pad(targetBr.getUTCDate()) + 'T' + pad(endHour) + ':' + pad(endMinute) + ':00';\nconst humanDate = pad(targetBr.getUTCDate()) + '/' + pad(targetBr.getUTCMonth()+1) + ' às ' + pad(hour) + ':' + pad(minute);\nconst requestId = 'scala-' + targetBr.getUTCFullYear() + pad(targetBr.getUTCMonth()+1) + pad(targetBr.getUTCDate()) + '-' + pad(hour) + pad(minute);\nreturn [{ json: { startISO, endISO, leadName: pushName, phoneNumber, requestId, summary: 'Diagnóstico Gratuito Scala - ' + pushName, humanDate } }];"
      }
    },
    {
      "id": "node-15",
      "name": "Criar Evento Calendar",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        3536,
        304
      ],
      "parameters": {
        "method": "POST",
        "url": "https://www.googleapis.com/calendar/v3/calendars/primary/events?conferenceDataVersion=1",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "googleCalendarOAuth2Api",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ summary: $json.summary, description: 'Diagnóstico gratuito agendado via WhatsApp pela Ana (Scala)', start: { dateTime: $json.startISO, timeZone: 'America/Sao_Paulo' }, end: { dateTime: $json.endISO, timeZone: 'America/Sao_Paulo' }, conferenceData: { createRequest: { requestId: $json.requestId, conferenceSolutionKey: { type: 'hangoutsMeet' } } }, reminders: { useDefault: true } }) }}",
        "options": {}
      },
      "credentials": {
        "googleCalendarOAuth2Api": {
          "id": "QGp1FxkKTfYhYYJ0",
          "name": "Google Calendar - Paulo"
        }
      }
    },
    {
      "id": "node-16",
      "name": "Enviar Link Meet",
      "type": "n8n-nodes-base.whatsApp",
      "typeVersion": 1,
      "position": [
        3808,
        304
      ],
      "parameters": {
        "operation": "send",
        "phoneNumberId": "971782562694033",
        "recipientPhoneNumber": "={{ $('Extrair Info Agendamento').first().json.phoneNumber }}",
        "textBody": "={{ '🗓️ Diagnóstico Gratuito Scala\\n' + $('Extrair Info Agendamento').first().json.humanDate + '\\n\\n' + ($json.hangoutLink || $json.conferenceData?.entryPoints?.[0]?.uri || '') + '\\n\\nNos vemos lá!' }}",
        "additionalFields": {}
      },
      "credentials": {
        "whatsAppApi": {
          "id": "umUchtUGj2ZzikQ5",
          "name": "WhatsApp account"
        }
      }
    },
    {
      "id": "node-17",
      "name": "CRM Preparar Request",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2448,
        560
      ],
      "parameters": {
        "jsCode": "const ctx = $('Preparar Resposta').first().json;\nconst messages = $('Montar Contexto').first().json.requestBody.messages;\nconst conv = messages.filter(m => m.role !== 'system');\nif (conv.length < 2) return [];\nconst conversationText = conv.map(m => (m.role === 'user' ? 'Lead' : 'Ana') + ': ' + m.content).join('\\n');\nconst requestBody = {\n  model: 'gpt-4o-mini',\n  max_tokens: 150,\n  temperature: 0,\n  response_format: { type: 'json_object' },\n  messages: [\n    { role: 'system', content: 'Analise a conversa de vendas e retorne JSON com os campos: nome (nome do lead), negocio (tipo de empresa ou negócio), dor (principal problema ou dor mencionada), classificacao (QUENTE se dor clara e urgência, MORNO se interesse sem urgência, FRIO se só curiosidade, INDEFINIDO se sem dados), status (em_atendimento, agendado se reunião foi confirmada, perdido se desistiu), volume_leads (número de leads por mês mencionado ou vazio), investimento_trafego (valor mensal em tráfego mencionado ou vazio). Use string vazia quando não souber.' },\n    { role: 'user', content: conversationText }\n  ]\n};\nreturn [{ json: { requestBody, phoneNumber: ctx.phoneNumber, pushName: ctx.pushName, conversationId: ctx.conversationId } }];"
      }
    },
    {
      "id": "node-18",
      "name": "CRM Extrair Perfil",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        2720,
        560
      ],
      "parameters": {
        "method": "POST",
        "url": "https://api.openai.com/v1/chat/completions",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "openAiApi",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify($json.requestBody) }}",
        "options": {}
      },
      "credentials": {
        "openAiApi": {
          "id": "LFnyHUsH7lj5FEvQ",
          "name": "scala-agent"
        }
      }
    },
    {
      "id": "node-19",
      "name": "CRM Formatar Lead",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2992,
        560
      ],
      "parameters": {
        "jsCode": "const raw = $input.first().json.choices?.[0]?.message?.content || '{}';\nconst prep = $('CRM Preparar Request').first().json;\nlet profile = {};\ntry { profile = JSON.parse(raw); } catch(e) {}\nconst BRT_MS = 3 * 3600 * 1000;\nconst pad = n => String(n).padStart(2, '0');\nconst formatBR = (isoStr) => { const br = new Date(new Date(isoStr).getTime() - BRT_MS); return pad(br.getUTCDate()) + '/' + pad(br.getUTCMonth()+1) + '/' + br.getUTCFullYear() + ' ' + pad(br.getUTCHours()) + ':' + pad(br.getUTCMinutes()); };\nconst allRows = $('Buscar Histórico').all();\nconst convRows = allRows.filter(r => r.json.conversationId === prep.conversationId && r.json.timestamp).sort((a, b) => new Date(a.json.timestamp) - new Date(b.json.timestamp));\nconst firstContact = convRows.length > 0 ? convRows[0].json.timestamp : new Date().toISOString();\nreturn [{ json: { telefone: prep.phoneNumber, nome: profile.nome || prep.pushName || '', negocio: profile.negocio || '', dor: profile.dor || '', classificacao: profile.classificacao || 'INDEFINIDO', status: profile.status || 'em_atendimento', volume_leads: profile.volume_leads || '', investimento_trafego: profile.investimento_trafego || '', data_primeiro_contato: formatBR(firstContact), ultima_atualizacao: formatBR(new Date().toISOString()) } }];"
      }
    },
    {
      "id": "node-20",
      "name": "CRM Salvar Lead",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4,
      "position": [
        3264,
        560
      ],
      "parameters": {
        "operation": "appendOrUpdate",
        "documentId": {
          "__rl": true,
          "value": "1yDex-TLsx3TCxQ2ZZObTn6X_4Ln83ClMEiZI47y6h5U",
          "mode": "id"
        },
        "sheetName": {
          "mode": "name",
          "value": "Leads"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "telefone": "={{ $json.telefone }}",
            "nome": "={{ $json.nome }}",
            "negocio": "={{ $json.negocio }}",
            "dor": "={{ $json.dor }}",
            "classificacao": "={{ $json.classificacao }}",
            "status": "={{ $json.status }}",
            "volume_leads": "={{ $json.volume_leads }}",
            "investimento_trafego": "={{ $json.investimento_trafego }}",
            "data_primeiro_contato": "={{ $json.data_primeiro_contato }}",
            "ultima_atualizacao": "={{ $json.ultima_atualizacao }}"
          },
          "matchingColumns": [
            "telefone"
          ]
        },
        "options": {}
      },
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "UeSaLFF10d9utrmA",
          "name": "Google Sheets - Paulo"
        }
      }
    },
    {
      "id": "node-router-gestor",
      "name": "É Paulo?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        680,
        304
      ],
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "cond-gestor",
              "leftValue": "={{ $('Extrair Dados').first().json.phoneNumber }}",
              "rightValue": "556181292879",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        }
      }
    },
    {
      "id": "node-call-campaign-agent",
      "name": "Chamar Bruno (Campaign Agent)",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1120,
        60
      ],
      "parameters": {
        "method": "POST",
        "url": "http://localhost:5678/webhook/campaign-agent",
        "authentication": "none",
        "sendBody": true,
        "contentType": "json",
        "specifyBody": "keypair",
        "bodyParameters": {
          "parameters": [
            {
              "name": "phoneNumber",
              "value": "={{ $('Extrair Dados').first().json.phoneNumber }}"
            },
            {
              "name": "messageText",
              "value": "={{ (() => { try { const t = $('Formatar Mensagem PDF').first().json.messageText; if (t) return t; } catch(e) {} return $('Extrair Dados').first().json.messageText; })() }}"
            }
          ]
        },
        "options": {
          "response": {
            "response": {
              "neverError": true
            }
          }
        }
      }
    },
    {
      "id": "node-switch-agente",
      "name": "Switch Agente",
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3,
      "position": [
        900,
        180
      ],
      "parameters": {
        "mode": "rules",
        "options": {},
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": false,
                  "leftValue": "",
                  "typeValidation": "loose"
                },
                "conditions": [
                  {
                    "id": "cond-bruno",
                    "leftValue": "={{ $('Extrair Dados').first().json.messageText.toLowerCase() }}",
                    "rightValue": "bruno",
                    "operator": {
                      "type": "string",
                      "operation": "contains"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Bruno"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": false,
                  "leftValue": "",
                  "typeValidation": "loose"
                },
                "conditions": [
                  {
                    "id": "cond-ana",
                    "leftValue": "={{ $('Extrair Dados').first().json.messageText.toLowerCase() }}",
                    "rightValue": "ana",
                    "operator": {
                      "type": "string",
                      "operation": "contains"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Ana"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": false,
                  "leftValue": "",
                  "typeValidation": "loose"
                },
                "conditions": [
                  {
                    "id": "cond-menu",
                    "leftValue": "1",
                    "rightValue": "1",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Menu"
            }
          ]
        },
        "fallbackOutput": "none"
      }
    },
    {
      "id": "node-enviar-menu",
      "name": "Enviar Menu",
      "type": "n8n-nodes-base.whatsApp",
      "typeVersion": 1,
      "position": [
        1120,
        300
      ],
      "credentials": {
        "whatsAppApi": {
          "id": "umUchtUGj2ZzikQ5",
          "name": "WhatsApp account"
        }
      },
      "parameters": {
        "resource": "message",
        "operation": "send",
        "phoneNumberId": "971782562694033",
        "recipientPhoneNumber": "={{ $('Extrair Dados').first().json.phoneNumber }}",
        "textBody": "Olá! 👋 Bem-vindo à *Scala Automações*!\n\nSou a central de atendimento. Com qual agente você gostaria de falar?\n\n🤖 *Ana* — Atendimento, dúvidas e agendamentos\n📊 *Bruno* — Gestão de campanhas Meta Ads e Google Ads\n\nDigite o nome do agente para continuar."
      }
    },
    {
      "id": "node-buscar-sessao",
      "name": "Buscar Sessao",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4,
      "position": [
        900,
        60
      ],
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "UeSaLFF10d9utrmA",
          "name": "Google Sheets - Paulo"
        }
      },
      "alwaysOutputData": true,
      "parameters": {
        "operation": "read",
        "documentId": {
          "__rl": true,
          "value": "1yDex-TLsx3TCxQ2ZZObTn6X_4Ln83ClMEiZI47y6h5U",
          "mode": "id"
        },
        "sheetName": {
          "mode": "name",
          "value": "Sessoes"
        },
        "filtersUI": {
          "values": [
            {
              "lookupColumn": "phone",
              "lookupValue": "={{ $('Extrair Dados').first().json.phoneNumber }}"
            }
          ]
        },
        "options": {
          "returnFirstMatch": true
        }
      }
    },
    {
      "id": "node-if-resetar-menu",
      "name": "IF Resetar Menu",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        1120,
        -80
      ],
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": false,
            "leftValue": "",
            "typeValidation": "loose"
          },
          "conditions": [
            {
              "id": "cond-menu-reset",
              "leftValue": "={{ $('Extrair Dados').first().json.messageText.toLowerCase().trim() }}",
              "rightValue": "menu",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            },
            {
              "id": "cond-voltar-reset",
              "leftValue": "={{ $('Extrair Dados').first().json.messageText.toLowerCase().trim() }}",
              "rightValue": "voltar",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "or"
        },
        "options": {}
      }
    },
    {
      "id": "node-if-tem-sessao",
      "name": "IF Tem Sessao",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        1340,
        -80
      ],
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": false,
            "leftValue": "",
            "typeValidation": "loose"
          },
          "conditions": [
            {
              "id": "cond-has-session",
              "leftValue": "={{ $json.agent }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "notEmpty"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      }
    },
    {
      "id": "node-route-by-session",
      "name": "Route by Session",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        1560,
        -80
      ],
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": false,
            "leftValue": "",
            "typeValidation": "loose"
          },
          "conditions": [
            {
              "id": "cond-route-bruno",
              "leftValue": "={{ $json.agent.toLowerCase() }}",
              "rightValue": "bruno",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      }
    },
    {
      "id": "node-salvar-sessao-bruno",
      "name": "Salvar Sessao Bruno",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4,
      "position": [
        1780,
        0
      ],
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "UeSaLFF10d9utrmA",
          "name": "Google Sheets - Paulo"
        }
      },
      "parameters": {
        "operation": "appendOrUpdate",
        "documentId": {
          "__rl": true,
          "value": "1yDex-TLsx3TCxQ2ZZObTn6X_4Ln83ClMEiZI47y6h5U",
          "mode": "id"
        },
        "sheetName": {
          "mode": "name",
          "value": "Sessoes"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "phone": "={{ $('Extrair Dados').first().json.phoneNumber }}",
            "agent": "Bruno",
            "updated_at": "={{ new Date().toISOString() }}"
          },
          "matchingColumns": [
            "phone"
          ],
          "schema": [
            {
              "id": "phone",
              "displayName": "phone",
              "required": false,
              "defaultMatch": true,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "agent",
              "displayName": "agent",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "updated_at",
              "displayName": "updated_at",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            }
          ]
        },
        "options": {}
      }
    },
    {
      "id": "node-salvar-sessao-ana",
      "name": "Salvar Sessao Ana",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4,
      "position": [
        1780,
        140
      ],
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "UeSaLFF10d9utrmA",
          "name": "Google Sheets - Paulo"
        }
      },
      "parameters": {
        "operation": "appendOrUpdate",
        "documentId": {
          "__rl": true,
          "value": "1yDex-TLsx3TCxQ2ZZObTn6X_4Ln83ClMEiZI47y6h5U",
          "mode": "id"
        },
        "sheetName": {
          "mode": "name",
          "value": "Sessoes"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "phone": "={{ $('Extrair Dados').first().json.phoneNumber }}",
            "agent": "Ana",
            "updated_at": "={{ new Date().toISOString() }}"
          },
          "matchingColumns": [
            "phone"
          ],
          "schema": [
            {
              "id": "phone",
              "displayName": "phone",
              "required": false,
              "defaultMatch": true,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "agent",
              "displayName": "agent",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "updated_at",
              "displayName": "updated_at",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            }
          ]
        },
        "options": {}
      }
    },
    {
      "id": "node-limpar-sessao",
      "name": "Limpar Sessao",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4,
      "position": [
        1340,
        80
      ],
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "UeSaLFF10d9utrmA",
          "name": "Google Sheets - Paulo"
        }
      },
      "parameters": {
        "operation": "update",
        "documentId": {
          "__rl": true,
          "value": "1yDex-TLsx3TCxQ2ZZObTn6X_4Ln83ClMEiZI47y6h5U",
          "mode": "id"
        },
        "sheetName": {
          "mode": "name",
          "value": "Sessoes"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "phone": "={{ $('Extrair Dados').first().json.phoneNumber }}",
            "agent": "",
            "updated_at": "={{ new Date().toISOString() }}"
          },
          "matchingColumns": [
            "phone"
          ],
          "schema": [
            {
              "id": "phone",
              "displayName": "phone",
              "required": false,
              "defaultMatch": true,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "agent",
              "displayName": "agent",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "updated_at",
              "displayName": "updated_at",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            }
          ]
        },
        "options": {}
      }
    },
    {
      "id": "node-buscar-reunioes",
      "name": "Buscar Reuniões",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        768,
        720
      ],
      "parameters": {
        "method": "GET",
        "url": "https://www.googleapis.com/calendar/v3/calendars/primary/events",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "googleCalendarOAuth2Api",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "timeMin",
              "value": "={{ new Date(new Date().getFullYear(), new Date().getMonth(), 1).toISOString() }}"
            },
            {
              "name": "timeMax",
              "value": "={{ new Date(new Date().getFullYear(), new Date().getMonth() + 1, 0, 23, 59, 59).toISOString() }}"
            },
            {
              "name": "maxResults",
              "value": "100"
            },
            {
              "name": "singleEvents",
              "value": "true"
            },
            {
              "name": "orderBy",
              "value": "startTime"
            }
          ]
        },
        "options": {}
      },
      "credentials": {
        "googleCalendarOAuth2Api": {
          "id": "QGp1FxkKTfYhYYJ0",
          "name": "Google Calendar - Paulo"
        }
      },
      "continueOnFail": true,
      "alwaysOutputData": true
    },
    {
      "id": "node-if-documento",
      "name": "IF É Documento?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        680,
        520
      ],
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "cond-doc",
              "leftValue": "={{ $json.messageType }}",
              "rightValue": "document",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        }
      }
    },
    {
      "id": "node-baixar-url-midia",
      "name": "Baixar URL Mídia",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        900,
        680
      ],
      "parameters": {
        "method": "GET",
        "url": "=https://graph.facebook.com/v21.0/{{ $json.mediaId }}",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "whatsAppApi",
        "options": {}
      },
      "credentials": {
        "whatsAppApi": {
          "id": "umUchtUGj2ZzikQ5",
          "name": "WhatsApp account"
        }
      }
    },
    {
      "id": "node-baixar-pdf-binary",
      "name": "Baixar PDF Binary",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1120,
        680
      ],
      "parameters": {
        "method": "GET",
        "url": "={{ $json.url }}",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "whatsAppApi",
        "options": {
          "response": {
            "response": {
              "responseFormat": "file"
            }
          }
        }
      },
      "credentials": {
        "whatsAppApi": {
          "id": "umUchtUGj2ZzikQ5",
          "name": "WhatsApp account"
        }
      }
    },
    {
      "id": "node-preparar-gpt4o",
      "name": "Preparar Request GPT-4o",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1340,
        680
      ],
      "parameters": {
        "method": "POST",
        "url": "https://api.openai.com/v1/files",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "openAiApi",
        "sendBody": true,
        "contentType": "multipart-form-data",
        "bodyParameters": {
          "parameters": [
            {
              "name": "purpose",
              "value": "user_data"
            },
            {
              "name": "file",
              "parameterType": "formBinaryData",
              "inputDataFieldName": "data"
            }
          ]
        },
        "options": {}
      },
      "credentials": {
        "openAiApi": {
          "id": "LFnyHUsH7lj5FEvQ",
          "name": "scala-agent"
        }
      }
    },
    {
      "id": "node-extrair-pdf",
      "name": "Extrair Conteúdo PDF",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1560,
        680
      ],
      "parameters": {
        "method": "POST",
        "url": "https://api.openai.com/v1/chat/completions",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "openAiApi",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ model: \"gpt-4o\", max_tokens: 4000, messages: [{ role: \"user\", content: [{ type: \"file\", file: { file_id: $json.id } }, { type: \"text\", text: \"Extraia e organize TODO o conteúdo deste PDF de forma completa. Preserve todas as informações, dados, estratégias, objetivos e instruções. Responda em português.\" }] }] }) }}",
        "options": {}
      },
      "credentials": {
        "openAiApi": {
          "id": "LFnyHUsH7lj5FEvQ",
          "name": "scala-agent"
        }
      }
    },
    {
      "id": "node-formatar-pdf",
      "name": "Formatar Mensagem PDF",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1560,
        520
      ],
      "parameters": {
        "jsCode": "return (() => {\n  const extracted = $input.first().json.choices?.[0]?.message?.content || 'Não foi possível extrair o conteúdo do PDF.';\n  const original = $('Extrair Dados').first().json;\n  return [{\n    json: {\n      phoneNumber: original.phoneNumber,\n      messageText: '[PDF: ' + (original.mediaFilename || 'documento.pdf') + ']\\n\\n' + extracted,\n      pushName: original.pushName,\n      conversationId: original.conversationId,\n      timestamp: original.timestamp,\n      messageType: 'text'\n    }\n  }];\n})();"
      }
    },
    {
      "id": "node-buscar-historico-paulo",
      "name": "Buscar Histórico Paulo",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4,
      "position": [
        768,
        160
      ],
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "UeSaLFF10d9utrmA",
          "name": "Google Sheets - Paulo"
        }
      },
      "alwaysOutputData": true,
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "1yDex-TLsx3TCxQ2ZZObTn6X_4Ln83ClMEiZI47y6h5U",
          "mode": "id"
        },
        "sheetName": {
          "mode": "name",
          "value": "Conversas"
        },
        "options": {}
      }
    }
  ],
  "connections": {
    "WhatsApp Trigger": {
      "main": [
        [
          {
            "node": "Extrair Dados",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extrair Dados": {
      "main": [
        [
          {
            "node": "IF É Documento?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Montar Contexto": {
      "main": [
        [
          {
            "node": "OpenAI GPT-4o-mini",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI GPT-4o-mini": {
      "main": [
        [
          {
            "node": "Delay Humano",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Delay Humano": {
      "main": [
        [
          {
            "node": "Preparar Resposta",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Preparar Resposta": {
      "main": [
        [
          {
            "node": "Salvar Mensagem User",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Salvar Mensagem User": {
      "main": [
        [
          {
            "node": "Salvar Resposta Assistente",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Salvar Resposta Assistente": {
      "main": [
        [
          {
            "node": "Enviar Resposta WhatsApp",
            "type": "main",
            "index": 0
          },
          {
            "node": "CRM Preparar Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Buscar Histórico": {
      "main": [
        [
          {
            "node": "Buscar Disponibilidade",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Buscar Disponibilidade": {
      "main": [
        [
          {
            "node": "Formatar Slots",
            "type": "main",
            "index": 0
          }
        ],
        []
      ]
    },
    "Formatar Slots": {
      "main": [
        [
          {
            "node": "Buscar Reuniões",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Enviar Resposta WhatsApp": {
      "main": [
        [
          {
            "node": "Detectar Agendamento",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Detectar Agendamento": {
      "main": [
        [
          {
            "node": "Extrair Info Agendamento",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extrair Info Agendamento": {
      "main": [
        [
          {
            "node": "Criar Evento Calendar",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Criar Evento Calendar": {
      "main": [
        [
          {
            "node": "Enviar Link Meet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "CRM Preparar Request": {
      "main": [
        [
          {
            "node": "CRM Extrair Perfil",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "CRM Extrair Perfil": {
      "main": [
        [
          {
            "node": "CRM Formatar Lead",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "CRM Formatar Lead": {
      "main": [
        [
          {
            "node": "CRM Salvar Lead",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "É Paulo?": {
      "main": [
        [
          {
            "node": "Buscar Sessao",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Buscar Histórico",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Switch Agente": {
      "main": [
        [
          {
            "node": "Salvar Sessao Bruno",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Salvar Sessao Ana",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Enviar Menu",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Buscar Sessao": {
      "main": [
        [
          {
            "node": "IF Resetar Menu",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "IF Resetar Menu": {
      "main": [
        [
          {
            "node": "Limpar Sessao",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "IF Tem Sessao",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Limpar Sessao": {
      "main": [
        [
          {
            "node": "Enviar Menu",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "IF Tem Sessao": {
      "main": [
        [
          {
            "node": "Route by Session",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Switch Agente",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Route by Session": {
      "main": [
        [
          {
            "node": "Chamar Bruno (Campaign Agent)",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Buscar Histórico",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Salvar Sessao Bruno": {
      "main": [
        [
          {
            "node": "Chamar Bruno (Campaign Agent)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Salvar Sessao Ana": {
      "main": [
        [
          {
            "node": "Buscar Histórico",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Buscar Reuniões": {
      "main": [
        [
          {
            "node": "Montar Contexto",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "IF É Documento?": {
      "main": [
        [
          {
            "node": "Baixar URL Mídia",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "É Paulo?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Baixar URL Mídia": {
      "main": [
        [
          {
            "node": "Baixar PDF Binary",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Baixar PDF Binary": {
      "main": [
        [
          {
            "node": "Preparar Request GPT-4o",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Preparar Request GPT-4o": {
      "main": [
        [
          {
            "node": "Extrair Conteúdo PDF",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extrair Conteúdo PDF": {
      "main": [
        [
          {
            "node": "Formatar Mensagem PDF",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Formatar Mensagem PDF": {
      "main": [
        [
          {
            "node": "É Paulo?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Buscar Histórico Paulo": {
      "main": [
        [
          {
            "node": "Buscar Disponibilidade",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "timezone": "America/Sao_Paulo",
    "saveDataSuccessExecution": "all",
    "callerPolicy": "workflowsFromSameOwner",
    "availableInMCP": false
  },
  "staticData": null,
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "pinData": {},
  "versionId": "93de42fe-f00a-4201-ab42-b295bdf8a264",
  "activeVersionId": "93de42fe-f00a-4201-ab42-b295bdf8a264",
  "versionCounter": 164,
  "triggerCount": 1,
  "shared": [
    {
      "updatedAt": "2026-03-16T16:23:32.959Z",
      "createdAt": "2026-03-16T16:23:32.959Z",
      "role": "workflow:owner",
      "workflowId": "EVbZX91iB5moD6I4",
      "projectId": "4fhKBbB4lEBuxqVT",
      "project": {
        "updatedAt": "2026-03-09T14:37:49.815Z",
        "createdAt": "2026-03-09T14:14:16.132Z",
        "id": "4fhKBbB4lEBuxqVT",
        "name": "Paulo Nunan <ph.nunan@gmail.com>",
        "type": "personal",
        "icon": null,
        "description": null,
        "creatorId": "cdef1802-d0c6-490f-add8-cd6f5c4b604d"
      }
    }
  ],
  "tags": [],
  "activeVersion": {
    "updatedAt": "2026-03-20T02:13:06.892Z",
    "createdAt": "2026-03-20T02:13:06.892Z",
    "versionId": "93de42fe-f00a-4201-ab42-b295bdf8a264",
    "workflowId": "EVbZX91iB5moD6I4",
    "nodes": [
      {
        "parameters": {
          "updates": [
            "messages"
          ],
          "options": {}
        },
        "id": "node-1",
        "name": "WhatsApp Trigger",
        "type": "n8n-nodes-base.whatsAppTrigger",
        "typeVersion": 1,
        "position": [
          208,
          304
        ],
        "webhookId": "a4d4b2c4-2099-4eb6-980d-df5274d1c1fc",
        "credentials": {
          "whatsAppTriggerApi": {
            "id": "3Ucs5ITEFuzuPAJx",
            "name": "WhatsApp OAuth account"
          }
        }
      },
      {
        "parameters": {
          "jsCode": "const payload = $input.first().json;\nconst msgs = payload.messages;\nif (!msgs || !msgs.length) return [];\nconst msg = msgs[0];\nconst phone = msg.from || '';\nconst name = payload.contacts?.[0]?.profile?.name || '';\nconst convId = 'scala_' + phone;\nconst ts = new Date().toISOString();\n\nif (msg.type === 'text') {\n  const text = msg.text?.body?.trim() || '';\n  if (!phone || !text) return [];\n  return [{ json: { phoneNumber: phone, messageText: text, pushName: name, conversationId: convId, timestamp: ts, messageType: 'text' } }];\n} else if (msg.type === 'document') {\n  const doc = msg.document || {};\n  if (!phone || !doc.id) return [];\n  return [{ json: { phoneNumber: phone, messageText: '', pushName: name, conversationId: convId, timestamp: ts, messageType: 'document', mediaId: doc.id, mediaFilename: doc.filename || 'documento.pdf' } }];\n}\nreturn [];"
        },
        "id": "node-2",
        "name": "Extrair Dados",
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          480,
          304
        ]
      },
      {
        "parameters": {
          "documentId": {
            "__rl": true,
            "value": "1yDex-TLsx3TCxQ2ZZObTn6X_4Ln83ClMEiZI47y6h5U",
            "mode": "id"
          },
          "sheetName": {
            "mode": "name",
            "value": "Conversas"
          },
          "options": {}
        },
        "id": "node-3",
        "name": "Buscar Histórico",
        "type": "n8n-nodes-base.googleSheets",
        "typeVersion": 4,
        "position": [
          768,
          304
        ],
        "credentials": {
          "googleSheetsOAuth2Api": {
            "id": "UeSaLFF10d9utrmA",
            "name": "Google Sheets - Paulo"
          }
        },
        "alwaysOutputData": true
      },
      {
        "parameters": {
          "jsCode": "return (() => {\nconst { messageText, pushName, conversationId, phoneNumber, timestamp } = $('Extrair Dados').first().json;\nconst isPaulo = phoneNumber === '556181292879';\nconst askingAboutMeetings = isPaulo && /reuni|agenda|diagn|marcamos|agendamos|agendou|marcou|horario|quantos|quantas|hoje|semana|mes/i.test(messageText);\nlet meetingContext = '';\nconst allInputItems = $input.all();\nif (askingAboutMeetings) {\n  try {\n    const calItem = allInputItems.find(item => item.json && item.json.kind === 'calendar#events');\n    const reunioesData = calItem ? calItem.json : { items: [] };\n    const eventos = (reunioesData.items || []).filter(e => e.start && e.start.dateTime);\n    const agora = new Date();\n    const hojeStr = new Date(agora.getTime() - 3 * 60 * 60 * 1000).toISOString().split('T')[0];\n    const mesAtual = agora.getMonth();\n    const anoAtual = agora.getFullYear();\n    const getEventDateTime = (e) => new Date(e.start.dateTime);\n    const getEventDate = (e) => new Date(getEventDateTime(e).getTime() - 3 * 60 * 60 * 1000).toISOString().split('T')[0];\n    const reunioesMes = eventos.filter(e => {\n      const d = getEventDateTime(e);\n      return d.getMonth() === mesAtual && d.getFullYear() === anoAtual;\n    });\n    const reunioesHoje = reunioesMes.filter(e => getEventDate(e) === hojeStr);\n    const reunioesPassadas = reunioesMes.filter(e => getEventDateTime(e) < agora);\n    const reunioesProximas = reunioesMes.filter(e => getEventDateTime(e) >= agora);\n    const formatEvento = (e) => {\n      const dt = getEventDateTime(e);\n      const data = dt.toLocaleDateString('pt-BR', {weekday:'short', day:'2-digit', month:'2-digit', timeZone:'America/Sao_Paulo'});\n      const hora = dt.toLocaleTimeString('pt-BR', {hour:'2-digit', minute:'2-digit', timeZone:'America/Sao_Paulo'});\n      return '  - ' + data + ' as ' + hora + ': ' + (e.summary || 'Sem titulo');\n    };\n    const totalMes = reunioesMes.length;\n    const realizadas = reunioesPassadas.length;\n    const futuras = reunioesProximas.length;\n    meetingContext = '\\n<dados_reunioes>\\nDATA DE HOJE: ' + hojeStr + '\\n\\nREUNIOES HOJE: ' + (reunioesHoje.length === 0 ? 'nenhuma' : reunioesHoje.length) + '\\n' + reunioesHoje.map(formatEvento).join('\\n') + '\\n\\nMES ATUAL: ' + totalMes + ' reuniao(oes) no total | ' + realizadas + ' realizadas | ' + futuras + ' futuras\\n\\n' + (realizadas > 0 ? 'REALIZADAS NO MES:\\n' + reunioesPassadas.map(formatEvento).join('\\n') : 'Nenhuma realizada ainda este mes.') + '\\n\\n' + (futuras > 0 ? 'PROXIMAS:\\n' + reunioesProximas.slice(0, 5).map(formatEvento).join('\\n') : 'Nenhuma futura agendada.') + '\\n</dados_reunioes>';\n  } catch(err) {\n    meetingContext = '\\n<dados_reunioes>Erro ao processar dados: ' + err.message + '</dados_reunioes>';\n  }\n}\nconst allRows = $('Buscar Hist\\u00f3rico').all();\nconst history = allRows\n  .filter(item => item.json.conversationId === conversationId)\n  .slice(-20)\n  .map(item => ({ role: item.json.role, content: item.json.content }))\n  .filter(m => m.role && m.content);\nconst slotData = (() => { try { return $('Formatar Slots').first().json; } catch(e) { return {}; } })();\nconst busyText = slotData.busyText || 'nenhum compromisso';\nconst nextSlotsText = slotData.nextSlotsText || 'proximos dias';\nconst leadName = pushName || '';\nconst historicoFormatado = history.map(m => (m.role === 'user' ? 'Lead' : 'Ana') + ': ' + m.content).join('\\n');\nlet systemPrompt;\nif (isPaulo) {\n  systemPrompt = '<modo_dono>\\nVoce e a Ana, assistente executiva de Paulo, dono da Scala Automacoes.\\nVoce NAO esta vendendo nada para Paulo - ele e o dono da empresa.\\nTrate Paulo como seu chefe direto: seja direta, objetiva e profissional.\\n</modo_dono>\\n\\n<comportamento_com_paulo>\\n- Voce e a assistente executiva de Paulo - responda de forma direta e objetiva, sem pitch de vendas\\n- Paulo pode perguntar sobre reunioes, agenda, clientes, metricas ou status de automacoes\\n- Quando Paulo perguntar sobre reunioes/agenda: use os dados em <dados_reunioes> se disponiveis. Responda com os numeros e detalhes exatos do que estiver la.\\n- Se <dados_reunioes> mostrar erro ou estiver ausente: diga que nao tem os dados da agenda disponiveis no momento\\n- NUNCA mencione reunioes, agenda ou dados de calendario se Paulo nao perguntar sobre isso\\n- Tom: direto, como conversa entre profissionais que trabalham juntos\\n- Fale em portugues brasileiro natural, sem formalidade excessiva\\n</comportamento_com_paulo>\\n\\n<empresa>\\nScala Automacoes e agencia de automacao e marketing digital, Brasilia/DF.\\nDono: Paulo Nunan\\nAgentes ativos: Ana (atendimento 24/7) + Bruno (gestao de trafego via WhatsApp)\\n</empresa>\\n' + meetingContext + '\\n\\n<historico_conversa>\\n' + historicoFormatado + '\\n</historico_conversa>';\n} else {\n  const leadCtxStr = leadName ? ' O lead se chama ' + leadName + ' (nome do WhatsApp).' : '';\n  systemPrompt = 'Voce e a Ana, consultora executiva de vendas da Scala. Nao e um chatbot \\u2014 e uma profissional especializada em trafego pago, automacao de vendas e marketing digital.' + leadCtxStr + '\\n\\n<missao>\\nSua missao e conduzir uma conversa consultiva para: (1) entender profundamente o negocio e a dor do lead atraves de perguntas estrategicas, (2) qualifica-lo, e (3) quando ele estiver pronto, tornar o diagnostico gratuito o proximo passo obvio e desejavel. Voce NAO tenta fechar nada pelo WhatsApp \\u2014 o objetivo e a reuniao de diagnostico.\\n</missao>\\n\\n<atencao_mensagem_inicial>\\nTODO LEAD QUE VEM DO SITE CHEGA COM A MENSAGEM PRE-FIXADA: \"Oi! Vim pelo site da Scala e quero agendar meu diagnostico gratuito.\"\\nESSA MENSAGEM E UM TEMPLATE AUTOMATICO DO BOTAO DO SITE \\u2014 NAO e intencao real de agendar e NAO indica nivel de consciencia alto.\\nREGRAS ABSOLUTAS:\\n1. NUNCA interprete \"quero agendar\" na primeira mensagem como pedido real de agendamento\\n2. NUNCA oferea horarios ou confirme reuniao na primeira resposta\\n3. TODO LEAD COMECA EM NIVEL NEUTRO, independente do que a mensagem diz\\n4. Sua primeira resposta deve ser uma saudacao calorosa + 1 pergunta de situacao para entender quem e esse lead\\n5. O nivel de consciencia so pode ser descoberto atraves da conversa, nao pela mensagem inicial\\n</atencao_mensagem_inicial>\\n\\n<empresa>\\nScala: infraestrutura digital para ecossistemas de vendas. Estruturamos o caminho entre o lead e o fechamento. Publico-alvo: gestores de trafego, agencias e donos de negocio que investem em trafego pago.\\n</empresa>\\n\\n<spin_selling>\\nVoce usa SPIN Selling \\u2014 abordagem consultiva que descobre e aprofunda dores antes de apresentar solucoes. Conduza a conversa pelas 4 fases:\\n\\nFASE S \\u2014 SITUACAO (entender o contexto atual):\\nDescubra a operacao atual do lead. Uma pergunta por vez. Ex: \"Voce trabalha com trafego pago pro seu negocio ou pra clientes?\" / \"Quanto voce investe em ads por mes?\" / \"Quantos leads chegam por mes em media?\"\\n\\nFASE P \\u2014 PROBLEMA (descobrir a dor real):\\nExplore o problema central. Uma pergunta por vez. Ex: \"Como funciona o atendimento desses leads hoje?\" / \"Quando chega lead fora do horario, o que acontece?\" / \"Em quanto tempo voces respondem um lead novo?\"\\n\\nFASE I \\u2014 IMPLICACAO (fazer o lead sentir o peso da dor):\\nAjude o lead a calcular o impacto real. Ele precisa reconhecer, nao voce dizendo. Ex: \"Com esse tempo de resposta, voce estima quantos leads voce perde por mes?\" / \"Com o CPL que voce tem, o que representa perder esses leads em reais?\"\\n\\nFASE N \\u2014 NECESSIDADE (construir o valor da solucao):\\nPerguntas que fazem o lead articular o que ele precisa \\u2014 nao voce empurrando. Ex: \"Se o atendimento respondesse em segundos, como isso mudaria seus fechamentos?\" / \"Que resultado voce precisaria ver em 30 dias pra saber que valeu a pena?\"\\n</spin_selling>\\n\\n<qualificacao>\\nCriterios que voce descobre ao longo da conversa (nunca pergunte tudo de uma vez):\\n- Investimento em trafego pago: R$3.000+/mes (ideal R$5.000+)\\n- Volume de leads: 50+/mes\\n- Problema real: atendimento lento, perda de leads, falta de escala, relatorios manuais\\n- E tomador de decisao (dono, socio ou gestor com autonomia)\\n- Nao busca apenas o mais barato\\n\\nNivel de consciencia do lead (SEMPRE comeca em NEUTRO):\\n- NEUTRO: ponto de partida de todo lead \\u2014 a mensagem inicial nao define o nivel\\n- BAIXO: nao sabe exatamente o que precisa -> faca mais perguntas de situacao e problema\\n- MEDIO: sabe que tem problema mas nao conhece a solucao -> aprofunde implicacoes\\n- ALTO: sabe o que quer e demonstra interesse claro -> avance para necessidade e diagnostico\\n\\nSe o lead claramente nao se qualifica (sem trafego pago, operacao muito pequena), seja honesta: \"A Scala pode nao ser a melhor fit pra voce agora.\"\\n</qualificacao>\\n\\n<tom_de_voz>\\nREGRAS ABSOLUTAS:\\n1. SEJA HUMANA \\u2014 frases curtas, tom de conversa real, nao de vendedor\\n2. UMA PERGUNTA POR VEZ \\u2014 nunca faca multiplas perguntas na mesma mensagem\\n3. OUCA E REFLITA \\u2014 valide o que o lead disse antes de ir pra proxima pergunta\\n4. PORTUGUES NATURAL \\u2014 ta, pra, ne (sem exagero)\\n5. SEM BULLET POINTS \\u2014 prosa corrida, como WhatsApp real\\n6. MAXIMO 1 EMOJI por mensagem (use com parcimonia)\\n7. NUNCA diga que e IA ou chatbot\\n8. USE O NOME do lead quando souber\\n9. DEMONSTRE EXPERTISE \\u2014 mencione CPA, ROAS, CPL, CAC, funil quando relevante\\n10. NAO MENCIONE PRECOS ate o lead perguntar ou estar claramente qualificado\\n11. CRIE RAPPORT \\u2014 mostre que voce entende o mundo deles\\n12. VARIE O COMPRIMENTO \\u2014 misture respostas curtas com contexto quando necessario\\n</tom_de_voz>\\n\\n<fluxo_ideal>\\nMENSAGEM INICIAL (\"Oi! Vim pelo site da Scala e quero agendar meu diagnostico gratuito.\"):\\nATENCAO: e uma mensagem pre-fixada do botao do site. NAO e um pedido real de agendamento.\\nNivel inicial: NEUTRO.\\n-> Resposta calorosa, breve, que mostra que voce entendeu que ele veio do site\\n-> 1 pergunta de situacao para entender quem e esse lead (nunca oferea horarios aqui)\\n\\nApos entender o contexto (nivel pode subir para BAIXO ou MEDIO):\\n-> Valide o que entendeu + 1 pergunta de problema\\n\\nApos identificar a dor (nivel MEDIO):\\n-> 1 pergunta de implicacao (faca o lead calcular o impacto em reais ou leads perdidos)\\n\\nApos lead sentir o impacto e demonstrar interesse claro (nivel ALTO):\\n-> 1 pergunta de necessidade + transicao natural para o diagnostico\\n\\nSo quando lead mostrar interesse real e estiver qualificado:\\n-> Oferecer diagnostico como proximo passo logico, nao como venda\\n-> Proponha 2 horarios disponiveis\\n</fluxo_ideal>\\n\\n<agendamento>\\nOBJETIVO: agendar DIAGNOSTICO GRATUITO de 20-30 min por Google Meet.\\nPositionamento: \"nao e call de vendas \\u2014 e uma analise real da sua operacao, voce sai sabendo exatamente o que faz sentido pra voce\"\\nCOMPROMISSOS JA MARCADOS: ' + busyText + '\\nPROXIMAS DISPONIBILIDADES: ' + nextSlotsText + '\\nREGRAS:\\n1. SO oferea o diagnostico quando o lead demonstrar interesse real \\u2014 nunca na primeira mensagem\\n2. Proponha 2 horarios disponiveis de forma direta\\n3. Se lead confirmar horario: CONFIRME IMEDIATAMENTE, diga que vai enviar link do Meet\\n4. Nao precisa fechar nada na conversa \\u2014 o diagnostico e o proximo passo\\n</agendamento>\\n\\n<objecoes>\\n\"E caro / qual o preco?\": Faz sentido voce querer entender o ROI antes de decidir. Por isso o diagnostico existe \\u2014 voce sai sabendo exatamente quanto voce ta perdendo e se a Scala faz sentido pro seu numero. Me conta, quanto voce investe em trafego hoje?\\n\\n\"Ja tentei chatbot e nao funcionou\": Entendo, a maioria dos chatbots sao fluxos engessados que irritam quem recebe. O que a Scala usa e IA conversacional \\u2014 ela entende contexto, quebra objecoes e adapta a conversa em tempo real. Bem diferente. Mas voce vai avaliar no diagnostico.\\n\\n\"Preciso pensar / falar com o socio\": Claro, faz sentido. O que geralmente ajuda e ter uma analise da operacao de voces em maos antes de decidir. O diagnostico e gratuito e voce sai com dados concretos \\u2014 facilita muito a conversa interna.\\n\\n\"Nao tenho tempo\": Sem problema. O diagnostico e 20 minutos, a gente vai direto ao ponto. Quando seria uma janela boa essa semana?\\n\\n\"Ja tenho solucao\": Otimo! Curiosidade: qual e a taxa de resposta atual pra leads novos que chegam? Pergunto porque muita gente acha que ta bem ate ver o numero de lado a lado.\\n</objecoes>\\n\\n<servicos>\\n1. RELATORIOS INTELIGENTES - a partir de R$300/mes\\n2. CRM AUTOMATIZADO - a partir de R$400/mes\\n3. QUALIFICACAO DE LEADS - a partir de R$400/mes\\n4. FOLLOW-UP COM IA - a partir de R$350/mes\\n5. ATENDIMENTO IA 24/7 - a partir de R$500/mes\\n6. AUTOMACAO DE ADS - a partir de R$450/mes\\nNao mencione precos proativamente \\u2014 so se perguntado.\\n</servicos>\\n\\n<limites>\\nNUNCA: invente informacoes; fale mal de concorrentes; prometa resultados especificos; feche vendas pelo WhatsApp; mande links externos exceto https://portfolio-scala.vercel.app/\\n</limites>';\n}\nconst requestBody = {\n  model: 'gpt-4o-mini',\n  max_tokens: 450,\n  temperature: 0.75,\n  messages: [{ role: 'system', content: systemPrompt }, ...history, { role: 'user', content: messageText }]\n};\nreturn [{ json: { requestBody, conversationId, phoneNumber, originalMessage: messageText, pushName, timestamp } }];\n})();"
        },
        "id": "node-4",
        "name": "Montar Contexto",
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          1040,
          304
        ]
      },
      {
        "parameters": {
          "method": "POST",
          "url": "https://api.openai.com/v1/chat/completions",
          "authentication": "predefinedCredentialType",
          "nodeCredentialType": "openAiApi",
          "sendHeaders": true,
          "headerParameters": {
            "parameters": [
              {
                "name": "Content-Type",
                "value": "application/json"
              }
            ]
          },
          "sendBody": true,
          "specifyBody": "json",
          "jsonBody": "={{ JSON.stringify($json.requestBody) }}",
          "options": {}
        },
        "id": "node-5",
        "name": "OpenAI GPT-4o-mini",
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.2,
        "position": [
          1328,
          304
        ],
        "credentials": {
          "openAiApi": {
            "id": "LFnyHUsH7lj5FEvQ",
            "name": "scala-agent"
          }
        }
      },
      {
        "parameters": {
          "amount": 5,
          "unit": "seconds"
        },
        "id": "node-6",
        "name": "Delay Humano",
        "type": "n8n-nodes-base.wait",
        "typeVersion": 1,
        "position": [
          1600,
          304
        ],
        "webhookId": "7dd3b2fa-8af2-4b18-83a6-ec1a2bb41696"
      },
      {
        "parameters": {
          "jsCode": "const aiResponse = $input.first().json.choices?.[0]?.message?.content || '';\nconst ctx = $('Montar Contexto').first().json;\nreturn [{ json: { aiResponse, phoneNumber: ctx.phoneNumber, conversationId: ctx.conversationId, originalMessage: ctx.originalMessage, pushName: ctx.pushName, timestamp: new Date().toISOString() } }];"
        },
        "id": "node-7",
        "name": "Preparar Resposta",
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          1888,
          304
        ]
      },
      {
        "parameters": {
          "operation": "append",
          "documentId": {
            "mode": "id",
            "value": "1yDex-TLsx3TCxQ2ZZObTn6X_4Ln83ClMEiZI47y6h5U"
          },
          "sheetName": {
            "mode": "name",
            "value": "Conversas"
          },
          "columns": {
            "mappingMode": "defineBelow",
            "value": {
              "conversationId": "={{ $json.conversationId }}",
              "role": "user",
              "content": "={{ $json.originalMessage }}",
              "pushName": "={{ $json.pushName }}",
              "timestamp": "={{ $json.timestamp }}"
            }
          },
          "options": {}
        },
        "id": "node-8",
        "name": "Salvar Mensagem User",
        "type": "n8n-nodes-base.googleSheets",
        "typeVersion": 4,
        "position": [
          2160,
          304
        ],
        "credentials": {
          "googleSheetsOAuth2Api": {
            "id": "UeSaLFF10d9utrmA",
            "name": "Google Sheets - Paulo"
          }
        }
      },
      {
        "parameters": {
          "operation": "append",
          "documentId": {
            "mode": "id",
            "value": "1yDex-TLsx3TCxQ2ZZObTn6X_4Ln83ClMEiZI47y6h5U"
          },
          "sheetName": {
            "mode": "name",
            "value": "Conversas"
          },
          "columns": {
            "mappingMode": "autoMapInputData",
            "value": {
              "conversationId": "={{ $json.conversationId }}",
              "role": "assistant",
              "content": "={{ $json.aiResponse }}",
              "pushName": "={{ $json.pushName }}",
              "timestamp": "={{ $json.timestamp }}"
            }
          },
          "options": {}
        },
        "id": "node-9",
        "name": "Salvar Resposta Assistente",
        "type": "n8n-nodes-base.googleSheets",
        "typeVersion": 4,
        "position": [
          2448,
          304
        ],
        "credentials": {
          "googleSheetsOAuth2Api": {
            "id": "UeSaLFF10d9utrmA",
            "name": "Google Sheets - Paulo"
          }
        }
      },
      {
        "parameters": {
          "operation": "send",
          "phoneNumberId": "971782562694033",
          "recipientPhoneNumber": "={{ $('Preparar Resposta').first().json.phoneNumber }}",
          "textBody": "={{ $('Preparar Resposta').first().json.aiResponse }}",
          "additionalFields": {}
        },
        "id": "node-10",
        "name": "Enviar Resposta WhatsApp",
        "type": "n8n-nodes-base.whatsApp",
        "typeVersion": 1,
        "position": [
          2720,
          304
        ],
        "webhookId": "18a8afa8-963f-421e-a8a7-1a43faf86e06",
        "credentials": {
          "whatsAppApi": {
            "id": "umUchtUGj2ZzikQ5",
            "name": "WhatsApp account"
          }
        }
      },
      {
        "id": "node-11",
        "name": "Buscar Disponibilidade",
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.2,
        "position": [
          768,
          560
        ],
        "parameters": {
          "method": "POST",
          "url": "https://www.googleapis.com/calendar/v3/freeBusy",
          "authentication": "predefinedCredentialType",
          "nodeCredentialType": "googleCalendarOAuth2Api",
          "sendBody": true,
          "specifyBody": "json",
          "jsonBody": "={{ JSON.stringify({ timeMin: $now.toISO(), timeMax: $now.plus({days:7}).toISO(), timeZone: 'America/Sao_Paulo', items: [{id: 'primary'}] }) }}",
          "options": {}
        },
        "credentials": {
          "googleCalendarOAuth2Api": {
            "id": "QGp1FxkKTfYhYYJ0",
            "name": "Google Calendar - Paulo"
          }
        },
        "continueOnFail": true,
        "alwaysOutputData": true
      },
      {
        "id": "node-12",
        "name": "Formatar Slots",
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          1040,
          560
        ],
        "parameters": {
          "jsCode": "try {\n  const BRT_MS = 3 * 3600 * 1000;\n  const utcNow = new Date();\n  const brNow = new Date(utcNow.getTime() - BRT_MS);\n  let busyPeriods = [];\n  try {\n    const calData = $input.first().json;\n    busyPeriods = calData.calendars?.primary?.busy || [];\n  } catch(e) {}\n  const busy = busyPeriods.map(b => ({ startUtc: new Date(b.start).getTime(), endUtc: new Date(b.end).getTime() }));\n  const dayNames = ['Dom', 'Seg', 'Ter', 'Qua', 'Qui', 'Sex', 'Sáb'];\n  const pad = n => String(n).padStart(2, '0');\n  const busyText = busy.length > 0 ? busy.map(b => { const startBr = new Date(b.startUtc - BRT_MS); const endBr = new Date(b.endUtc - BRT_MS); return dayNames[startBr.getUTCDay()] + ' ' + pad(startBr.getUTCDate()) + '/' + pad(startBr.getUTCMonth()+1) + ' ' + pad(startBr.getUTCHours()) + ':' + pad(startBr.getUTCMinutes()) + '-' + pad(endBr.getUTCHours()) + ':' + pad(endBr.getUTCMinutes()); }).join(', ') : 'nenhum compromisso agendado esta semana';\n  const freeSlots = [];\n  for (let d = 0; d < 7 && freeSlots.length < 6; d++) {\n    const dayBr = new Date(brNow);\n    dayBr.setUTCDate(dayBr.getUTCDate() + d);\n    const wday = dayBr.getUTCDay();\n    if (wday === 0) continue;\n    const dayLabel = dayNames[wday] + ' ' + pad(dayBr.getUTCDate()) + '/' + pad(dayBr.getUTCMonth()+1);\n    for (let h = 8; h <= 22; h++) {\n      for (const m of [0, 30]) {\n        if (freeSlots.length >= 6) break;\n        const slotBr = new Date(dayBr);\n        slotBr.setUTCHours(h, m, 0, 0);\n        const slotUtcStart = slotBr.getTime() + BRT_MS;\n        const slotUtcEnd = slotUtcStart + 30 * 60 * 1000;\n        if (slotUtcStart <= utcNow.getTime()) continue;\n        const isBusy = busy.some(b => slotUtcStart < b.endUtc && slotUtcEnd > b.startUtc);\n        if (!isBusy) freeSlots.push(dayLabel + ' ' + pad(h) + ':' + pad(m));\n      }\n    }\n  }\n  const nextSlotsText = freeSlots.slice(0, 4).join(', ') || 'próximos dias úteis';\n  return [{ json: { busyText, nextSlotsText, totalBusy: busy.length } }];\n} catch(e) {\n  return [{ json: { busyText: 'nenhum compromisso', nextSlotsText: 'dias úteis 8h-22h', totalBusy: 0 } }];\n}"
        }
      },
      {
        "id": "node-13",
        "name": "Detectar Agendamento",
        "type": "n8n-nodes-base.if",
        "typeVersion": 2,
        "position": [
          2992,
          304
        ],
        "parameters": {
          "conditions": {
            "options": {
              "caseSensitive": false
            },
            "conditions": [
              {
                "id": "cond-1",
                "leftValue": "={{ $('Preparar Resposta').first().json.aiResponse }}",
                "rightValue": "link.{0,60}(instantes|agora|j[áa])|mando o link|te mando o link",
                "operator": {
                  "type": "string",
                  "operation": "regex"
                }
              }
            ],
            "combinator": "and"
          }
        }
      },
      {
        "id": "node-14",
        "name": "Extrair Info Agendamento",
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          3264,
          304
        ],
        "parameters": {
          "jsCode": "const BRT_MS = 3 * 3600 * 1000;\nconst pad = n => String(n).padStart(2, '0');\nconst utcNow = new Date();\nconst brNow = new Date(utcNow.getTime() - BRT_MS);\nconst aiResponse = $('Preparar Resposta').first().json.aiResponse;\nconst pushName = $('Preparar Resposta').first().json.pushName || 'Lead';\nconst phoneNumber = $('Preparar Resposta').first().json.phoneNumber;\nconst timeMatch = aiResponse.match(/(\\d{1,2})[h:](\\d{2})?(?!\\d)/i);\nconst hour = timeMatch ? parseInt(timeMatch[1]) : 9;\nconst minute = (timeMatch && timeMatch[2]) ? parseInt(timeMatch[2]) : 0;\nconst dateMatch = aiResponse.match(/(\\d{1,2})\\/(\\d{1,2})/);\nconst targetBr = new Date(brNow);\nif (dateMatch) {\n  const day = parseInt(dateMatch[1]);\n  const month = parseInt(dateMatch[2]);\n  targetBr.setUTCDate(day);\n  targetBr.setUTCMonth(month - 1);\n  if (targetBr.getTime() < brNow.getTime() - 3600*1000) {\n    targetBr.setUTCFullYear(targetBr.getUTCFullYear() + 1);\n  }\n} else {\n  const lower = aiResponse.toLowerCase();\n  const brWeekday = brNow.getUTCDay();\n  const weekdayMap = { 'segunda': 1, 'terça': 2, 'quarta': 3, 'quinta': 4, 'sexta': 5, 'sábado': 6 };\n  if (lower.includes('hoje')) {\n  } else if (lower.includes('amanhã') || lower.includes('amanha')) {\n    targetBr.setUTCDate(targetBr.getUTCDate() + 1);\n  } else {\n    for (const [kw, wd] of Object.entries(weekdayMap)) {\n      if (lower.includes(kw)) {\n        let diff = wd - brWeekday;\n        if (diff <= 0) diff += 7;\n        targetBr.setUTCDate(targetBr.getUTCDate() + diff);\n        break;\n      }\n    }\n  }\n}\ntargetBr.setUTCHours(hour, minute, 0, 0);\nconst endHour = minute >= 30 ? hour + 1 : hour;\nconst endMinute = minute >= 30 ? 0 : 30;\nconst startISO = targetBr.getUTCFullYear() + '-' + pad(targetBr.getUTCMonth()+1) + '-' + pad(targetBr.getUTCDate()) + 'T' + pad(hour) + ':' + pad(minute) + ':00';\nconst endISO = targetBr.getUTCFullYear() + '-' + pad(targetBr.getUTCMonth()+1) + '-' + pad(targetBr.getUTCDate()) + 'T' + pad(endHour) + ':' + pad(endMinute) + ':00';\nconst humanDate = pad(targetBr.getUTCDate()) + '/' + pad(targetBr.getUTCMonth()+1) + ' às ' + pad(hour) + ':' + pad(minute);\nconst requestId = 'scala-' + targetBr.getUTCFullYear() + pad(targetBr.getUTCMonth()+1) + pad(targetBr.getUTCDate()) + '-' + pad(hour) + pad(minute);\nreturn [{ json: { startISO, endISO, leadName: pushName, phoneNumber, requestId, summary: 'Diagnóstico Gratuito Scala - ' + pushName, humanDate } }];"
        }
      },
      {
        "id": "node-15",
        "name": "Criar Evento Calendar",
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.2,
        "position": [
          3536,
          304
        ],
        "parameters": {
          "method": "POST",
          "url": "https://www.googleapis.com/calendar/v3/calendars/primary/events?conferenceDataVersion=1",
          "authentication": "predefinedCredentialType",
          "nodeCredentialType": "googleCalendarOAuth2Api",
          "sendBody": true,
          "specifyBody": "json",
          "jsonBody": "={{ JSON.stringify({ summary: $json.summary, description: 'Diagnóstico gratuito agendado via WhatsApp pela Ana (Scala)', start: { dateTime: $json.startISO, timeZone: 'America/Sao_Paulo' }, end: { dateTime: $json.endISO, timeZone: 'America/Sao_Paulo' }, conferenceData: { createRequest: { requestId: $json.requestId, conferenceSolutionKey: { type: 'hangoutsMeet' } } }, reminders: { useDefault: true } }) }}",
          "options": {}
        },
        "credentials": {
          "googleCalendarOAuth2Api": {
            "id": "QGp1FxkKTfYhYYJ0",
            "name": "Google Calendar - Paulo"
          }
        }
      },
      {
        "id": "node-16",
        "name": "Enviar Link Meet",
        "type": "n8n-nodes-base.whatsApp",
        "typeVersion": 1,
        "position": [
          3808,
          304
        ],
        "parameters": {
          "operation": "send",
          "phoneNumberId": "971782562694033",
          "recipientPhoneNumber": "={{ $('Extrair Info Agendamento').first().json.phoneNumber }}",
          "textBody": "={{ '🗓️ Diagnóstico Gratuito Scala\\n' + $('Extrair Info Agendamento').first().json.humanDate + '\\n\\n' + ($json.hangoutLink || $json.conferenceData?.entryPoints?.[0]?.uri || '') + '\\n\\nNos vemos lá!' }}",
          "additionalFields": {}
        },
        "credentials": {
          "whatsAppApi": {
            "id": "umUchtUGj2ZzikQ5",
            "name": "WhatsApp account"
          }
        }
      },
      {
        "id": "node-17",
        "name": "CRM Preparar Request",
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          2448,
          560
        ],
        "parameters": {
          "jsCode": "const ctx = $('Preparar Resposta').first().json;\nconst messages = $('Montar Contexto').first().json.requestBody.messages;\nconst conv = messages.filter(m => m.role !== 'system');\nif (conv.length < 2) return [];\nconst conversationText = conv.map(m => (m.role === 'user' ? 'Lead' : 'Ana') + ': ' + m.content).join('\\n');\nconst requestBody = {\n  model: 'gpt-4o-mini',\n  max_tokens: 150,\n  temperature: 0,\n  response_format: { type: 'json_object' },\n  messages: [\n    { role: 'system', content: 'Analise a conversa de vendas e retorne JSON com os campos: nome (nome do lead), negocio (tipo de empresa ou negócio), dor (principal problema ou dor mencionada), classificacao (QUENTE se dor clara e urgência, MORNO se interesse sem urgência, FRIO se só curiosidade, INDEFINIDO se sem dados), status (em_atendimento, agendado se reunião foi confirmada, perdido se desistiu), volume_leads (número de leads por mês mencionado ou vazio), investimento_trafego (valor mensal em tráfego mencionado ou vazio). Use string vazia quando não souber.' },\n    { role: 'user', content: conversationText }\n  ]\n};\nreturn [{ json: { requestBody, phoneNumber: ctx.phoneNumber, pushName: ctx.pushName, conversationId: ctx.conversationId } }];"
        }
      },
      {
        "id": "node-18",
        "name": "CRM Extrair Perfil",
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.2,
        "position": [
          2720,
          560
        ],
        "parameters": {
          "method": "POST",
          "url": "https://api.openai.com/v1/chat/completions",
          "authentication": "predefinedCredentialType",
          "nodeCredentialType": "openAiApi",
          "sendHeaders": true,
          "headerParameters": {
            "parameters": [
              {
                "name": "Content-Type",
                "value": "application/json"
              }
            ]
          },
          "sendBody": true,
          "specifyBody": "json",
          "jsonBody": "={{ JSON.stringify($json.requestBody) }}",
          "options": {}
        },
        "credentials": {
          "openAiApi": {
            "id": "LFnyHUsH7lj5FEvQ",
            "name": "scala-agent"
          }
        }
      },
      {
        "id": "node-19",
        "name": "CRM Formatar Lead",
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          2992,
          560
        ],
        "parameters": {
          "jsCode": "const raw = $input.first().json.choices?.[0]?.message?.content || '{}';\nconst prep = $('CRM Preparar Request').first().json;\nlet profile = {};\ntry { profile = JSON.parse(raw); } catch(e) {}\nconst BRT_MS = 3 * 3600 * 1000;\nconst pad = n => String(n).padStart(2, '0');\nconst formatBR = (isoStr) => { const br = new Date(new Date(isoStr).getTime() - BRT_MS); return pad(br.getUTCDate()) + '/' + pad(br.getUTCMonth()+1) + '/' + br.getUTCFullYear() + ' ' + pad(br.getUTCHours()) + ':' + pad(br.getUTCMinutes()); };\nconst allRows = $('Buscar Histórico').all();\nconst convRows = allRows.filter(r => r.json.conversationId === prep.conversationId && r.json.timestamp).sort((a, b) => new Date(a.json.timestamp) - new Date(b.json.timestamp));\nconst firstContact = convRows.length > 0 ? convRows[0].json.timestamp : new Date().toISOString();\nreturn [{ json: { telefone: prep.phoneNumber, nome: profile.nome || prep.pushName || '', negocio: profile.negocio || '', dor: profile.dor || '', classificacao: profile.classificacao || 'INDEFINIDO', status: profile.status || 'em_atendimento', volume_leads: profile.volume_leads || '', investimento_trafego: profile.investimento_trafego || '', data_primeiro_contato: formatBR(firstContact), ultima_atualizacao: formatBR(new Date().toISOString()) } }];"
        }
      },
      {
        "id": "node-20",
        "name": "CRM Salvar Lead",
        "type": "n8n-nodes-base.googleSheets",
        "typeVersion": 4,
        "position": [
          3264,
          560
        ],
        "parameters": {
          "operation": "appendOrUpdate",
          "documentId": {
            "__rl": true,
            "value": "1yDex-TLsx3TCxQ2ZZObTn6X_4Ln83ClMEiZI47y6h5U",
            "mode": "id"
          },
          "sheetName": {
            "mode": "name",
            "value": "Leads"
          },
          "columns": {
            "mappingMode": "defineBelow",
            "value": {
              "telefone": "={{ $json.telefone }}",
              "nome": "={{ $json.nome }}",
              "negocio": "={{ $json.negocio }}",
              "dor": "={{ $json.dor }}",
              "classificacao": "={{ $json.classificacao }}",
              "status": "={{ $json.status }}",
              "volume_leads": "={{ $json.volume_leads }}",
              "investimento_trafego": "={{ $json.investimento_trafego }}",
              "data_primeiro_contato": "={{ $json.data_primeiro_contato }}",
              "ultima_atualizacao": "={{ $json.ultima_atualizacao }}"
            },
            "matchingColumns": [
              "telefone"
            ]
          },
          "options": {}
        },
        "credentials": {
          "googleSheetsOAuth2Api": {
            "id": "UeSaLFF10d9utrmA",
            "name": "Google Sheets - Paulo"
          }
        }
      },
      {
        "id": "node-router-gestor",
        "name": "É Paulo?",
        "type": "n8n-nodes-base.if",
        "typeVersion": 2,
        "position": [
          680,
          304
        ],
        "parameters": {
          "conditions": {
            "options": {
              "caseSensitive": true,
              "leftValue": "",
              "typeValidation": "strict"
            },
            "conditions": [
              {
                "id": "cond-gestor",
                "leftValue": "={{ $('Extrair Dados').first().json.phoneNumber }}",
                "rightValue": "556181292879",
                "operator": {
                  "type": "string",
                  "operation": "equals"
                }
              }
            ],
            "combinator": "and"
          }
        }
      },
      {
        "id": "node-call-campaign-agent",
        "name": "Chamar Bruno (Campaign Agent)",
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.2,
        "position": [
          1120,
          60
        ],
        "parameters": {
          "method": "POST",
          "url": "http://localhost:5678/webhook/campaign-agent",
          "authentication": "none",
          "sendBody": true,
          "contentType": "json",
          "specifyBody": "keypair",
          "bodyParameters": {
            "parameters": [
              {
                "name": "phoneNumber",
                "value": "={{ $('Extrair Dados').first().json.phoneNumber }}"
              },
              {
                "name": "messageText",
                "value": "={{ (() => { try { const t = $('Formatar Mensagem PDF').first().json.messageText; if (t) return t; } catch(e) {} return $('Extrair Dados').first().json.messageText; })() }}"
              }
            ]
          },
          "options": {
            "response": {
              "response": {
                "neverError": true
              }
            }
          }
        }
      },
      {
        "id": "node-switch-agente",
        "name": "Switch Agente",
        "type": "n8n-nodes-base.switch",
        "typeVersion": 3,
        "position": [
          900,
          180
        ],
        "parameters": {
          "mode": "rules",
          "options": {},
          "rules": {
            "values": [
              {
                "conditions": {
                  "options": {
                    "caseSensitive": false,
                    "leftValue": "",
                    "typeValidation": "loose"
                  },
                  "conditions": [
                    {
                      "id": "cond-bruno",
                      "leftValue": "={{ $('Extrair Dados').first().json.messageText.toLowerCase() }}",
                      "rightValue": "bruno",
                      "operator": {
                        "type": "string",
                        "operation": "contains"
                      }
                    }
                  ],
                  "combinator": "and"
                },
                "renameOutput": true,
                "outputKey": "Bruno"
              },
              {
                "conditions": {
                  "options": {
                    "caseSensitive": false,
                    "leftValue": "",
                    "typeValidation": "loose"
                  },
                  "conditions": [
                    {
                      "id": "cond-ana",
                      "leftValue": "={{ $('Extrair Dados').first().json.messageText.toLowerCase() }}",
                      "rightValue": "ana",
                      "operator": {
                        "type": "string",
                        "operation": "contains"
                      }
                    }
                  ],
                  "combinator": "and"
                },
                "renameOutput": true,
                "outputKey": "Ana"
              },
              {
                "conditions": {
                  "options": {
                    "caseSensitive": false,
                    "leftValue": "",
                    "typeValidation": "loose"
                  },
                  "conditions": [
                    {
                      "id": "cond-menu",
                      "leftValue": "1",
                      "rightValue": "1",
                      "operator": {
                        "type": "string",
                        "operation": "equals"
                      }
                    }
                  ],
                  "combinator": "and"
                },
                "renameOutput": true,
                "outputKey": "Menu"
              }
            ]
          },
          "fallbackOutput": "none"
        }
      },
      {
        "id": "node-enviar-menu",
        "name": "Enviar Menu",
        "type": "n8n-nodes-base.whatsApp",
        "typeVersion": 1,
        "position": [
          1120,
          300
        ],
        "credentials": {
          "whatsAppApi": {
            "id": "umUchtUGj2ZzikQ5",
            "name": "WhatsApp account"
          }
        },
        "parameters": {
          "resource": "message",
          "operation": "send",
          "phoneNumberId": "971782562694033",
          "recipientPhoneNumber": "={{ $('Extrair Dados').first().json.phoneNumber }}",
          "textBody": "Olá! 👋 Bem-vindo à *Scala Automações*!\n\nSou a central de atendimento. Com qual agente você gostaria de falar?\n\n🤖 *Ana* — Atendimento, dúvidas e agendamentos\n📊 *Bruno* — Gestão de campanhas Meta Ads e Google Ads\n\nDigite o nome do agente para continuar."
        }
      },
      {
        "id": "node-buscar-sessao",
        "name": "Buscar Sessao",
        "type": "n8n-nodes-base.googleSheets",
        "typeVersion": 4,
        "position": [
          900,
          60
        ],
        "credentials": {
          "googleSheetsOAuth2Api": {
            "id": "UeSaLFF10d9utrmA",
            "name": "Google Sheets - Paulo"
          }
        },
        "alwaysOutputData": true,
        "parameters": {
          "operation": "read",
          "documentId": {
            "__rl": true,
            "value": "1yDex-TLsx3TCxQ2ZZObTn6X_4Ln83ClMEiZI47y6h5U",
            "mode": "id"
          },
          "sheetName": {
            "mode": "name",
            "value": "Sessoes"
          },
          "filtersUI": {
            "values": [
              {
                "lookupColumn": "phone",
                "lookupValue": "={{ $('Extrair Dados').first().json.phoneNumber }}"
              }
            ]
          },
          "options": {
            "returnFirstMatch": true
          }
        }
      },
      {
        "id": "node-if-resetar-menu",
        "name": "IF Resetar Menu",
        "type": "n8n-nodes-base.if",
        "typeVersion": 2,
        "position": [
          1120,
          -80
        ],
        "parameters": {
          "conditions": {
            "options": {
              "caseSensitive": false,
              "leftValue": "",
              "typeValidation": "loose"
            },
            "conditions": [
              {
                "id": "cond-menu-reset",
                "leftValue": "={{ $('Extrair Dados').first().json.messageText.toLowerCase().trim() }}",
                "rightValue": "menu",
                "operator": {
                  "type": "string",
                  "operation": "equals"
                }
              },
              {
                "id": "cond-voltar-reset",
                "leftValue": "={{ $('Extrair Dados').first().json.messageText.toLowerCase().trim() }}",
                "rightValue": "voltar",
                "operator": {
                  "type": "string",
                  "operation": "equals"
                }
              }
            ],
            "combinator": "or"
          },
          "options": {}
        }
      },
      {
        "id": "node-if-tem-sessao",
        "name": "IF Tem Sessao",
        "type": "n8n-nodes-base.if",
        "typeVersion": 2,
        "position": [
          1340,
          -80
        ],
        "parameters": {
          "conditions": {
            "options": {
              "caseSensitive": false,
              "leftValue": "",
              "typeValidation": "loose"
            },
            "conditions": [
              {
                "id": "cond-has-session",
                "leftValue": "={{ $json.agent }}",
                "rightValue": "",
                "operator": {
                  "type": "string",
                  "operation": "notEmpty"
                }
              }
            ],
            "combinator": "and"
          },
          "options": {}
        }
      },
      {
        "id": "node-route-by-session",
        "name": "Route by Session",
        "type": "n8n-nodes-base.if",
        "typeVersion": 2,
        "position": [
          1560,
          -80
        ],
        "parameters": {
          "conditions": {
            "options": {
              "caseSensitive": false,
              "leftValue": "",
              "typeValidation": "loose"
            },
            "conditions": [
              {
                "id": "cond-route-bruno",
                "leftValue": "={{ $json.agent.toLowerCase() }}",
                "rightValue": "bruno",
                "operator": {
                  "type": "string",
                  "operation": "equals"
                }
              }
            ],
            "combinator": "and"
          },
          "options": {}
        }
      },
      {
        "id": "node-salvar-sessao-bruno",
        "name": "Salvar Sessao Bruno",
        "type": "n8n-nodes-base.googleSheets",
        "typeVersion": 4,
        "position": [
          1780,
          0
        ],
        "credentials": {
          "googleSheetsOAuth2Api": {
            "id": "UeSaLFF10d9utrmA",
            "name": "Google Sheets - Paulo"
          }
        },
        "parameters": {
          "operation": "appendOrUpdate",
          "documentId": {
            "__rl": true,
            "value": "1yDex-TLsx3TCxQ2ZZObTn6X_4Ln83ClMEiZI47y6h5U",
            "mode": "id"
          },
          "sheetName": {
            "mode": "name",
            "value": "Sessoes"
          },
          "columns": {
            "mappingMode": "defineBelow",
            "value": {
              "phone": "={{ $('Extrair Dados').first().json.phoneNumber }}",
              "agent": "Bruno",
              "updated_at": "={{ new Date().toISOString() }}"
            },
            "matchingColumns": [
              "phone"
            ],
            "schema": [
              {
                "id": "phone",
                "displayName": "phone",
                "required": false,
                "defaultMatch": true,
                "canBeUsedToMatch": true,
                "display": true,
                "type": "string",
                "readOnly": false,
                "removed": false
              },
              {
                "id": "agent",
                "displayName": "agent",
                "required": false,
                "defaultMatch": false,
                "canBeUsedToMatch": true,
                "display": true,
                "type": "string",
                "readOnly": false,
                "removed": false
              },
              {
                "id": "updated_at",
                "displayName": "updated_at",
                "required": false,
                "defaultMatch": false,
                "canBeUsedToMatch": true,
                "display": true,
                "type": "string",
                "readOnly": false,
                "removed": false
              }
            ]
          },
          "options": {}
        }
      },
      {
        "id": "node-salvar-sessao-ana",
        "name": "Salvar Sessao Ana",
        "type": "n8n-nodes-base.googleSheets",
        "typeVersion": 4,
        "position": [
          1780,
          140
        ],
        "credentials": {
          "googleSheetsOAuth2Api": {
            "id": "UeSaLFF10d9utrmA",
            "name": "Google Sheets - Paulo"
          }
        },
        "parameters": {
          "operation": "appendOrUpdate",
          "documentId": {
            "__rl": true,
            "value": "1yDex-TLsx3TCxQ2ZZObTn6X_4Ln83ClMEiZI47y6h5U",
            "mode": "id"
          },
          "sheetName": {
            "mode": "name",
            "value": "Sessoes"
          },
          "columns": {
            "mappingMode": "defineBelow",
            "value": {
              "phone": "={{ $('Extrair Dados').first().json.phoneNumber }}",
              "agent": "Ana",
              "updated_at": "={{ new Date().toISOString() }}"
            },
            "matchingColumns": [
              "phone"
            ],
            "schema": [
              {
                "id": "phone",
                "displayName": "phone",
                "required": false,
                "defaultMatch": true,
                "canBeUsedToMatch": true,
                "display": true,
                "type": "string",
                "readOnly": false,
                "removed": false
              },
              {
                "id": "agent",
                "displayName": "agent",
                "required": false,
                "defaultMatch": false,
                "canBeUsedToMatch": true,
                "display": true,
                "type": "string",
                "readOnly": false,
                "removed": false
              },
              {
                "id": "updated_at",
                "displayName": "updated_at",
                "required": false,
                "defaultMatch": false,
                "canBeUsedToMatch": true,
                "display": true,
                "type": "string",
                "readOnly": false,
                "removed": false
              }
            ]
          },
          "options": {}
        }
      },
      {
        "id": "node-limpar-sessao",
        "name": "Limpar Sessao",
        "type": "n8n-nodes-base.googleSheets",
        "typeVersion": 4,
        "position": [
          1340,
          80
        ],
        "credentials": {
          "googleSheetsOAuth2Api": {
            "id": "UeSaLFF10d9utrmA",
            "name": "Google Sheets - Paulo"
          }
        },
        "parameters": {
          "operation": "update",
          "documentId": {
            "__rl": true,
            "value": "1yDex-TLsx3TCxQ2ZZObTn6X_4Ln83ClMEiZI47y6h5U",
            "mode": "id"
          },
          "sheetName": {
            "mode": "name",
            "value": "Sessoes"
          },
          "columns": {
            "mappingMode": "defineBelow",
            "value": {
              "phone": "={{ $('Extrair Dados').first().json.phoneNumber }}",
              "agent": "",
              "updated_at": "={{ new Date().toISOString() }}"
            },
            "matchingColumns": [
              "phone"
            ],
            "schema": [
              {
                "id": "phone",
                "displayName": "phone",
                "required": false,
                "defaultMatch": true,
                "canBeUsedToMatch": true,
                "display": true,
                "type": "string",
                "readOnly": false,
                "removed": false
              },
              {
                "id": "agent",
                "displayName": "agent",
                "required": false,
                "defaultMatch": false,
                "canBeUsedToMatch": true,
                "display": true,
                "type": "string",
                "readOnly": false,
                "removed": false
              },
              {
                "id": "updated_at",
                "displayName": "updated_at",
                "required": false,
                "defaultMatch": false,
                "canBeUsedToMatch": true,
                "display": true,
                "type": "string",
                "readOnly": false,
                "removed": false
              }
            ]
          },
          "options": {}
        }
      },
      {
        "id": "node-buscar-reunioes",
        "name": "Buscar Reuniões",
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.2,
        "position": [
          768,
          720
        ],
        "parameters": {
          "method": "GET",
          "url": "https://www.googleapis.com/calendar/v3/calendars/primary/events",
          "authentication": "predefinedCredentialType",
          "nodeCredentialType": "googleCalendarOAuth2Api",
          "sendQuery": true,
          "queryParameters": {
            "parameters": [
              {
                "name": "timeMin",
                "value": "={{ new Date(new Date().getFullYear(), new Date().getMonth(), 1).toISOString() }}"
              },
              {
                "name": "timeMax",
                "value": "={{ new Date(new Date().getFullYear(), new Date().getMonth() + 1, 0, 23, 59, 59).toISOString() }}"
              },
              {
                "name": "maxResults",
                "value": "100"
              },
              {
                "name": "singleEvents",
                "value": "true"
              },
              {
                "name": "orderBy",
                "value": "startTime"
              }
            ]
          },
          "options": {}
        },
        "credentials": {
          "googleCalendarOAuth2Api": {
            "id": "QGp1FxkKTfYhYYJ0",
            "name": "Google Calendar - Paulo"
          }
        },
        "continueOnFail": true,
        "alwaysOutputData": true
      },
      {
        "id": "node-if-documento",
        "name": "IF É Documento?",
        "type": "n8n-nodes-base.if",
        "typeVersion": 2,
        "position": [
          680,
          520
        ],
        "parameters": {
          "conditions": {
            "options": {
              "caseSensitive": true,
              "leftValue": "",
              "typeValidation": "strict"
            },
            "conditions": [
              {
                "id": "cond-doc",
                "leftValue": "={{ $json.messageType }}",
                "rightValue": "document",
                "operator": {
                  "type": "string",
                  "operation": "equals"
                }
              }
            ],
            "combinator": "and"
          }
        }
      },
      {
        "id": "node-baixar-url-midia",
        "name": "Baixar URL Mídia",
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.2,
        "position": [
          900,
          680
        ],
        "parameters": {
          "method": "GET",
          "url": "=https://graph.facebook.com/v21.0/{{ $json.mediaId }}",
          "authentication": "predefinedCredentialType",
          "nodeCredentialType": "whatsAppApi",
          "options": {}
        },
        "credentials": {
          "whatsAppApi": {
            "id": "umUchtUGj2ZzikQ5",
            "name": "WhatsApp account"
          }
        }
      },
      {
        "id": "node-baixar-pdf-binary",
        "name": "Baixar PDF Binary",
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.2,
        "position": [
          1120,
          680
        ],
        "parameters": {
          "method": "GET",
          "url": "={{ $json.url }}",
          "authentication": "predefinedCredentialType",
          "nodeCredentialType": "whatsAppApi",
          "options": {
            "response": {
              "response": {
                "responseFormat": "file"
              }
            }
          }
        },
        "credentials": {
          "whatsAppApi": {
            "id": "umUchtUGj2ZzikQ5",
            "name": "WhatsApp account"
          }
        }
      },
      {
        "id": "node-preparar-gpt4o",
        "name": "Preparar Request GPT-4o",
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.2,
        "position": [
          1340,
          680
        ],
        "parameters": {
          "method": "POST",
          "url": "https://api.openai.com/v1/files",
          "authentication": "predefinedCredentialType",
          "nodeCredentialType": "openAiApi",
          "sendBody": true,
          "contentType": "multipart-form-data",
          "bodyParameters": {
            "parameters": [
              {
                "name": "purpose",
                "value": "user_data"
              },
              {
                "name": "file",
                "parameterType": "formBinaryData",
                "inputDataFieldName": "data"
              }
            ]
          },
          "options": {}
        },
        "credentials": {
          "openAiApi": {
            "id": "LFnyHUsH7lj5FEvQ",
            "name": "scala-agent"
          }
        }
      },
      {
        "id": "node-extrair-pdf",
        "name": "Extrair Conteúdo PDF",
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.2,
        "position": [
          1560,
          680
        ],
        "parameters": {
          "method": "POST",
          "url": "https://api.openai.com/v1/chat/completions",
          "authentication": "predefinedCredentialType",
          "nodeCredentialType": "openAiApi",
          "sendBody": true,
          "specifyBody": "json",
          "jsonBody": "={{ JSON.stringify({ model: \"gpt-4o\", max_tokens: 4000, messages: [{ role: \"user\", content: [{ type: \"file\", file: { file_id: $json.id } }, { type: \"text\", text: \"Extraia e organize TODO o conteúdo deste PDF de forma completa. Preserve todas as informações, dados, estratégias, objetivos e instruções. Responda em português.\" }] }] }) }}",
          "options": {}
        },
        "credentials": {
          "openAiApi": {
            "id": "LFnyHUsH7lj5FEvQ",
            "name": "scala-agent"
          }
        }
      },
      {
        "id": "node-formatar-pdf",
        "name": "Formatar Mensagem PDF",
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          1560,
          520
        ],
        "parameters": {
          "jsCode": "return (() => {\n  const extracted = $input.first().json.choices?.[0]?.message?.content || 'Não foi possível extrair o conteúdo do PDF.';\n  const original = $('Extrair Dados').first().json;\n  return [{\n    json: {\n      phoneNumber: original.phoneNumber,\n      messageText: '[PDF: ' + (original.mediaFilename || 'documento.pdf') + ']\\n\\n' + extracted,\n      pushName: original.pushName,\n      conversationId: original.conversationId,\n      timestamp: original.timestamp,\n      messageType: 'text'\n    }\n  }];\n})();"
        }
      },
      {
        "id": "node-buscar-historico-paulo",
        "name": "Buscar Histórico Paulo",
        "type": "n8n-nodes-base.googleSheets",
        "typeVersion": 4,
        "position": [
          768,
          160
        ],
        "credentials": {
          "googleSheetsOAuth2Api": {
            "id": "UeSaLFF10d9utrmA",
            "name": "Google Sheets - Paulo"
          }
        },
        "alwaysOutputData": true,
        "parameters": {
          "documentId": {
            "__rl": true,
            "value": "1yDex-TLsx3TCxQ2ZZObTn6X_4Ln83ClMEiZI47y6h5U",
            "mode": "id"
          },
          "sheetName": {
            "mode": "name",
            "value": "Conversas"
          },
          "options": {}
        }
      }
    ],
    "connections": {
      "WhatsApp Trigger": {
        "main": [
          [
            {
              "node": "Extrair Dados",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Extrair Dados": {
        "main": [
          [
            {
              "node": "IF É Documento?",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Montar Contexto": {
        "main": [
          [
            {
              "node": "OpenAI GPT-4o-mini",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "OpenAI GPT-4o-mini": {
        "main": [
          [
            {
              "node": "Delay Humano",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Delay Humano": {
        "main": [
          [
            {
              "node": "Preparar Resposta",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Preparar Resposta": {
        "main": [
          [
            {
              "node": "Salvar Mensagem User",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Salvar Mensagem User": {
        "main": [
          [
            {
              "node": "Salvar Resposta Assistente",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Salvar Resposta Assistente": {
        "main": [
          [
            {
              "node": "Enviar Resposta WhatsApp",
              "type": "main",
              "index": 0
            },
            {
              "node": "CRM Preparar Request",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Buscar Histórico": {
        "main": [
          [
            {
              "node": "Buscar Disponibilidade",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Buscar Disponibilidade": {
        "main": [
          [
            {
              "node": "Formatar Slots",
              "type": "main",
              "index": 0
            }
          ],
          []
        ]
      },
      "Formatar Slots": {
        "main": [
          [
            {
              "node": "Buscar Reuniões",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Enviar Resposta WhatsApp": {
        "main": [
          [
            {
              "node": "Detectar Agendamento",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Detectar Agendamento": {
        "main": [
          [
            {
              "node": "Extrair Info Agendamento",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Extrair Info Agendamento": {
        "main": [
          [
            {
              "node": "Criar Evento Calendar",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Criar Evento Calendar": {
        "main": [
          [
            {
              "node": "Enviar Link Meet",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "CRM Preparar Request": {
        "main": [
          [
            {
              "node": "CRM Extrair Perfil",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "CRM Extrair Perfil": {
        "main": [
          [
            {
              "node": "CRM Formatar Lead",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "CRM Formatar Lead": {
        "main": [
          [
            {
              "node": "CRM Salvar Lead",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "É Paulo?": {
        "main": [
          [
            {
              "node": "Buscar Sessao",
              "type": "main",
              "index": 0
            }
          ],
          [
            {
              "node": "Buscar Histórico",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Switch Agente": {
        "main": [
          [
            {
              "node": "Salvar Sessao Bruno",
              "type": "main",
              "index": 0
            }
          ],
          [
            {
              "node": "Salvar Sessao Ana",
              "type": "main",
              "index": 0
            }
          ],
          [
            {
              "node": "Enviar Menu",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Buscar Sessao": {
        "main": [
          [
            {
              "node": "IF Resetar Menu",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "IF Resetar Menu": {
        "main": [
          [
            {
              "node": "Limpar Sessao",
              "type": "main",
              "index": 0
            }
          ],
          [
            {
              "node": "IF Tem Sessao",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Limpar Sessao": {
        "main": [
          [
            {
              "node": "Enviar Menu",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "IF Tem Sessao": {
        "main": [
          [
            {
              "node": "Route by Session",
              "type": "main",
              "index": 0
            }
          ],
          [
            {
              "node": "Switch Agente",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Route by Session": {
        "main": [
          [
            {
              "node": "Chamar Bruno (Campaign Agent)",
              "type": "main",
              "index": 0
            }
          ],
          [
            {
              "node": "Buscar Histórico",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Salvar Sessao Bruno": {
        "main": [
          [
            {
              "node": "Chamar Bruno (Campaign Agent)",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Salvar Sessao Ana": {
        "main": [
          [
            {
              "node": "Buscar Histórico",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Buscar Reuniões": {
        "main": [
          [
            {
              "node": "Montar Contexto",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "IF É Documento?": {
        "main": [
          [
            {
              "node": "Baixar URL Mídia",
              "type": "main",
              "index": 0
            }
          ],
          [
            {
              "node": "É Paulo?",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Baixar URL Mídia": {
        "main": [
          [
            {
              "node": "Baixar PDF Binary",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Baixar PDF Binary": {
        "main": [
          [
            {
              "node": "Preparar Request GPT-4o",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Preparar Request GPT-4o": {
        "main": [
          [
            {
              "node": "Extrair Conteúdo PDF",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Extrair Conteúdo PDF": {
        "main": [
          [
            {
              "node": "Formatar Mensagem PDF",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Formatar Mensagem PDF": {
        "main": [
          [
            {
              "node": "É Paulo?",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Buscar Histórico Paulo": {
        "main": [
          [
            {
              "node": "Buscar Disponibilidade",
              "type": "main",
              "index": 0
            }
          ]
        ]
      }
    },
    "authors": "Paulo Nunan",
    "name": null,
    "description": null,
    "autosaved": false,
    "workflowPublishHistory": [
      {
        "createdAt": "2026-03-20T02:13:10.686Z",
        "id": 177,
        "workflowId": "EVbZX91iB5moD6I4",
        "versionId": "93de42fe-f00a-4201-ab42-b295bdf8a264",
        "event": "activated",
        "userId": "cdef1802-d0c6-490f-add8-cd6f5c4b604d"
      },
      {
        "createdAt": "2026-03-20T02:13:09.202Z",
        "id": 176,
        "workflowId": "EVbZX91iB5moD6I4",
        "versionId": "93de42fe-f00a-4201-ab42-b295bdf8a264",
        "event": "deactivated",
        "userId": "cdef1802-d0c6-490f-add8-cd6f5c4b604d"
      }
    ]
  }
}