n8n-AgenteAtendimento-Ana/workflows/scala-whatsapp-ai-agent.json
{
  "updatedAt": "2026-03-19T02:19:56.306Z",
  "createdAt": "2026-03-16T16:23:32.929Z",
  "id": "EVbZX91iB5moD6I4",
  "name": "Scala — WhatsApp AI Agent (Ana) 24/7",
  "description": null,
  "active": true,
  "isArchived": false,
  "nodes": [
    {
      "parameters": {
        "updates": [
          "messages"
        ],
        "options": {}
      },
      "id": "node-1",
      "name": "WhatsApp Trigger",
      "type": "n8n-nodes-base.whatsAppTrigger",
      "typeVersion": 1,
      "position": [
        208,
        304
      ],
      "webhookId": "a4d4b2c4-2099-4eb6-980d-df5274d1c1fc",
      "credentials": {
        "whatsAppTriggerApi": {
          "id": "3Ucs5ITEFuzuPAJx",
          "name": "WhatsApp OAuth account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const payload = $input.first().json;\nconst msgs = payload.messages;\nif (!msgs || !msgs.length) return [];\nconst msg = msgs[0];\nif (msg.type !== 'text') return [];\nconst phone = msg.from || '';\nconst text = msg.text?.body?.trim() || '';\nif (!phone || !text) return [];\nconst name = payload.contacts?.[0]?.profile?.name || '';\nreturn [{ json: { phoneNumber: phone, messageText: text, pushName: name, conversationId: 'scala_' + phone, timestamp: new Date().toISOString() } }];"
      },
      "id": "node-2",
      "name": "Extrair Dados",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        480,
        304
      ]
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "1yDex-TLsx3TCxQ2ZZObTn6X_4Ln83ClMEiZI47y6h5U",
          "mode": "id"
        },
        "sheetName": {
          "mode": "name",
          "value": "Conversas"
        },
        "options": {}
      },
      "id": "node-3",
      "name": "Buscar Histórico",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4,
      "position": [
        768,
        304
      ],
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "UeSaLFF10d9utrmA",
          "name": "Google Sheets - Paulo"
        }
      },
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "jsCode": "// Detect if Paulo (owner) is messaging\nconst { messageText, pushName, conversationId, phoneNumber, timestamp } = $('Extrair Dados').first().json;\nconst isPaulo = phoneNumber === '556181292879';\n\n// Only inject meeting data when Paulo explicitly asks about it\nconst askingAboutMeetings = isPaulo && /reuni[aã]o?s?|agenda|diagn[oó]stico|marcamos|agendamos|agendou|marcou|hor[aá]rios?|quan(tos?|tas?)|hoje|semana|m[eê]s/i.test(messageText);\n\nlet meetingContext = '';\nif (askingAboutMeetings) {\n  try {\n    const reunioesData = $('Buscar Reuniões').first().json;\n    const eventos = (reunioesData.items || []).filter(e => e.start && e.start.dateTime);\n\n    const agora = new Date();\n    const hojeStr = new Date(agora.getTime() - 3 * 60 * 60 * 1000).toISOString().split('T')[0];\n    const mesAtual = agora.getMonth();\n    const anoAtual = agora.getFullYear();\n\n    const getEventDateTime = (e) => new Date(e.start.dateTime);\n    const getEventDate = (e) => new Date(e.start.dateTime - 3 * 60 * 60 * 1000).toISOString().split('T')[0];\n\n    const reunioesMes = eventos.filter(e => {\n      const d = getEventDateTime(e);\n      return d.getMonth() === mesAtual && d.getFullYear() === anoAtual;\n    });\n\n    const reunioesHoje = reunioesMes.filter(e => getEventDate(e) === hojeStr);\n    const reunioesPassadas = reunioesMes.filter(e => getEventDateTime(e) < agora);\n    const reunioesProximas = reunioesMes.filter(e => getEventDateTime(e) >= agora);\n\n    const formatEvento = (e) => {\n      const dt = getEventDateTime(e);\n      const data = dt.toLocaleDateString('pt-BR', {weekday:'short', day:'2-digit', month:'2-digit', timeZone:'America/Sao_Paulo'});\n      const hora = dt.toLocaleTimeString('pt-BR', {hour:'2-digit', minute:'2-digit', timeZone:'America/Sao_Paulo'});\n      return `  - ${data} às ${hora}: ${e.summary || 'Sem título'}`;\n    };\n\n    meetingContext = `\\n<dados_reunioes>\\nDATA DE HOJE: ${hojeStr}\\n\\nREUNIÕES HOJE: ${reunioesHoje.length === 0 ? 'nenhuma' : reunioesHoje.length}\\n${reunioesHoje.map(formatEvento).join('\\n')}\\n\\nMÊS ATUAL: ${reunioesMes.length} reunião(ões) no total | ${reunioesPassadas.length} realizadas | ${reunioesProximas.length} futuras\\n\\n${reunioesPassadas.length > 0 ? 'REALIZADAS NO MÊS:\\n' + reunioesPassadas.map(formatEvento).join('\\n') : 'Nenhuma realizada ainda este mês.'}\\n\\n${reunioesProximas.length > 0 ? 'PRÓXIMAS:\\n' + reunioesProximas.slice(0, 5).map(formatEvento).join('\\n') : 'Nenhuma futura agendada.'}\\n</dados_reunioes>`;\n  } catch(err) {\n    meetingContext = '\\n<dados_reunioes>Não foi possível carregar os dados da agenda neste momento.</dados_reunioes>';\n  }\n}\n\nconst allRows = $('Buscar Histórico').all();\nconst history = allRows\n  .filter(item => item.json.conversationId === conversationId)\n  .slice(-20)\n  .map(item => ({ role: item.json.role, content: item.json.content }))\n  .filter(m => m.role && m.content);\nconst slotData = $('Formatar Slots').first().json;\nconst busyText = slotData.busyText || 'nenhum compromisso';\nconst nextSlotsText = slotData.nextSlotsText || 'próximos dias';\nconst leadCtx = pushName ? ' O lead se chama ' + pushName + ' (nome do perfil do WhatsApp).' : '';\n\nconst historicoFormatado = history.map(m => `${m.role === 'user' ? 'Lead' : 'Ana'}: ${m.content}`).join('\\n');\n\nlet systemPrompt;\n\nif (isPaulo) {\n  systemPrompt = `<modo_dono>\nVocê é a Ana, assistente executiva de Paulo, dono da Scala Automações.\nVocê NÃO está vendendo nada para Paulo — ele é o dono da empresa.\nTrate Paulo como seu chefe direto: seja direta, objetiva e profissional.\n</modo_dono>\n\n<comportamento_com_paulo>\n- Você é a assistente executiva de Paulo — responda de forma direta e objetiva, sem pitch de vendas\n- Paulo pode perguntar sobre reuniões, agenda, clientes, métricas ou status de automações\n- Quando Paulo perguntar sobre reuniões/agenda: use os dados em <dados_reunioes> se disponíveis. Responda com os números e detalhes exatos do que estiver lá.\n- Se <dados_reunioes> não estiver presente na conversa: diga que não tem os dados da agenda disponíveis no momento\n- NUNCA mencione reuniões, agenda ou dados de calendário se Paulo não perguntar sobre isso\n- Tom: direto, como conversa entre profissionais que trabalham juntos\n- Fale em português brasileiro natural, sem formalidade excessiva\n</comportamento_com_paulo>\n\n<empresa>\nScala Automações — agência de automação e marketing digital, Brasília/DF.\nDono: Paulo Nunan\nAgentes ativos: Ana (atendimento 24/7) + Bruno (gestão de tráfego via WhatsApp)\nMeta Ad Account: act_1605651367382391 (Scala-Conta-Anúncios)\nGoogle Ads MCC: 4323799990\n</empresa>\n\n${meetingContext}\n\n<historico_conversa>\n${historicoFormatado}\n</historico_conversa>`;\n} else {\n  systemPrompt = '<identidade>Você é a Ana, consultora de automação da Scala. Você NAO é um chatbot. Você é uma profissional de consultoria especializada em marketing digital, tráfego pago e automação de vendas.</identidade><empresa>A Scala é uma empresa de infraestrutura digital para ecossistemas de vendas. Posicionamento: estruturamos o caminho entre o lead e o fechamento. Público-alvo: gestores de tráfego, agências e donos de negócios que investem em tráfego pago. Fundada por profissional com 5 anos em marketing digital especializado em funis de vendas e automação.</empresa><servicos>1. RELATÓRIOS INTELIGENTES - Dashboards automáticos + PDF no WhatsApp do gestor. A partir de R$ 300/mês. 2. CRM AUTOMATIZADO - O CRM se alimenta sozinho com dados dos leads. A partir de R$ 400/mês. 3. QUALIFICAÇÃO DE LEADS - IA que pontua e prioriza leads automaticamente. A partir de R$ 400/mês. 4. FOLLOW-UP COM IA - Sequências automáticas e contextuais que recuperam leads sumidos. A partir de R$ 350/mês. 5. ATENDIMENTO IA 24/7 - Agente de IA que responde, qualifica e agenda reuniões 24 horas por dia. A partir de R$ 500/mês por operação. 6. AUTOMAÇÃO DE ADS - Regras automáticas para campanhas e alertas de performance. A partir de R$ 450/mês. Preços são referencias e o valor final depende do escopo.</servicos><pacotes>STARTER: Relatórios + CRM, a partir de R$ 600/mês. PRO mais popular: Starter + Atendimento IA 24/7 + Qualificação + Follow-up, a partir de R$ 1.500/mês. ENTERPRISE: Pro + Automação de Ads + Consultoria + SLA dedicado, sob consulta. Nao mencione pacotes proativamente, só se o lead perguntar diretamente.</pacotes><tom_de_voz>REGRAS ABSOLUTAS: 1. SEJA HUMANA - escreva como pessoa real no WhatsApp, frases curtas, sem formalidade. 2. SEJA DIRETA - proibido saudações corporativas como Olá seja bem-vindo. 3. PORTUGUÊS NATURAL - use: tá, pra, né, show, massa, entendo demais. 4. VARIE O COMPRIMENTO - de uma frase a 3-4 frases, nunca textão. 5. FAÇA PERGUNTAS - termine preferencialmente cada mensagem com uma pergunta. 6. SEM BULLET POINTS - fale como numa conversa normal, nao como relatório. 7. MAXIMO 1 EMOJI por mensagem e só quando for natural. 8. NUNCA diga que é IA, chatbot ou assistente virtual. 9. USE O NOME do lead quando souber, naturalmente. 10. DEMONSTRE EXPERTISE em tráfego pago, CPA, ROAS, funil de vendas, CRM, LTV.</tom_de_voz><metodologia>SPIN Selling adaptado para WhatsApp: SITUAÇÃO (quantos leads por mês, quem atende hoje, qual ferramenta usa); PROBLEMA (perde leads por demora no atendimento, sem visibilidade dos resultados, sem qualificação automática); IMPLICAÇÃO (amplifique com dados: se recebe 200 leads e 40% nao sao atendidos em tempo, sao 80 oportunidades perdidas por mês); NECESSIDADE (faça o lead verbalizar que precisa de solução). Use como bússola, nao como script fixo.</metodologia><qualificacao>Colete naturalmente ao longo da conversa sem parecer formulário. ESSENCIAIS sem isso nao agende: nome, tipo de negócio, principal dor. DESEJÁVEIS se a conversa permitir: volume de leads por mês, ferramentas que usa, investimento mensal em tráfego, urgência. QUENTE tem dor clara mais volume mais urgência, agendar imediatamente. MORNO tem interesse sem urgência definida, agendar sem pressão. FRIO só curiosidade sem dor clara, educar e manter porta aberta.</qualificacao><agendamento>OBJETIVO PRINCIPAL: agendar DIAGNÓSTICO GRATUITO de 15-20 minutos por videochamada Google Meet. VOCÊ TEM ACESSO À AGENDA REAL. COMPROMISSOS JÁ MARCADOS (períodos ocupados): ' + busyText + '. PRÓXIMAS DISPONIBILIDADES PARA SUGERIR: ' + nextSlotsText + '. REGRAS: 1. Para propor: cite 2-3 das próximas disponibilidades. 2. SE O LEAD CONFIRMAR OU PROPUSER UM HORÁRIO: verifique APENAS se conflita com os períodos ocupados listados acima. Se NÃO conflita: CONFIRME IMEDIATAMENTE. Não invente ocupações que não estão na lista. 3. Se conflita: proponha o slot mais próximo disponível. 4. Confirmação: Perfeito! [dia] às [hora] tá confirmado. Vou te mandar o link do Google Meet agora. 5. NUNCA repita a pergunta de horário se o lead já confirmou um. 6. Após confirmar, diga que vai enviar o link e encerre de forma calorosa.</agendamento><ligacoes>APENAS se o lead pedir explicitamente para ligar, telefonar ou pedir numero de telefone (frases como quero ligar, pode me ligar, me passa o telefone, prefiro falar por ligacao): redirecione naturalmente para o WhatsApp ou Google Meet. Exemplos: Por aqui mesmo consigo te atender melhor e mais rápido. Que tal a gente marcar um Google Meet de 15 minutos?; Fica mais fácil resolver tudo por aqui. Se quiser algo mais detalhado, bora marcar um papo por videochamada. NUNCA use esta instrução quando o lead pedir uma reunião, diagnóstico ou agendamento — nesses casos vá direto para o fluxo de agendamento.</ligacoes><objecoes>É caro ou sem orçamento: Entendo. Quanto você investe por mês em tráfego pago? O custo de perder leads por atendimento lento geralmente é maior que a automação. Já tentei chatbot: A maioria dos chatbots é baseada em fluxo fixo. A Scala usa IA conversacional que entende contexto e responde como pessoa real. Preciso pensar: Claro, sem pressa. O diagnóstico é gratuito e sem compromisso, você sai com mapa claro do gargalo independente de fechar. Faz sentido marcar? Já uso ferramenta X: Ela está integrada com WhatsApp? Qualificando leads automaticamente? Gerando relatório sozinha? Quanto custa exatamente: Depende do escopo. Serviços individuais a partir de R$ 300/mês, pacotes a partir de R$ 600/mês. No diagnóstico te dou o número preciso pro seu caso.</objecoes><limites>NUNCA: invente informações sobre a Scala; fale mal de concorrentes; prometa resultados específicos como triplicar vendas; discuta política, religião ou futebol; feche vendas pelo WhatsApp pois objetivo é SEMPRE agendar; mande links externos exceto o site https://scala-kappa.vercel.app/; peça dados sensíveis como CPF ou dados bancários.</limites><dados_mercado>Use com moderação, um dado por conversa no momento certo: empresas que respondem em até 5 minutos têm 21x mais chance de qualificar o lead; 78% dos clientes compram do primeiro que responde; tempo médio de resposta brasileiro é 4 horas; 40% dos leads de tráfego pago sao perdidos por falha no atendimento.</dados_mercado><horario>Entre 8h e 22h horário de Brasília responda normalmente. Entre 22h e 8h responda normalmente pois você é atendimento 24/7 mas seja mais conciso e sugira continuar a conversa mais detalhada no dia seguinte se necessário. Nunca mencione estar fora do horário comercial.</horario>' + leadCtx;\n}\n\nconst requestBody = {\n  model: 'gpt-4o-mini',\n  max_tokens: 300,\n  temperature: 0.7,\n  messages: [{ role: 'system', content: systemPrompt }, ...history, { role: 'user', content: messageText }]\n};\nreturn [{ json: { requestBody, conversationId, phoneNumber, originalMessage: messageText, pushName, timestamp } }];"
      },
      "id": "node-4",
      "name": "Montar Contexto",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1040,
        304
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.openai.com/v1/chat/completions",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "openAiApi",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify($json.requestBody) }}",
        "options": {}
      },
      "id": "node-5",
      "name": "OpenAI GPT-4o-mini",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1328,
        304
      ],
      "credentials": {
        "openAiApi": {
          "id": "LFnyHUsH7lj5FEvQ",
          "name": "scala-agent"
        }
      }
    },
    {
      "parameters": {
        "amount": 5,
        "unit": "seconds"
      },
      "id": "node-6",
      "name": "Delay Humano",
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1,
      "position": [
        1600,
        304
      ],
      "webhookId": "7dd3b2fa-8af2-4b18-83a6-ec1a2bb41696"
    },
    {
      "parameters": {
        "jsCode": "const aiResponse = $input.first().json.choices?.[0]?.message?.content || '';\nconst ctx = $('Montar Contexto').first().json;\nreturn [{ json: { aiResponse, phoneNumber: ctx.phoneNumber, conversationId: ctx.conversationId, originalMessage: ctx.originalMessage, pushName: ctx.pushName, timestamp: new Date().toISOString() } }];"
      },
      "id": "node-7",
      "name": "Preparar Resposta",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1888,
        304
      ]
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "mode": "id",
          "value": "1yDex-TLsx3TCxQ2ZZObTn6X_4Ln83ClMEiZI47y6h5U"
        },
        "sheetName": {
          "mode": "name",
          "value": "Conversas"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "conversationId": "={{ $json.conversationId }}",
            "role": "user",
            "content": "={{ $json.originalMessage }}",
            "pushName": "={{ $json.pushName }}",
            "timestamp": "={{ $json.timestamp }}"
          }
        },
        "options": {}
      },
      "id": "node-8",
      "name": "Salvar Mensagem User",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4,
      "position": [
        2160,
        304
      ],
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "UeSaLFF10d9utrmA",
          "name": "Google Sheets - Paulo"
        }
      }
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "mode": "id",
          "value": "1yDex-TLsx3TCxQ2ZZObTn6X_4Ln83ClMEiZI47y6h5U"
        },
        "sheetName": {
          "mode": "name",
          "value": "Conversas"
        },
        "columns": {
          "mappingMode": "autoMapInputData",
          "value": {
            "conversationId": "={{ $json.conversationId }}",
            "role": "assistant",
            "content": "={{ $json.aiResponse }}",
            "pushName": "={{ $json.pushName }}",
            "timestamp": "={{ $json.timestamp }}"
          }
        },
        "options": {}
      },
      "id": "node-9",
      "name": "Salvar Resposta Assistente",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4,
      "position": [
        2448,
        304
      ],
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "UeSaLFF10d9utrmA",
          "name": "Google Sheets - Paulo"
        }
      }
    },
    {
      "parameters": {
        "operation": "send",
        "phoneNumberId": "971782562694033",
        "recipientPhoneNumber": "={{ $('Preparar Resposta').first().json.phoneNumber }}",
        "textBody": "={{ $('Preparar Resposta').first().json.aiResponse }}",
        "additionalFields": {}
      },
      "id": "node-10",
      "name": "Enviar Resposta WhatsApp",
      "type": "n8n-nodes-base.whatsApp",
      "typeVersion": 1,
      "position": [
        2720,
        304
      ],
      "webhookId": "18a8afa8-963f-421e-a8a7-1a43faf86e06",
      "credentials": {
        "whatsAppApi": {
          "id": "umUchtUGj2ZzikQ5",
          "name": "WhatsApp account"
        }
      }
    },
    {
      "id": "node-11",
      "name": "Buscar Disponibilidade",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        768,
        560
      ],
      "parameters": {
        "method": "POST",
        "url": "https://www.googleapis.com/calendar/v3/freeBusy",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "googleCalendarOAuth2Api",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ timeMin: $now.toISO(), timeMax: $now.plus({days:7}).toISO(), timeZone: 'America/Sao_Paulo', items: [{id: 'primary'}] }) }}",
        "options": {}
      },
      "credentials": {
        "googleCalendarOAuth2Api": {
          "id": "QGp1FxkKTfYhYYJ0",
          "name": "Google Calendar - Paulo"
        }
      },
      "continueOnFail": true,
      "alwaysOutputData": true
    },
    {
      "id": "node-12",
      "name": "Formatar Slots",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1040,
        560
      ],
      "parameters": {
        "jsCode": "try {\n  const BRT_MS = 3 * 3600 * 1000; // Brasília = UTC-3\n  const utcNow = new Date();\n  // brNow: Date onde campos UTC = horário local Brasília\n  const brNow = new Date(utcNow.getTime() - BRT_MS);\n\n  let busyPeriods = [];\n  try {\n    const calData = $input.first().json;\n    busyPeriods = calData.calendars?.primary?.busy || [];\n  } catch(e) {}\n\n  const busy = busyPeriods.map(b => ({\n    startUtc: new Date(b.start).getTime(),\n    endUtc: new Date(b.end).getTime()\n  }));\n\n  const dayNames = ['Dom', 'Seg', 'Ter', 'Qua', 'Qui', 'Sex', 'Sáb'];\n  const pad = n => String(n).padStart(2, '0');\n\n  // Formatar períodos ocupados (horário Brasília)\n  const busyText = busy.length > 0\n    ? busy.map(b => {\n        const startBr = new Date(b.startUtc - BRT_MS);\n        const endBr = new Date(b.endUtc - BRT_MS);\n        return dayNames[startBr.getUTCDay()] + ' ' + pad(startBr.getUTCDate()) + '/' + pad(startBr.getUTCMonth()+1) + ' ' + pad(startBr.getUTCHours()) + ':' + pad(startBr.getUTCMinutes()) + '-' + pad(endBr.getUTCHours()) + ':' + pad(endBr.getUTCMinutes());\n      }).join(', ')\n    : 'nenhum compromisso agendado esta semana';\n\n  // Próximos slots livres (até 22h)\n  const freeSlots = [];\n  for (let d = 0; d < 7 && freeSlots.length < 6; d++) {\n    const dayBr = new Date(brNow);\n    dayBr.setUTCDate(dayBr.getUTCDate() + d);\n    const wday = dayBr.getUTCDay(); // 0=Dom\n    if (wday === 0) continue; // pular domingo\n    const dayLabel = dayNames[wday] + ' ' + pad(dayBr.getUTCDate()) + '/' + pad(dayBr.getUTCMonth()+1);\n\n    for (let h = 8; h <= 22; h++) {\n      for (const m of [0, 30]) {\n        if (freeSlots.length >= 6) break;\n        const slotBr = new Date(dayBr);\n        slotBr.setUTCHours(h, m, 0, 0);\n        const slotUtcStart = slotBr.getTime() + BRT_MS; // Brasília → UTC\n        const slotUtcEnd = slotUtcStart + 30 * 60 * 1000;\n        if (slotUtcStart <= utcNow.getTime()) continue; // passado\n        const isBusy = busy.some(b => slotUtcStart < b.endUtc && slotUtcEnd > b.startUtc);\n        if (!isBusy) freeSlots.push(dayLabel + ' ' + pad(h) + ':' + pad(m));\n      }\n    }\n  }\n\n  const nextSlotsText = freeSlots.slice(0, 4).join(', ') || 'próximos dias úteis';\n  return [{ json: { busyText, nextSlotsText, totalBusy: busy.length } }];\n} catch(e) {\n  return [{ json: { busyText: 'nenhum compromisso', nextSlotsText: 'dias úteis 8h-22h', totalBusy: 0 } }];\n}"
      }
    },
    {
      "id": "node-13",
      "name": "Detectar Agendamento",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        2992,
        304
      ],
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": false
          },
          "conditions": [
            {
              "id": "cond-1",
              "leftValue": "={{ $('Preparar Resposta').first().json.aiResponse }}",
              "rightValue": "link.{0,60}(instantes|agora|j[áa])|mando o link|te mando o link",
              "operator": {
                "type": "string",
                "operation": "regex"
              }
            }
          ],
          "combinator": "and"
        }
      }
    },
    {
      "id": "node-14",
      "name": "Extrair Info Agendamento",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        3264,
        304
      ],
      "parameters": {
        "jsCode": "const BRT_MS = 3 * 3600 * 1000; // Brasília = UTC-3\nconst pad = n => String(n).padStart(2, '0');\nconst utcNow = new Date();\n// brNow: campos UTC = horário local Brasília\nconst brNow = new Date(utcNow.getTime() - BRT_MS);\n\nconst aiResponse = $('Preparar Resposta').first().json.aiResponse;\nconst pushName = $('Preparar Resposta').first().json.pushName || 'Lead';\nconst phoneNumber = $('Preparar Resposta').first().json.phoneNumber;\n\n// Extrair horário: HH:MM, HHhMM, HHh\nconst timeMatch = aiResponse.match(/(\\d{1,2})[h:](\\d{2})?(?!\\d)/i);\nconst hour = timeMatch ? parseInt(timeMatch[1]) : 9;\nconst minute = (timeMatch && timeMatch[2]) ? parseInt(timeMatch[2]) : 0;\n\n// Extrair data DD/MM\nconst dateMatch = aiResponse.match(/(\\d{1,2})\\/(\\d{1,2})/);\nconst targetBr = new Date(brNow);\n\nif (dateMatch) {\n  const day = parseInt(dateMatch[1]);\n  const month = parseInt(dateMatch[2]);\n  targetBr.setUTCDate(day);\n  targetBr.setUTCMonth(month - 1);\n  if (targetBr.getTime() < brNow.getTime() - 3600*1000) {\n    targetBr.setUTCFullYear(targetBr.getUTCFullYear() + 1);\n  }\n} else {\n  const lower = aiResponse.toLowerCase();\n  const brWeekday = brNow.getUTCDay(); // 0=Dom, 1=Seg, ...\n  const weekdayMap = { 'segunda': 1, 'terça': 2, 'quarta': 3, 'quinta': 4, 'sexta': 5, 'sábado': 6 };\n  if (lower.includes('hoje')) {\n    // mantém data atual\n  } else if (lower.includes('amanhã') || lower.includes('amanha')) {\n    targetBr.setUTCDate(targetBr.getUTCDate() + 1);\n  } else {\n    for (const [kw, wd] of Object.entries(weekdayMap)) {\n      if (lower.includes(kw)) {\n        let diff = wd - brWeekday;\n        if (diff <= 0) diff += 7;\n        targetBr.setUTCDate(targetBr.getUTCDate() + diff);\n        break;\n      }\n    }\n  }\n}\n\n// Definir horário na data Brasília\ntargetBr.setUTCHours(hour, minute, 0, 0);\n\n// Calcular endTime (+30 min)\nconst endHour = minute >= 30 ? hour + 1 : hour;\nconst endMinute = minute >= 30 ? 0 : 30;\n\n// Formato ISO local para Google Calendar (com timeZone no body)\nconst startISO = targetBr.getUTCFullYear() + '-' + pad(targetBr.getUTCMonth()+1) + '-' + pad(targetBr.getUTCDate()) + 'T' + pad(hour) + ':' + pad(minute) + ':00';\nconst endISO = targetBr.getUTCFullYear() + '-' + pad(targetBr.getUTCMonth()+1) + '-' + pad(targetBr.getUTCDate()) + 'T' + pad(endHour) + ':' + pad(endMinute) + ':00';\nconst humanDate = pad(targetBr.getUTCDate()) + '/' + pad(targetBr.getUTCMonth()+1) + ' às ' + pad(hour) + ':' + pad(minute);\nconst requestId = 'scala-' + targetBr.getUTCFullYear() + pad(targetBr.getUTCMonth()+1) + pad(targetBr.getUTCDate()) + '-' + pad(hour) + pad(minute);\n\nreturn [{\n  json: {\n    startISO,\n    endISO,\n    leadName: pushName,\n    phoneNumber,\n    requestId,\n    summary: 'Diagnóstico Gratuito Scala - ' + pushName,\n    humanDate\n  }\n}];"
      }
    },
    {
      "id": "node-15",
      "name": "Criar Evento Calendar",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        3536,
        304
      ],
      "parameters": {
        "method": "POST",
        "url": "https://www.googleapis.com/calendar/v3/calendars/primary/events?conferenceDataVersion=1",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "googleCalendarOAuth2Api",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ summary: $json.summary, description: 'Diagnóstico gratuito agendado via WhatsApp pela Ana (Scala)', start: { dateTime: $json.startISO, timeZone: 'America/Sao_Paulo' }, end: { dateTime: $json.endISO, timeZone: 'America/Sao_Paulo' }, conferenceData: { createRequest: { requestId: $json.requestId, conferenceSolutionKey: { type: 'hangoutsMeet' } } }, reminders: { useDefault: true } }) }}",
        "options": {}
      },
      "credentials": {
        "googleCalendarOAuth2Api": {
          "id": "QGp1FxkKTfYhYYJ0",
          "name": "Google Calendar - Paulo"
        }
      }
    },
    {
      "id": "node-16",
      "name": "Enviar Link Meet",
      "type": "n8n-nodes-base.whatsApp",
      "typeVersion": 1,
      "position": [
        3808,
        304
      ],
      "parameters": {
        "operation": "send",
        "phoneNumberId": "971782562694033",
        "recipientPhoneNumber": "={{ $('Extrair Info Agendamento').first().json.phoneNumber }}",
        "textBody": "={{ '🗓️ Diagnóstico Gratuito Scala\\n' + $('Extrair Info Agendamento').first().json.humanDate + '\\n\\n' + ($json.hangoutLink || $json.conferenceData?.entryPoints?.[0]?.uri || '') + '\\n\\nNos vemos lá!' }}",
        "additionalFields": {}
      },
      "credentials": {
        "whatsAppApi": {
          "id": "umUchtUGj2ZzikQ5",
          "name": "WhatsApp account"
        }
      }
    },
    {
      "id": "node-17",
      "name": "CRM Preparar Request",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2448,
        560
      ],
      "parameters": {
        "jsCode": "const ctx = $('Preparar Resposta').first().json;\nconst messages = $('Montar Contexto').first().json.requestBody.messages;\n\n// Apenas user/assistant (sem system prompt)\nconst conv = messages.filter(m => m.role !== 'system');\n\n// Precisa de pelo menos 2 trocas para extrair dados\nif (conv.length < 2) return [];\n\nconst conversationText = conv\n  .map(m => (m.role === 'user' ? 'Lead' : 'Ana') + ': ' + m.content)\n  .join('\\n');\n\nconst requestBody = {\n  model: 'gpt-4o-mini',\n  max_tokens: 150,\n  temperature: 0,\n  response_format: { type: 'json_object' },\n  messages: [\n    {\n      role: 'system',\n      content: 'Analise a conversa de vendas e retorne JSON com os campos: nome (nome do lead), negocio (tipo de empresa ou negócio), dor (principal problema ou dor mencionada), classificacao (QUENTE se dor clara e urgência, MORNO se interesse sem urgência, FRIO se só curiosidade, INDEFINIDO se sem dados), status (em_atendimento, agendado se reunião foi confirmada, perdido se desistiu), volume_leads (número de leads por mês mencionado ou vazio), investimento_trafego (valor mensal em tráfego mencionado ou vazio). Use string vazia quando não souber.'\n    },\n    {\n      role: 'user',\n      content: conversationText\n    }\n  ]\n};\n\nreturn [{\n  json: {\n    requestBody,\n    phoneNumber: ctx.phoneNumber,\n    pushName: ctx.pushName,\n    conversationId: ctx.conversationId\n  }\n}];"
      }
    },
    {
      "id": "node-18",
      "name": "CRM Extrair Perfil",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        2720,
        560
      ],
      "parameters": {
        "method": "POST",
        "url": "https://api.openai.com/v1/chat/completions",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "openAiApi",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify($json.requestBody) }}",
        "options": {}
      },
      "credentials": {
        "openAiApi": {
          "id": "LFnyHUsH7lj5FEvQ",
          "name": "scala-agent"
        }
      }
    },
    {
      "id": "node-19",
      "name": "CRM Formatar Lead",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2992,
        560
      ],
      "parameters": {
        "jsCode": "const raw = $input.first().json.choices?.[0]?.message?.content || '{}';\nconst prep = $('CRM Preparar Request').first().json;\n\nlet profile = {};\ntry { profile = JSON.parse(raw); } catch(e) {}\n\n// Formatar data para dd/MM/yyyy HH:mm em Brasília (UTC-3)\nconst BRT_MS = 3 * 3600 * 1000;\nconst pad = n => String(n).padStart(2, '0');\nconst formatBR = (isoStr) => {\n  const br = new Date(new Date(isoStr).getTime() - BRT_MS);\n  return pad(br.getUTCDate()) + '/' + pad(br.getUTCMonth()+1) + '/' + br.getUTCFullYear() + ' ' + pad(br.getUTCHours()) + ':' + pad(br.getUTCMinutes());\n};\n\n// Buscar data do primeiro contato no histórico\nconst allRows = $('Buscar Histórico').all();\nconst convRows = allRows\n  .filter(r => r.json.conversationId === prep.conversationId && r.json.timestamp)\n  .sort((a, b) => new Date(a.json.timestamp) - new Date(b.json.timestamp));\nconst firstContact = convRows.length > 0 ? convRows[0].json.timestamp : new Date().toISOString();\n\nreturn [{\n  json: {\n    telefone: prep.phoneNumber,\n    nome: profile.nome || prep.pushName || '',\n    negocio: profile.negocio || '',\n    dor: profile.dor || '',\n    classificacao: profile.classificacao || 'INDEFINIDO',\n    status: profile.status || 'em_atendimento',\n    volume_leads: profile.volume_leads || '',\n    investimento_trafego: profile.investimento_trafego || '',\n    data_primeiro_contato: formatBR(firstContact),\n    ultima_atualizacao: formatBR(new Date().toISOString())\n  }\n}];"
      }
    },
    {
      "id": "node-20",
      "name": "CRM Salvar Lead",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4,
      "position": [
        3264,
        560
      ],
      "parameters": {
        "operation": "appendOrUpdate",
        "documentId": {
          "__rl": true,
          "value": "1yDex-TLsx3TCxQ2ZZObTn6X_4Ln83ClMEiZI47y6h5U",
          "mode": "id"
        },
        "sheetName": {
          "mode": "name",
          "value": "Leads"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "telefone": "={{ $json.telefone }}",
            "nome": "={{ $json.nome }}",
            "negocio": "={{ $json.negocio }}",
            "dor": "={{ $json.dor }}",
            "classificacao": "={{ $json.classificacao }}",
            "status": "={{ $json.status }}",
            "volume_leads": "={{ $json.volume_leads }}",
            "investimento_trafego": "={{ $json.investimento_trafego }}",
            "data_primeiro_contato": "={{ $json.data_primeiro_contato }}",
            "ultima_atualizacao": "={{ $json.ultima_atualizacao }}"
          },
          "matchingColumns": [
            "telefone"
          ]
        },
        "options": {}
      },
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "UeSaLFF10d9utrmA",
          "name": "Google Sheets - Paulo"
        }
      }
    },
    {
      "id": "node-router-gestor",
      "name": "É Paulo?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        680,
        304
      ],
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "cond-gestor",
              "leftValue": "={{ $('Extrair Dados').first().json.phoneNumber }}",
              "rightValue": "556181292879",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        }
      }
    },
    {
      "id": "node-call-campaign-agent",
      "name": "Chamar Bruno (Campaign Agent)",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1120,
        60
      ],
      "parameters": {
        "method": "POST",
        "url": "http://localhost:5678/webhook/campaign-agent",
        "authentication": "none",
        "sendBody": true,
        "contentType": "json",
        "specifyBody": "keypair",
        "bodyParameters": {
          "parameters": [
            {
              "name": "phoneNumber",
              "value": "={{ $('Extrair Dados').first().json.phoneNumber }}"
            },
            {
              "name": "messageText",
              "value": "={{ $('Extrair Dados').first().json.messageText }}"
            }
          ]
        },
        "options": {
          "response": {
            "response": {
              "neverError": true
            }
          }
        }
      }
    },
    {
      "id": "node-switch-agente",
      "name": "Switch Agente",
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3,
      "position": [
        900,
        180
      ],
      "parameters": {
        "mode": "rules",
        "options": {},
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": false,
                  "leftValue": "",
                  "typeValidation": "loose"
                },
                "conditions": [
                  {
                    "id": "cond-bruno",
                    "leftValue": "={{ $('Extrair Dados').first().json.messageText.toLowerCase() }}",
                    "rightValue": "bruno",
                    "operator": {
                      "type": "string",
                      "operation": "contains"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Bruno"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": false,
                  "leftValue": "",
                  "typeValidation": "loose"
                },
                "conditions": [
                  {
                    "id": "cond-ana",
                    "leftValue": "={{ $('Extrair Dados').first().json.messageText.toLowerCase() }}",
                    "rightValue": "ana",
                    "operator": {
                      "type": "string",
                      "operation": "contains"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Ana"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": false,
                  "leftValue": "",
                  "typeValidation": "loose"
                },
                "conditions": [
                  {
                    "id": "cond-menu",
                    "leftValue": "1",
                    "rightValue": "1",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Menu"
            }
          ]
        },
        "fallbackOutput": "none"
      }
    },
    {
      "id": "node-enviar-menu",
      "name": "Enviar Menu",
      "type": "n8n-nodes-base.whatsApp",
      "typeVersion": 1,
      "position": [
        1120,
        300
      ],
      "credentials": {
        "whatsAppApi": {
          "id": "umUchtUGj2ZzikQ5",
          "name": "WhatsApp account"
        }
      },
      "parameters": {
        "resource": "message",
        "operation": "send",
        "phoneNumberId": "971782562694033",
        "recipientPhoneNumber": "={{ $('Extrair Dados').first().json.phoneNumber }}",
        "textBody": "Olá! 👋 Bem-vindo à *Scala Automações*!\n\nSou a central de atendimento. Com qual agente você gostaria de falar?\n\n🤖 *Ana* — Atendimento, dúvidas e agendamentos\n📊 *Bruno* — Gestão de campanhas Meta Ads e Google Ads\n\nDigite o nome do agente para continuar."
      }
    },
    {
      "id": "node-buscar-sessao",
      "name": "Buscar Sessao",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4,
      "position": [
        900,
        60
      ],
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "UeSaLFF10d9utrmA",
          "name": "Google Sheets - Paulo"
        }
      },
      "alwaysOutputData": true,
      "parameters": {
        "operation": "read",
        "documentId": {
          "__rl": true,
          "value": "1yDex-TLsx3TCxQ2ZZObTn6X_4Ln83ClMEiZI47y6h5U",
          "mode": "id"
        },
        "sheetName": {
          "mode": "name",
          "value": "Sessoes"
        },
        "filtersUI": {
          "values": [
            {
              "lookupColumn": "phone",
              "lookupValue": "={{ $('Extrair Dados').first().json.phoneNumber }}"
            }
          ]
        },
        "options": {
          "returnFirstMatch": true
        }
      }
    },
    {
      "id": "node-if-resetar-menu",
      "name": "IF Resetar Menu",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        1120,
        -80
      ],
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": false,
            "leftValue": "",
            "typeValidation": "loose"
          },
          "conditions": [
            {
              "id": "cond-menu-reset",
              "leftValue": "={{ $('Extrair Dados').first().json.messageText.toLowerCase().trim() }}",
              "rightValue": "menu",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            },
            {
              "id": "cond-voltar-reset",
              "leftValue": "={{ $('Extrair Dados').first().json.messageText.toLowerCase().trim() }}",
              "rightValue": "voltar",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "or"
        },
        "options": {}
      }
    },
    {
      "id": "node-if-tem-sessao",
      "name": "IF Tem Sessao",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        1340,
        -80
      ],
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": false,
            "leftValue": "",
            "typeValidation": "loose"
          },
          "conditions": [
            {
              "id": "cond-has-session",
              "leftValue": "={{ $json.agent }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "notEmpty"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      }
    },
    {
      "id": "node-route-by-session",
      "name": "Route by Session",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        1560,
        -80
      ],
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": false,
            "leftValue": "",
            "typeValidation": "loose"
          },
          "conditions": [
            {
              "id": "cond-route-bruno",
              "leftValue": "={{ $json.agent.toLowerCase() }}",
              "rightValue": "bruno",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      }
    },
    {
      "id": "node-salvar-sessao-bruno",
      "name": "Salvar Sessao Bruno",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4,
      "position": [
        1780,
        0
      ],
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "UeSaLFF10d9utrmA",
          "name": "Google Sheets - Paulo"
        }
      },
      "parameters": {
        "operation": "appendOrUpdate",
        "documentId": {
          "__rl": true,
          "value": "1yDex-TLsx3TCxQ2ZZObTn6X_4Ln83ClMEiZI47y6h5U",
          "mode": "id"
        },
        "sheetName": {
          "mode": "name",
          "value": "Sessoes"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "phone": "={{ $('Extrair Dados').first().json.phoneNumber }}",
            "agent": "Bruno",
            "updated_at": "={{ new Date().toISOString() }}"
          },
          "matchingColumns": [
            "phone"
          ],
          "schema": [
            {
              "id": "phone",
              "displayName": "phone",
              "required": false,
              "defaultMatch": true,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "agent",
              "displayName": "agent",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "updated_at",
              "displayName": "updated_at",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            }
          ]
        },
        "options": {}
      }
    },
    {
      "id": "node-salvar-sessao-ana",
      "name": "Salvar Sessao Ana",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4,
      "position": [
        1780,
        140
      ],
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "UeSaLFF10d9utrmA",
          "name": "Google Sheets - Paulo"
        }
      },
      "parameters": {
        "operation": "appendOrUpdate",
        "documentId": {
          "__rl": true,
          "value": "1yDex-TLsx3TCxQ2ZZObTn6X_4Ln83ClMEiZI47y6h5U",
          "mode": "id"
        },
        "sheetName": {
          "mode": "name",
          "value": "Sessoes"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "phone": "={{ $('Extrair Dados').first().json.phoneNumber }}",
            "agent": "Ana",
            "updated_at": "={{ new Date().toISOString() }}"
          },
          "matchingColumns": [
            "phone"
          ],
          "schema": [
            {
              "id": "phone",
              "displayName": "phone",
              "required": false,
              "defaultMatch": true,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "agent",
              "displayName": "agent",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "updated_at",
              "displayName": "updated_at",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            }
          ]
        },
        "options": {}
      }
    },
    {
      "id": "node-limpar-sessao",
      "name": "Limpar Sessao",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4,
      "position": [
        1340,
        80
      ],
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "UeSaLFF10d9utrmA",
          "name": "Google Sheets - Paulo"
        }
      },
      "parameters": {
        "operation": "update",
        "documentId": {
          "__rl": true,
          "value": "1yDex-TLsx3TCxQ2ZZObTn6X_4Ln83ClMEiZI47y6h5U",
          "mode": "id"
        },
        "sheetName": {
          "mode": "name",
          "value": "Sessoes"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "phone": "={{ $('Extrair Dados').first().json.phoneNumber }}",
            "agent": "",
            "updated_at": "={{ new Date().toISOString() }}"
          },
          "matchingColumns": [
            "phone"
          ],
          "schema": [
            {
              "id": "phone",
              "displayName": "phone",
              "required": false,
              "defaultMatch": true,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "agent",
              "displayName": "agent",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "updated_at",
              "displayName": "updated_at",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            }
          ]
        },
        "options": {}
      }
    },
    {
      "id": "node-buscar-reunioes",
      "name": "Buscar Reuniões",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        768,
        720
      ],
      "parameters": {
        "method": "GET",
        "url": "https://www.googleapis.com/calendar/v3/calendars/primary/events",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "googleCalendarOAuth2Api",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "timeMin",
              "value": "={{ new Date(new Date().getFullYear(), new Date().getMonth(), 1).toISOString() }}"
            },
            {
              "name": "timeMax",
              "value": "={{ new Date(new Date().getFullYear(), new Date().getMonth() + 1, 0, 23, 59, 59).toISOString() }}"
            },
            {
              "name": "maxResults",
              "value": "100"
            },
            {
              "name": "singleEvents",
              "value": "true"
            },
            {
              "name": "orderBy",
              "value": "startTime"
            }
          ]
        },
        "options": {}
      },
      "credentials": {
        "googleCalendarOAuth2Api": {
          "id": "QGp1FxkKTfYhYYJ0",
          "name": "Google Calendar - Paulo"
        }
      },
      "continueOnFail": true,
      "alwaysOutputData": true
    }
  ],
  "connections": {
    "WhatsApp Trigger": {
      "main": [
        [
          {
            "node": "Extrair Dados",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extrair Dados": {
      "main": [
        [
          {
            "node": "É Paulo?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Montar Contexto": {
      "main": [
        [
          {
            "node": "OpenAI GPT-4o-mini",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI GPT-4o-mini": {
      "main": [
        [
          {
            "node": "Delay Humano",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Delay Humano": {
      "main": [
        [
          {
            "node": "Preparar Resposta",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Preparar Resposta": {
      "main": [
        [
          {
            "node": "Salvar Mensagem User",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Salvar Mensagem User": {
      "main": [
        [
          {
            "node": "Salvar Resposta Assistente",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Salvar Resposta Assistente": {
      "main": [
        [
          {
            "node": "Enviar Resposta WhatsApp",
            "type": "main",
            "index": 0
          },
          {
            "node": "CRM Preparar Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Buscar Histórico": {
      "main": [
        [
          {
            "node": "Buscar Disponibilidade",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Buscar Disponibilidade": {
      "main": [
        [
          {
            "node": "Formatar Slots",
            "type": "main",
            "index": 0
          },
          {
            "node": "Buscar Reuniões",
            "type": "main",
            "index": 0
          }
        ],
        []
      ]
    },
    "Formatar Slots": {
      "main": [
        [
          {
            "node": "Montar Contexto",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Enviar Resposta WhatsApp": {
      "main": [
        [
          {
            "node": "Detectar Agendamento",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Detectar Agendamento": {
      "main": [
        [
          {
            "node": "Extrair Info Agendamento",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extrair Info Agendamento": {
      "main": [
        [
          {
            "node": "Criar Evento Calendar",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Criar Evento Calendar": {
      "main": [
        [
          {
            "node": "Enviar Link Meet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "CRM Preparar Request": {
      "main": [
        [
          {
            "node": "CRM Extrair Perfil",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "CRM Extrair Perfil": {
      "main": [
        [
          {
            "node": "CRM Formatar Lead",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "CRM Formatar Lead": {
      "main": [
        [
          {
            "node": "CRM Salvar Lead",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "É Paulo?": {
      "main": [
        [
          {
            "node": "Buscar Sessao",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Buscar Histórico",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Switch Agente": {
      "main": [
        [
          {
            "node": "Salvar Sessao Bruno",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Salvar Sessao Ana",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Enviar Menu",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Buscar Sessao": {
      "main": [
        [
          {
            "node": "IF Resetar Menu",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "IF Resetar Menu": {
      "main": [
        [
          {
            "node": "Limpar Sessao",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "IF Tem Sessao",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Limpar Sessao": {
      "main": [
        [
          {
            "node": "Enviar Menu",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "IF Tem Sessao": {
      "main": [
        [
          {
            "node": "Route by Session",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Switch Agente",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Route by Session": {
      "main": [
        [
          {
            "node": "Chamar Bruno (Campaign Agent)",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Buscar Histórico",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Salvar Sessao Bruno": {
      "main": [
        [
          {
            "node": "Chamar Bruno (Campaign Agent)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Salvar Sessao Ana": {
      "main": [
        [
          {
            "node": "Buscar Histórico",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Buscar Reuniões": {
      "main": [
        [
          {
            "node": "Montar Contexto",
            "type": "main",
            "index": 1
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "timezone": "America/Sao_Paulo",
    "saveDataSuccessExecution": "all",
    "callerPolicy": "workflowsFromSameOwner",
    "availableInMCP": false
  },
  "staticData": null,
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "pinData": {},
  "versionId": "a94fdc6e-db6e-4fb0-b720-6acfb4eddc9f",
  "activeVersionId": "a94fdc6e-db6e-4fb0-b720-6acfb4eddc9f",
  "versionCounter": 119,
  "triggerCount": 1,
  "shared": [
    {
      "updatedAt": "2026-03-16T16:23:32.959Z",
      "createdAt": "2026-03-16T16:23:32.959Z",
      "role": "workflow:owner",
      "workflowId": "EVbZX91iB5moD6I4",
      "projectId": "4fhKBbB4lEBuxqVT",
      "project": {
        "updatedAt": "2026-03-09T14:37:49.815Z",
        "createdAt": "2026-03-09T14:14:16.132Z",
        "id": "4fhKBbB4lEBuxqVT",
        "name": "Paulo Nunan <ph.nunan@gmail.com>",
        "type": "personal",
        "icon": null,
        "description": null,
        "creatorId": "cdef1802-d0c6-490f-add8-cd6f5c4b604d"
      }
    }
  ],
  "tags": [],
  "activeVersion": {
    "updatedAt": "2026-03-19T02:19:56.308Z",
    "createdAt": "2026-03-19T02:19:56.308Z",
    "versionId": "a94fdc6e-db6e-4fb0-b720-6acfb4eddc9f",
    "workflowId": "EVbZX91iB5moD6I4",
    "nodes": [
      {
        "parameters": {
          "updates": [
            "messages"
          ],
          "options": {}
        },
        "id": "node-1",
        "name": "WhatsApp Trigger",
        "type": "n8n-nodes-base.whatsAppTrigger",
        "typeVersion": 1,
        "position": [
          208,
          304
        ],
        "webhookId": "a4d4b2c4-2099-4eb6-980d-df5274d1c1fc",
        "credentials": {
          "whatsAppTriggerApi": {
            "id": "3Ucs5ITEFuzuPAJx",
            "name": "WhatsApp OAuth account"
          }
        }
      },
      {
        "parameters": {
          "jsCode": "const payload = $input.first().json;\nconst msgs = payload.messages;\nif (!msgs || !msgs.length) return [];\nconst msg = msgs[0];\nif (msg.type !== 'text') return [];\nconst phone = msg.from || '';\nconst text = msg.text?.body?.trim() || '';\nif (!phone || !text) return [];\nconst name = payload.contacts?.[0]?.profile?.name || '';\nreturn [{ json: { phoneNumber: phone, messageText: text, pushName: name, conversationId: 'scala_' + phone, timestamp: new Date().toISOString() } }];"
        },
        "id": "node-2",
        "name": "Extrair Dados",
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          480,
          304
        ]
      },
      {
        "parameters": {
          "documentId": {
            "__rl": true,
            "value": "1yDex-TLsx3TCxQ2ZZObTn6X_4Ln83ClMEiZI47y6h5U",
            "mode": "id"
          },
          "sheetName": {
            "mode": "name",
            "value": "Conversas"
          },
          "options": {}
        },
        "id": "node-3",
        "name": "Buscar Histórico",
        "type": "n8n-nodes-base.googleSheets",
        "typeVersion": 4,
        "position": [
          768,
          304
        ],
        "credentials": {
          "googleSheetsOAuth2Api": {
            "id": "UeSaLFF10d9utrmA",
            "name": "Google Sheets - Paulo"
          }
        },
        "alwaysOutputData": true
      },
      {
        "parameters": {
          "jsCode": "// Detect if Paulo (owner) is messaging\nconst { messageText, pushName, conversationId, phoneNumber, timestamp } = $('Extrair Dados').first().json;\nconst isPaulo = phoneNumber === '556181292879';\n\n// Only inject meeting data when Paulo explicitly asks about it\nconst askingAboutMeetings = isPaulo && /reuni[aã]o?s?|agenda|diagn[oó]stico|marcamos|agendamos|agendou|marcou|hor[aá]rios?|quan(tos?|tas?)|hoje|semana|m[eê]s/i.test(messageText);\n\nlet meetingContext = '';\nif (askingAboutMeetings) {\n  try {\n    const reunioesData = $('Buscar Reuniões').first().json;\n    const eventos = (reunioesData.items || []).filter(e => e.start && e.start.dateTime);\n\n    const agora = new Date();\n    const hojeStr = new Date(agora.getTime() - 3 * 60 * 60 * 1000).toISOString().split('T')[0];\n    const mesAtual = agora.getMonth();\n    const anoAtual = agora.getFullYear();\n\n    const getEventDateTime = (e) => new Date(e.start.dateTime);\n    const getEventDate = (e) => new Date(e.start.dateTime - 3 * 60 * 60 * 1000).toISOString().split('T')[0];\n\n    const reunioesMes = eventos.filter(e => {\n      const d = getEventDateTime(e);\n      return d.getMonth() === mesAtual && d.getFullYear() === anoAtual;\n    });\n\n    const reunioesHoje = reunioesMes.filter(e => getEventDate(e) === hojeStr);\n    const reunioesPassadas = reunioesMes.filter(e => getEventDateTime(e) < agora);\n    const reunioesProximas = reunioesMes.filter(e => getEventDateTime(e) >= agora);\n\n    const formatEvento = (e) => {\n      const dt = getEventDateTime(e);\n      const data = dt.toLocaleDateString('pt-BR', {weekday:'short', day:'2-digit', month:'2-digit', timeZone:'America/Sao_Paulo'});\n      const hora = dt.toLocaleTimeString('pt-BR', {hour:'2-digit', minute:'2-digit', timeZone:'America/Sao_Paulo'});\n      return `  - ${data} às ${hora}: ${e.summary || 'Sem título'}`;\n    };\n\n    meetingContext = `\\n<dados_reunioes>\\nDATA DE HOJE: ${hojeStr}\\n\\nREUNIÕES HOJE: ${reunioesHoje.length === 0 ? 'nenhuma' : reunioesHoje.length}\\n${reunioesHoje.map(formatEvento).join('\\n')}\\n\\nMÊS ATUAL: ${reunioesMes.length} reunião(ões) no total | ${reunioesPassadas.length} realizadas | ${reunioesProximas.length} futuras\\n\\n${reunioesPassadas.length > 0 ? 'REALIZADAS NO MÊS:\\n' + reunioesPassadas.map(formatEvento).join('\\n') : 'Nenhuma realizada ainda este mês.'}\\n\\n${reunioesProximas.length > 0 ? 'PRÓXIMAS:\\n' + reunioesProximas.slice(0, 5).map(formatEvento).join('\\n') : 'Nenhuma futura agendada.'}\\n</dados_reunioes>`;\n  } catch(err) {\n    meetingContext = '\\n<dados_reunioes>Não foi possível carregar os dados da agenda neste momento.</dados_reunioes>';\n  }\n}\n\nconst allRows = $('Buscar Histórico').all();\nconst history = allRows\n  .filter(item => item.json.conversationId === conversationId)\n  .slice(-20)\n  .map(item => ({ role: item.json.role, content: item.json.content }))\n  .filter(m => m.role && m.content);\nconst slotData = $('Formatar Slots').first().json;\nconst busyText = slotData.busyText || 'nenhum compromisso';\nconst nextSlotsText = slotData.nextSlotsText || 'próximos dias';\nconst leadCtx = pushName ? ' O lead se chama ' + pushName + ' (nome do perfil do WhatsApp).' : '';\n\nconst historicoFormatado = history.map(m => `${m.role === 'user' ? 'Lead' : 'Ana'}: ${m.content}`).join('\\n');\n\nlet systemPrompt;\n\nif (isPaulo) {\n  systemPrompt = `<modo_dono>\nVocê é a Ana, assistente executiva de Paulo, dono da Scala Automações.\nVocê NÃO está vendendo nada para Paulo — ele é o dono da empresa.\nTrate Paulo como seu chefe direto: seja direta, objetiva e profissional.\n</modo_dono>\n\n<comportamento_com_paulo>\n- Você é a assistente executiva de Paulo — responda de forma direta e objetiva, sem pitch de vendas\n- Paulo pode perguntar sobre reuniões, agenda, clientes, métricas ou status de automações\n- Quando Paulo perguntar sobre reuniões/agenda: use os dados em <dados_reunioes> se disponíveis. Responda com os números e detalhes exatos do que estiver lá.\n- Se <dados_reunioes> não estiver presente na conversa: diga que não tem os dados da agenda disponíveis no momento\n- NUNCA mencione reuniões, agenda ou dados de calendário se Paulo não perguntar sobre isso\n- Tom: direto, como conversa entre profissionais que trabalham juntos\n- Fale em português brasileiro natural, sem formalidade excessiva\n</comportamento_com_paulo>\n\n<empresa>\nScala Automações — agência de automação e marketing digital, Brasília/DF.\nDono: Paulo Nunan\nAgentes ativos: Ana (atendimento 24/7) + Bruno (gestão de tráfego via WhatsApp)\nMeta Ad Account: act_1605651367382391 (Scala-Conta-Anúncios)\nGoogle Ads MCC: 4323799990\n</empresa>\n\n${meetingContext}\n\n<historico_conversa>\n${historicoFormatado}\n</historico_conversa>`;\n} else {\n  systemPrompt = '<identidade>Você é a Ana, consultora de automação da Scala. Você NAO é um chatbot. Você é uma profissional de consultoria especializada em marketing digital, tráfego pago e automação de vendas.</identidade><empresa>A Scala é uma empresa de infraestrutura digital para ecossistemas de vendas. Posicionamento: estruturamos o caminho entre o lead e o fechamento. Público-alvo: gestores de tráfego, agências e donos de negócios que investem em tráfego pago. Fundada por profissional com 5 anos em marketing digital especializado em funis de vendas e automação.</empresa><servicos>1. RELATÓRIOS INTELIGENTES - Dashboards automáticos + PDF no WhatsApp do gestor. A partir de R$ 300/mês. 2. CRM AUTOMATIZADO - O CRM se alimenta sozinho com dados dos leads. A partir de R$ 400/mês. 3. QUALIFICAÇÃO DE LEADS - IA que pontua e prioriza leads automaticamente. A partir de R$ 400/mês. 4. FOLLOW-UP COM IA - Sequências automáticas e contextuais que recuperam leads sumidos. A partir de R$ 350/mês. 5. ATENDIMENTO IA 24/7 - Agente de IA que responde, qualifica e agenda reuniões 24 horas por dia. A partir de R$ 500/mês por operação. 6. AUTOMAÇÃO DE ADS - Regras automáticas para campanhas e alertas de performance. A partir de R$ 450/mês. Preços são referencias e o valor final depende do escopo.</servicos><pacotes>STARTER: Relatórios + CRM, a partir de R$ 600/mês. PRO mais popular: Starter + Atendimento IA 24/7 + Qualificação + Follow-up, a partir de R$ 1.500/mês. ENTERPRISE: Pro + Automação de Ads + Consultoria + SLA dedicado, sob consulta. Nao mencione pacotes proativamente, só se o lead perguntar diretamente.</pacotes><tom_de_voz>REGRAS ABSOLUTAS: 1. SEJA HUMANA - escreva como pessoa real no WhatsApp, frases curtas, sem formalidade. 2. SEJA DIRETA - proibido saudações corporativas como Olá seja bem-vindo. 3. PORTUGUÊS NATURAL - use: tá, pra, né, show, massa, entendo demais. 4. VARIE O COMPRIMENTO - de uma frase a 3-4 frases, nunca textão. 5. FAÇA PERGUNTAS - termine preferencialmente cada mensagem com uma pergunta. 6. SEM BULLET POINTS - fale como numa conversa normal, nao como relatório. 7. MAXIMO 1 EMOJI por mensagem e só quando for natural. 8. NUNCA diga que é IA, chatbot ou assistente virtual. 9. USE O NOME do lead quando souber, naturalmente. 10. DEMONSTRE EXPERTISE em tráfego pago, CPA, ROAS, funil de vendas, CRM, LTV.</tom_de_voz><metodologia>SPIN Selling adaptado para WhatsApp: SITUAÇÃO (quantos leads por mês, quem atende hoje, qual ferramenta usa); PROBLEMA (perde leads por demora no atendimento, sem visibilidade dos resultados, sem qualificação automática); IMPLICAÇÃO (amplifique com dados: se recebe 200 leads e 40% nao sao atendidos em tempo, sao 80 oportunidades perdidas por mês); NECESSIDADE (faça o lead verbalizar que precisa de solução). Use como bússola, nao como script fixo.</metodologia><qualificacao>Colete naturalmente ao longo da conversa sem parecer formulário. ESSENCIAIS sem isso nao agende: nome, tipo de negócio, principal dor. DESEJÁVEIS se a conversa permitir: volume de leads por mês, ferramentas que usa, investimento mensal em tráfego, urgência. QUENTE tem dor clara mais volume mais urgência, agendar imediatamente. MORNO tem interesse sem urgência definida, agendar sem pressão. FRIO só curiosidade sem dor clara, educar e manter porta aberta.</qualificacao><agendamento>OBJETIVO PRINCIPAL: agendar DIAGNÓSTICO GRATUITO de 15-20 minutos por videochamada Google Meet. VOCÊ TEM ACESSO À AGENDA REAL. COMPROMISSOS JÁ MARCADOS (períodos ocupados): ' + busyText + '. PRÓXIMAS DISPONIBILIDADES PARA SUGERIR: ' + nextSlotsText + '. REGRAS: 1. Para propor: cite 2-3 das próximas disponibilidades. 2. SE O LEAD CONFIRMAR OU PROPUSER UM HORÁRIO: verifique APENAS se conflita com os períodos ocupados listados acima. Se NÃO conflita: CONFIRME IMEDIATAMENTE. Não invente ocupações que não estão na lista. 3. Se conflita: proponha o slot mais próximo disponível. 4. Confirmação: Perfeito! [dia] às [hora] tá confirmado. Vou te mandar o link do Google Meet agora. 5. NUNCA repita a pergunta de horário se o lead já confirmou um. 6. Após confirmar, diga que vai enviar o link e encerre de forma calorosa.</agendamento><ligacoes>APENAS se o lead pedir explicitamente para ligar, telefonar ou pedir numero de telefone (frases como quero ligar, pode me ligar, me passa o telefone, prefiro falar por ligacao): redirecione naturalmente para o WhatsApp ou Google Meet. Exemplos: Por aqui mesmo consigo te atender melhor e mais rápido. Que tal a gente marcar um Google Meet de 15 minutos?; Fica mais fácil resolver tudo por aqui. Se quiser algo mais detalhado, bora marcar um papo por videochamada. NUNCA use esta instrução quando o lead pedir uma reunião, diagnóstico ou agendamento — nesses casos vá direto para o fluxo de agendamento.</ligacoes><objecoes>É caro ou sem orçamento: Entendo. Quanto você investe por mês em tráfego pago? O custo de perder leads por atendimento lento geralmente é maior que a automação. Já tentei chatbot: A maioria dos chatbots é baseada em fluxo fixo. A Scala usa IA conversacional que entende contexto e responde como pessoa real. Preciso pensar: Claro, sem pressa. O diagnóstico é gratuito e sem compromisso, você sai com mapa claro do gargalo independente de fechar. Faz sentido marcar? Já uso ferramenta X: Ela está integrada com WhatsApp? Qualificando leads automaticamente? Gerando relatório sozinha? Quanto custa exatamente: Depende do escopo. Serviços individuais a partir de R$ 300/mês, pacotes a partir de R$ 600/mês. No diagnóstico te dou o número preciso pro seu caso.</objecoes><limites>NUNCA: invente informações sobre a Scala; fale mal de concorrentes; prometa resultados específicos como triplicar vendas; discuta política, religião ou futebol; feche vendas pelo WhatsApp pois objetivo é SEMPRE agendar; mande links externos exceto o site https://scala-kappa.vercel.app/; peça dados sensíveis como CPF ou dados bancários.</limites><dados_mercado>Use com moderação, um dado por conversa no momento certo: empresas que respondem em até 5 minutos têm 21x mais chance de qualificar o lead; 78% dos clientes compram do primeiro que responde; tempo médio de resposta brasileiro é 4 horas; 40% dos leads de tráfego pago sao perdidos por falha no atendimento.</dados_mercado><horario>Entre 8h e 22h horário de Brasília responda normalmente. Entre 22h e 8h responda normalmente pois você é atendimento 24/7 mas seja mais conciso e sugira continuar a conversa mais detalhada no dia seguinte se necessário. Nunca mencione estar fora do horário comercial.</horario>' + leadCtx;\n}\n\nconst requestBody = {\n  model: 'gpt-4o-mini',\n  max_tokens: 300,\n  temperature: 0.7,\n  messages: [{ role: 'system', content: systemPrompt }, ...history, { role: 'user', content: messageText }]\n};\nreturn [{ json: { requestBody, conversationId, phoneNumber, originalMessage: messageText, pushName, timestamp } }];"
        },
        "id": "node-4",
        "name": "Montar Contexto",
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          1040,
          304
        ]
      },
      {
        "parameters": {
          "method": "POST",
          "url": "https://api.openai.com/v1/chat/completions",
          "authentication": "predefinedCredentialType",
          "nodeCredentialType": "openAiApi",
          "sendHeaders": true,
          "headerParameters": {
            "parameters": [
              {
                "name": "Content-Type",
                "value": "application/json"
              }
            ]
          },
          "sendBody": true,
          "specifyBody": "json",
          "jsonBody": "={{ JSON.stringify($json.requestBody) }}",
          "options": {}
        },
        "id": "node-5",
        "name": "OpenAI GPT-4o-mini",
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.2,
        "position": [
          1328,
          304
        ],
        "credentials": {
          "openAiApi": {
            "id": "LFnyHUsH7lj5FEvQ",
            "name": "scala-agent"
          }
        }
      },
      {
        "parameters": {
          "amount": 5,
          "unit": "seconds"
        },
        "id": "node-6",
        "name": "Delay Humano",
        "type": "n8n-nodes-base.wait",
        "typeVersion": 1,
        "position": [
          1600,
          304
        ],
        "webhookId": "7dd3b2fa-8af2-4b18-83a6-ec1a2bb41696"
      },
      {
        "parameters": {
          "jsCode": "const aiResponse = $input.first().json.choices?.[0]?.message?.content || '';\nconst ctx = $('Montar Contexto').first().json;\nreturn [{ json: { aiResponse, phoneNumber: ctx.phoneNumber, conversationId: ctx.conversationId, originalMessage: ctx.originalMessage, pushName: ctx.pushName, timestamp: new Date().toISOString() } }];"
        },
        "id": "node-7",
        "name": "Preparar Resposta",
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          1888,
          304
        ]
      },
      {
        "parameters": {
          "operation": "append",
          "documentId": {
            "mode": "id",
            "value": "1yDex-TLsx3TCxQ2ZZObTn6X_4Ln83ClMEiZI47y6h5U"
          },
          "sheetName": {
            "mode": "name",
            "value": "Conversas"
          },
          "columns": {
            "mappingMode": "defineBelow",
            "value": {
              "conversationId": "={{ $json.conversationId }}",
              "role": "user",
              "content": "={{ $json.originalMessage }}",
              "pushName": "={{ $json.pushName }}",
              "timestamp": "={{ $json.timestamp }}"
            }
          },
          "options": {}
        },
        "id": "node-8",
        "name": "Salvar Mensagem User",
        "type": "n8n-nodes-base.googleSheets",
        "typeVersion": 4,
        "position": [
          2160,
          304
        ],
        "credentials": {
          "googleSheetsOAuth2Api": {
            "id": "UeSaLFF10d9utrmA",
            "name": "Google Sheets - Paulo"
          }
        }
      },
      {
        "parameters": {
          "operation": "append",
          "documentId": {
            "mode": "id",
            "value": "1yDex-TLsx3TCxQ2ZZObTn6X_4Ln83ClMEiZI47y6h5U"
          },
          "sheetName": {
            "mode": "name",
            "value": "Conversas"
          },
          "columns": {
            "mappingMode": "autoMapInputData",
            "value": {
              "conversationId": "={{ $json.conversationId }}",
              "role": "assistant",
              "content": "={{ $json.aiResponse }}",
              "pushName": "={{ $json.pushName }}",
              "timestamp": "={{ $json.timestamp }}"
            }
          },
          "options": {}
        },
        "id": "node-9",
        "name": "Salvar Resposta Assistente",
        "type": "n8n-nodes-base.googleSheets",
        "typeVersion": 4,
        "position": [
          2448,
          304
        ],
        "credentials": {
          "googleSheetsOAuth2Api": {
            "id": "UeSaLFF10d9utrmA",
            "name": "Google Sheets - Paulo"
          }
        }
      },
      {
        "parameters": {
          "operation": "send",
          "phoneNumberId": "971782562694033",
          "recipientPhoneNumber": "={{ $('Preparar Resposta').first().json.phoneNumber }}",
          "textBody": "={{ $('Preparar Resposta').first().json.aiResponse }}",
          "additionalFields": {}
        },
        "id": "node-10",
        "name": "Enviar Resposta WhatsApp",
        "type": "n8n-nodes-base.whatsApp",
        "typeVersion": 1,
        "position": [
          2720,
          304
        ],
        "webhookId": "18a8afa8-963f-421e-a8a7-1a43faf86e06",
        "credentials": {
          "whatsAppApi": {
            "id": "umUchtUGj2ZzikQ5",
            "name": "WhatsApp account"
          }
        }
      },
      {
        "id": "node-11",
        "name": "Buscar Disponibilidade",
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.2,
        "position": [
          768,
          560
        ],
        "parameters": {
          "method": "POST",
          "url": "https://www.googleapis.com/calendar/v3/freeBusy",
          "authentication": "predefinedCredentialType",
          "nodeCredentialType": "googleCalendarOAuth2Api",
          "sendBody": true,
          "specifyBody": "json",
          "jsonBody": "={{ JSON.stringify({ timeMin: $now.toISO(), timeMax: $now.plus({days:7}).toISO(), timeZone: 'America/Sao_Paulo', items: [{id: 'primary'}] }) }}",
          "options": {}
        },
        "credentials": {
          "googleCalendarOAuth2Api": {
            "id": "QGp1FxkKTfYhYYJ0",
            "name": "Google Calendar - Paulo"
          }
        },
        "continueOnFail": true,
        "alwaysOutputData": true
      },
      {
        "id": "node-12",
        "name": "Formatar Slots",
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          1040,
          560
        ],
        "parameters": {
          "jsCode": "try {\n  const BRT_MS = 3 * 3600 * 1000; // Brasília = UTC-3\n  const utcNow = new Date();\n  // brNow: Date onde campos UTC = horário local Brasília\n  const brNow = new Date(utcNow.getTime() - BRT_MS);\n\n  let busyPeriods = [];\n  try {\n    const calData = $input.first().json;\n    busyPeriods = calData.calendars?.primary?.busy || [];\n  } catch(e) {}\n\n  const busy = busyPeriods.map(b => ({\n    startUtc: new Date(b.start).getTime(),\n    endUtc: new Date(b.end).getTime()\n  }));\n\n  const dayNames = ['Dom', 'Seg', 'Ter', 'Qua', 'Qui', 'Sex', 'Sáb'];\n  const pad = n => String(n).padStart(2, '0');\n\n  // Formatar períodos ocupados (horário Brasília)\n  const busyText = busy.length > 0\n    ? busy.map(b => {\n        const startBr = new Date(b.startUtc - BRT_MS);\n        const endBr = new Date(b.endUtc - BRT_MS);\n        return dayNames[startBr.getUTCDay()] + ' ' + pad(startBr.getUTCDate()) + '/' + pad(startBr.getUTCMonth()+1) + ' ' + pad(startBr.getUTCHours()) + ':' + pad(startBr.getUTCMinutes()) + '-' + pad(endBr.getUTCHours()) + ':' + pad(endBr.getUTCMinutes());\n      }).join(', ')\n    : 'nenhum compromisso agendado esta semana';\n\n  // Próximos slots livres (até 22h)\n  const freeSlots = [];\n  for (let d = 0; d < 7 && freeSlots.length < 6; d++) {\n    const dayBr = new Date(brNow);\n    dayBr.setUTCDate(dayBr.getUTCDate() + d);\n    const wday = dayBr.getUTCDay(); // 0=Dom\n    if (wday === 0) continue; // pular domingo\n    const dayLabel = dayNames[wday] + ' ' + pad(dayBr.getUTCDate()) + '/' + pad(dayBr.getUTCMonth()+1);\n\n    for (let h = 8; h <= 22; h++) {\n      for (const m of [0, 30]) {\n        if (freeSlots.length >= 6) break;\n        const slotBr = new Date(dayBr);\n        slotBr.setUTCHours(h, m, 0, 0);\n        const slotUtcStart = slotBr.getTime() + BRT_MS; // Brasília → UTC\n        const slotUtcEnd = slotUtcStart + 30 * 60 * 1000;\n        if (slotUtcStart <= utcNow.getTime()) continue; // passado\n        const isBusy = busy.some(b => slotUtcStart < b.endUtc && slotUtcEnd > b.startUtc);\n        if (!isBusy) freeSlots.push(dayLabel + ' ' + pad(h) + ':' + pad(m));\n      }\n    }\n  }\n\n  const nextSlotsText = freeSlots.slice(0, 4).join(', ') || 'próximos dias úteis';\n  return [{ json: { busyText, nextSlotsText, totalBusy: busy.length } }];\n} catch(e) {\n  return [{ json: { busyText: 'nenhum compromisso', nextSlotsText: 'dias úteis 8h-22h', totalBusy: 0 } }];\n}"
        }
      },
      {
        "id": "node-13",
        "name": "Detectar Agendamento",
        "type": "n8n-nodes-base.if",
        "typeVersion": 2,
        "position": [
          2992,
          304
        ],
        "parameters": {
          "conditions": {
            "options": {
              "caseSensitive": false
            },
            "conditions": [
              {
                "id": "cond-1",
                "leftValue": "={{ $('Preparar Resposta').first().json.aiResponse }}",
                "rightValue": "link.{0,60}(instantes|agora|j[áa])|mando o link|te mando o link",
                "operator": {
                  "type": "string",
                  "operation": "regex"
                }
              }
            ],
            "combinator": "and"
          }
        }
      },
      {
        "id": "node-14",
        "name": "Extrair Info Agendamento",
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          3264,
          304
        ],
        "parameters": {
          "jsCode": "const BRT_MS = 3 * 3600 * 1000; // Brasília = UTC-3\nconst pad = n => String(n).padStart(2, '0');\nconst utcNow = new Date();\n// brNow: campos UTC = horário local Brasília\nconst brNow = new Date(utcNow.getTime() - BRT_MS);\n\nconst aiResponse = $('Preparar Resposta').first().json.aiResponse;\nconst pushName = $('Preparar Resposta').first().json.pushName || 'Lead';\nconst phoneNumber = $('Preparar Resposta').first().json.phoneNumber;\n\n// Extrair horário: HH:MM, HHhMM, HHh\nconst timeMatch = aiResponse.match(/(\\d{1,2})[h:](\\d{2})?(?!\\d)/i);\nconst hour = timeMatch ? parseInt(timeMatch[1]) : 9;\nconst minute = (timeMatch && timeMatch[2]) ? parseInt(timeMatch[2]) : 0;\n\n// Extrair data DD/MM\nconst dateMatch = aiResponse.match(/(\\d{1,2})\\/(\\d{1,2})/);\nconst targetBr = new Date(brNow);\n\nif (dateMatch) {\n  const day = parseInt(dateMatch[1]);\n  const month = parseInt(dateMatch[2]);\n  targetBr.setUTCDate(day);\n  targetBr.setUTCMonth(month - 1);\n  if (targetBr.getTime() < brNow.getTime() - 3600*1000) {\n    targetBr.setUTCFullYear(targetBr.getUTCFullYear() + 1);\n  }\n} else {\n  const lower = aiResponse.toLowerCase();\n  const brWeekday = brNow.getUTCDay(); // 0=Dom, 1=Seg, ...\n  const weekdayMap = { 'segunda': 1, 'terça': 2, 'quarta': 3, 'quinta': 4, 'sexta': 5, 'sábado': 6 };\n  if (lower.includes('hoje')) {\n    // mantém data atual\n  } else if (lower.includes('amanhã') || lower.includes('amanha')) {\n    targetBr.setUTCDate(targetBr.getUTCDate() + 1);\n  } else {\n    for (const [kw, wd] of Object.entries(weekdayMap)) {\n      if (lower.includes(kw)) {\n        let diff = wd - brWeekday;\n        if (diff <= 0) diff += 7;\n        targetBr.setUTCDate(targetBr.getUTCDate() + diff);\n        break;\n      }\n    }\n  }\n}\n\n// Definir horário na data Brasília\ntargetBr.setUTCHours(hour, minute, 0, 0);\n\n// Calcular endTime (+30 min)\nconst endHour = minute >= 30 ? hour + 1 : hour;\nconst endMinute = minute >= 30 ? 0 : 30;\n\n// Formato ISO local para Google Calendar (com timeZone no body)\nconst startISO = targetBr.getUTCFullYear() + '-' + pad(targetBr.getUTCMonth()+1) + '-' + pad(targetBr.getUTCDate()) + 'T' + pad(hour) + ':' + pad(minute) + ':00';\nconst endISO = targetBr.getUTCFullYear() + '-' + pad(targetBr.getUTCMonth()+1) + '-' + pad(targetBr.getUTCDate()) + 'T' + pad(endHour) + ':' + pad(endMinute) + ':00';\nconst humanDate = pad(targetBr.getUTCDate()) + '/' + pad(targetBr.getUTCMonth()+1) + ' às ' + pad(hour) + ':' + pad(minute);\nconst requestId = 'scala-' + targetBr.getUTCFullYear() + pad(targetBr.getUTCMonth()+1) + pad(targetBr.getUTCDate()) + '-' + pad(hour) + pad(minute);\n\nreturn [{\n  json: {\n    startISO,\n    endISO,\n    leadName: pushName,\n    phoneNumber,\n    requestId,\n    summary: 'Diagnóstico Gratuito Scala - ' + pushName,\n    humanDate\n  }\n}];"
        }
      },
      {
        "id": "node-15",
        "name": "Criar Evento Calendar",
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.2,
        "position": [
          3536,
          304
        ],
        "parameters": {
          "method": "POST",
          "url": "https://www.googleapis.com/calendar/v3/calendars/primary/events?conferenceDataVersion=1",
          "authentication": "predefinedCredentialType",
          "nodeCredentialType": "googleCalendarOAuth2Api",
          "sendBody": true,
          "specifyBody": "json",
          "jsonBody": "={{ JSON.stringify({ summary: $json.summary, description: 'Diagnóstico gratuito agendado via WhatsApp pela Ana (Scala)', start: { dateTime: $json.startISO, timeZone: 'America/Sao_Paulo' }, end: { dateTime: $json.endISO, timeZone: 'America/Sao_Paulo' }, conferenceData: { createRequest: { requestId: $json.requestId, conferenceSolutionKey: { type: 'hangoutsMeet' } } }, reminders: { useDefault: true } }) }}",
          "options": {}
        },
        "credentials": {
          "googleCalendarOAuth2Api": {
            "id": "QGp1FxkKTfYhYYJ0",
            "name": "Google Calendar - Paulo"
          }
        }
      },
      {
        "id": "node-16",
        "name": "Enviar Link Meet",
        "type": "n8n-nodes-base.whatsApp",
        "typeVersion": 1,
        "position": [
          3808,
          304
        ],
        "parameters": {
          "operation": "send",
          "phoneNumberId": "971782562694033",
          "recipientPhoneNumber": "={{ $('Extrair Info Agendamento').first().json.phoneNumber }}",
          "textBody": "={{ '🗓️ Diagnóstico Gratuito Scala\\n' + $('Extrair Info Agendamento').first().json.humanDate + '\\n\\n' + ($json.hangoutLink || $json.conferenceData?.entryPoints?.[0]?.uri || '') + '\\n\\nNos vemos lá!' }}",
          "additionalFields": {}
        },
        "credentials": {
          "whatsAppApi": {
            "id": "umUchtUGj2ZzikQ5",
            "name": "WhatsApp account"
          }
        }
      },
      {
        "id": "node-17",
        "name": "CRM Preparar Request",
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          2448,
          560
        ],
        "parameters": {
          "jsCode": "const ctx = $('Preparar Resposta').first().json;\nconst messages = $('Montar Contexto').first().json.requestBody.messages;\n\n// Apenas user/assistant (sem system prompt)\nconst conv = messages.filter(m => m.role !== 'system');\n\n// Precisa de pelo menos 2 trocas para extrair dados\nif (conv.length < 2) return [];\n\nconst conversationText = conv\n  .map(m => (m.role === 'user' ? 'Lead' : 'Ana') + ': ' + m.content)\n  .join('\\n');\n\nconst requestBody = {\n  model: 'gpt-4o-mini',\n  max_tokens: 150,\n  temperature: 0,\n  response_format: { type: 'json_object' },\n  messages: [\n    {\n      role: 'system',\n      content: 'Analise a conversa de vendas e retorne JSON com os campos: nome (nome do lead), negocio (tipo de empresa ou negócio), dor (principal problema ou dor mencionada), classificacao (QUENTE se dor clara e urgência, MORNO se interesse sem urgência, FRIO se só curiosidade, INDEFINIDO se sem dados), status (em_atendimento, agendado se reunião foi confirmada, perdido se desistiu), volume_leads (número de leads por mês mencionado ou vazio), investimento_trafego (valor mensal em tráfego mencionado ou vazio). Use string vazia quando não souber.'\n    },\n    {\n      role: 'user',\n      content: conversationText\n    }\n  ]\n};\n\nreturn [{\n  json: {\n    requestBody,\n    phoneNumber: ctx.phoneNumber,\n    pushName: ctx.pushName,\n    conversationId: ctx.conversationId\n  }\n}];"
        }
      },
      {
        "id": "node-18",
        "name": "CRM Extrair Perfil",
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.2,
        "position": [
          2720,
          560
        ],
        "parameters": {
          "method": "POST",
          "url": "https://api.openai.com/v1/chat/completions",
          "authentication": "predefinedCredentialType",
          "nodeCredentialType": "openAiApi",
          "sendHeaders": true,
          "headerParameters": {
            "parameters": [
              {
                "name": "Content-Type",
                "value": "application/json"
              }
            ]
          },
          "sendBody": true,
          "specifyBody": "json",
          "jsonBody": "={{ JSON.stringify($json.requestBody) }}",
          "options": {}
        },
        "credentials": {
          "openAiApi": {
            "id": "LFnyHUsH7lj5FEvQ",
            "name": "scala-agent"
          }
        }
      },
      {
        "id": "node-19",
        "name": "CRM Formatar Lead",
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          2992,
          560
        ],
        "parameters": {
          "jsCode": "const raw = $input.first().json.choices?.[0]?.message?.content || '{}';\nconst prep = $('CRM Preparar Request').first().json;\n\nlet profile = {};\ntry { profile = JSON.parse(raw); } catch(e) {}\n\n// Formatar data para dd/MM/yyyy HH:mm em Brasília (UTC-3)\nconst BRT_MS = 3 * 3600 * 1000;\nconst pad = n => String(n).padStart(2, '0');\nconst formatBR = (isoStr) => {\n  const br = new Date(new Date(isoStr).getTime() - BRT_MS);\n  return pad(br.getUTCDate()) + '/' + pad(br.getUTCMonth()+1) + '/' + br.getUTCFullYear() + ' ' + pad(br.getUTCHours()) + ':' + pad(br.getUTCMinutes());\n};\n\n// Buscar data do primeiro contato no histórico\nconst allRows = $('Buscar Histórico').all();\nconst convRows = allRows\n  .filter(r => r.json.conversationId === prep.conversationId && r.json.timestamp)\n  .sort((a, b) => new Date(a.json.timestamp) - new Date(b.json.timestamp));\nconst firstContact = convRows.length > 0 ? convRows[0].json.timestamp : new Date().toISOString();\n\nreturn [{\n  json: {\n    telefone: prep.phoneNumber,\n    nome: profile.nome || prep.pushName || '',\n    negocio: profile.negocio || '',\n    dor: profile.dor || '',\n    classificacao: profile.classificacao || 'INDEFINIDO',\n    status: profile.status || 'em_atendimento',\n    volume_leads: profile.volume_leads || '',\n    investimento_trafego: profile.investimento_trafego || '',\n    data_primeiro_contato: formatBR(firstContact),\n    ultima_atualizacao: formatBR(new Date().toISOString())\n  }\n}];"
        }
      },
      {
        "id": "node-20",
        "name": "CRM Salvar Lead",
        "type": "n8n-nodes-base.googleSheets",
        "typeVersion": 4,
        "position": [
          3264,
          560
        ],
        "parameters": {
          "operation": "appendOrUpdate",
          "documentId": {
            "__rl": true,
            "value": "1yDex-TLsx3TCxQ2ZZObTn6X_4Ln83ClMEiZI47y6h5U",
            "mode": "id"
          },
          "sheetName": {
            "mode": "name",
            "value": "Leads"
          },
          "columns": {
            "mappingMode": "defineBelow",
            "value": {
              "telefone": "={{ $json.telefone }}",
              "nome": "={{ $json.nome }}",
              "negocio": "={{ $json.negocio }}",
              "dor": "={{ $json.dor }}",
              "classificacao": "={{ $json.classificacao }}",
              "status": "={{ $json.status }}",
              "volume_leads": "={{ $json.volume_leads }}",
              "investimento_trafego": "={{ $json.investimento_trafego }}",
              "data_primeiro_contato": "={{ $json.data_primeiro_contato }}",
              "ultima_atualizacao": "={{ $json.ultima_atualizacao }}"
            },
            "matchingColumns": [
              "telefone"
            ]
          },
          "options": {}
        },
        "credentials": {
          "googleSheetsOAuth2Api": {
            "id": "UeSaLFF10d9utrmA",
            "name": "Google Sheets - Paulo"
          }
        }
      },
      {
        "id": "node-router-gestor",
        "name": "É Paulo?",
        "type": "n8n-nodes-base.if",
        "typeVersion": 2,
        "position": [
          680,
          304
        ],
        "parameters": {
          "conditions": {
            "options": {
              "caseSensitive": true,
              "leftValue": "",
              "typeValidation": "strict"
            },
            "conditions": [
              {
                "id": "cond-gestor",
                "leftValue": "={{ $('Extrair Dados').first().json.phoneNumber }}",
                "rightValue": "556181292879",
                "operator": {
                  "type": "string",
                  "operation": "equals"
                }
              }
            ],
            "combinator": "and"
          }
        }
      },
      {
        "id": "node-call-campaign-agent",
        "name": "Chamar Bruno (Campaign Agent)",
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.2,
        "position": [
          1120,
          60
        ],
        "parameters": {
          "method": "POST",
          "url": "http://localhost:5678/webhook/campaign-agent",
          "authentication": "none",
          "sendBody": true,
          "contentType": "json",
          "specifyBody": "keypair",
          "bodyParameters": {
            "parameters": [
              {
                "name": "phoneNumber",
                "value": "={{ $('Extrair Dados').first().json.phoneNumber }}"
              },
              {
                "name": "messageText",
                "value": "={{ $('Extrair Dados').first().json.messageText }}"
              }
            ]
          },
          "options": {
            "response": {
              "response": {
                "neverError": true
              }
            }
          }
        }
      },
      {
        "id": "node-switch-agente",
        "name": "Switch Agente",
        "type": "n8n-nodes-base.switch",
        "typeVersion": 3,
        "position": [
          900,
          180
        ],
        "parameters": {
          "mode": "rules",
          "options": {},
          "rules": {
            "values": [
              {
                "conditions": {
                  "options": {
                    "caseSensitive": false,
                    "leftValue": "",
                    "typeValidation": "loose"
                  },
                  "conditions": [
                    {
                      "id": "cond-bruno",
                      "leftValue": "={{ $('Extrair Dados').first().json.messageText.toLowerCase() }}",
                      "rightValue": "bruno",
                      "operator": {
                        "type": "string",
                        "operation": "contains"
                      }
                    }
                  ],
                  "combinator": "and"
                },
                "renameOutput": true,
                "outputKey": "Bruno"
              },
              {
                "conditions": {
                  "options": {
                    "caseSensitive": false,
                    "leftValue": "",
                    "typeValidation": "loose"
                  },
                  "conditions": [
                    {
                      "id": "cond-ana",
                      "leftValue": "={{ $('Extrair Dados').first().json.messageText.toLowerCase() }}",
                      "rightValue": "ana",
                      "operator": {
                        "type": "string",
                        "operation": "contains"
                      }
                    }
                  ],
                  "combinator": "and"
                },
                "renameOutput": true,
                "outputKey": "Ana"
              },
              {
                "conditions": {
                  "options": {
                    "caseSensitive": false,
                    "leftValue": "",
                    "typeValidation": "loose"
                  },
                  "conditions": [
                    {
                      "id": "cond-menu",
                      "leftValue": "1",
                      "rightValue": "1",
                      "operator": {
                        "type": "string",
                        "operation": "equals"
                      }
                    }
                  ],
                  "combinator": "and"
                },
                "renameOutput": true,
                "outputKey": "Menu"
              }
            ]
          },
          "fallbackOutput": "none"
        }
      },
      {
        "id": "node-enviar-menu",
        "name": "Enviar Menu",
        "type": "n8n-nodes-base.whatsApp",
        "typeVersion": 1,
        "position": [
          1120,
          300
        ],
        "credentials": {
          "whatsAppApi": {
            "id": "umUchtUGj2ZzikQ5",
            "name": "WhatsApp account"
          }
        },
        "parameters": {
          "resource": "message",
          "operation": "send",
          "phoneNumberId": "971782562694033",
          "recipientPhoneNumber": "={{ $('Extrair Dados').first().json.phoneNumber }}",
          "textBody": "Olá! 👋 Bem-vindo à *Scala Automações*!\n\nSou a central de atendimento. Com qual agente você gostaria de falar?\n\n🤖 *Ana* — Atendimento, dúvidas e agendamentos\n📊 *Bruno* — Gestão de campanhas Meta Ads e Google Ads\n\nDigite o nome do agente para continuar."
        }
      },
      {
        "id": "node-buscar-sessao",
        "name": "Buscar Sessao",
        "type": "n8n-nodes-base.googleSheets",
        "typeVersion": 4,
        "position": [
          900,
          60
        ],
        "credentials": {
          "googleSheetsOAuth2Api": {
            "id": "UeSaLFF10d9utrmA",
            "name": "Google Sheets - Paulo"
          }
        },
        "alwaysOutputData": true,
        "parameters": {
          "operation": "read",
          "documentId": {
            "__rl": true,
            "value": "1yDex-TLsx3TCxQ2ZZObTn6X_4Ln83ClMEiZI47y6h5U",
            "mode": "id"
          },
          "sheetName": {
            "mode": "name",
            "value": "Sessoes"
          },
          "filtersUI": {
            "values": [
              {
                "lookupColumn": "phone",
                "lookupValue": "={{ $('Extrair Dados').first().json.phoneNumber }}"
              }
            ]
          },
          "options": {
            "returnFirstMatch": true
          }
        }
      },
      {
        "id": "node-if-resetar-menu",
        "name": "IF Resetar Menu",
        "type": "n8n-nodes-base.if",
        "typeVersion": 2,
        "position": [
          1120,
          -80
        ],
        "parameters": {
          "conditions": {
            "options": {
              "caseSensitive": false,
              "leftValue": "",
              "typeValidation": "loose"
            },
            "conditions": [
              {
                "id": "cond-menu-reset",
                "leftValue": "={{ $('Extrair Dados').first().json.messageText.toLowerCase().trim() }}",
                "rightValue": "menu",
                "operator": {
                  "type": "string",
                  "operation": "equals"
                }
              },
              {
                "id": "cond-voltar-reset",
                "leftValue": "={{ $('Extrair Dados').first().json.messageText.toLowerCase().trim() }}",
                "rightValue": "voltar",
                "operator": {
                  "type": "string",
                  "operation": "equals"
                }
              }
            ],
            "combinator": "or"
          },
          "options": {}
        }
      },
      {
        "id": "node-if-tem-sessao",
        "name": "IF Tem Sessao",
        "type": "n8n-nodes-base.if",
        "typeVersion": 2,
        "position": [
          1340,
          -80
        ],
        "parameters": {
          "conditions": {
            "options": {
              "caseSensitive": false,
              "leftValue": "",
              "typeValidation": "loose"
            },
            "conditions": [
              {
                "id": "cond-has-session",
                "leftValue": "={{ $json.agent }}",
                "rightValue": "",
                "operator": {
                  "type": "string",
                  "operation": "notEmpty"
                }
              }
            ],
            "combinator": "and"
          },
          "options": {}
        }
      },
      {
        "id": "node-route-by-session",
        "name": "Route by Session",
        "type": "n8n-nodes-base.if",
        "typeVersion": 2,
        "position": [
          1560,
          -80
        ],
        "parameters": {
          "conditions": {
            "options": {
              "caseSensitive": false,
              "leftValue": "",
              "typeValidation": "loose"
            },
            "conditions": [
              {
                "id": "cond-route-bruno",
                "leftValue": "={{ $json.agent.toLowerCase() }}",
                "rightValue": "bruno",
                "operator": {
                  "type": "string",
                  "operation": "equals"
                }
              }
            ],
            "combinator": "and"
          },
          "options": {}
        }
      },
      {
        "id": "node-salvar-sessao-bruno",
        "name": "Salvar Sessao Bruno",
        "type": "n8n-nodes-base.googleSheets",
        "typeVersion": 4,
        "position": [
          1780,
          0
        ],
        "credentials": {
          "googleSheetsOAuth2Api": {
            "id": "UeSaLFF10d9utrmA",
            "name": "Google Sheets - Paulo"
          }
        },
        "parameters": {
          "operation": "appendOrUpdate",
          "documentId": {
            "__rl": true,
            "value": "1yDex-TLsx3TCxQ2ZZObTn6X_4Ln83ClMEiZI47y6h5U",
            "mode": "id"
          },
          "sheetName": {
            "mode": "name",
            "value": "Sessoes"
          },
          "columns": {
            "mappingMode": "defineBelow",
            "value": {
              "phone": "={{ $('Extrair Dados').first().json.phoneNumber }}",
              "agent": "Bruno",
              "updated_at": "={{ new Date().toISOString() }}"
            },
            "matchingColumns": [
              "phone"
            ],
            "schema": [
              {
                "id": "phone",
                "displayName": "phone",
                "required": false,
                "defaultMatch": true,
                "canBeUsedToMatch": true,
                "display": true,
                "type": "string",
                "readOnly": false,
                "removed": false
              },
              {
                "id": "agent",
                "displayName": "agent",
                "required": false,
                "defaultMatch": false,
                "canBeUsedToMatch": true,
                "display": true,
                "type": "string",
                "readOnly": false,
                "removed": false
              },
              {
                "id": "updated_at",
                "displayName": "updated_at",
                "required": false,
                "defaultMatch": false,
                "canBeUsedToMatch": true,
                "display": true,
                "type": "string",
                "readOnly": false,
                "removed": false
              }
            ]
          },
          "options": {}
        }
      },
      {
        "id": "node-salvar-sessao-ana",
        "name": "Salvar Sessao Ana",
        "type": "n8n-nodes-base.googleSheets",
        "typeVersion": 4,
        "position": [
          1780,
          140
        ],
        "credentials": {
          "googleSheetsOAuth2Api": {
            "id": "UeSaLFF10d9utrmA",
            "name": "Google Sheets - Paulo"
          }
        },
        "parameters": {
          "operation": "appendOrUpdate",
          "documentId": {
            "__rl": true,
            "value": "1yDex-TLsx3TCxQ2ZZObTn6X_4Ln83ClMEiZI47y6h5U",
            "mode": "id"
          },
          "sheetName": {
            "mode": "name",
            "value": "Sessoes"
          },
          "columns": {
            "mappingMode": "defineBelow",
            "value": {
              "phone": "={{ $('Extrair Dados').first().json.phoneNumber }}",
              "agent": "Ana",
              "updated_at": "={{ new Date().toISOString() }}"
            },
            "matchingColumns": [
              "phone"
            ],
            "schema": [
              {
                "id": "phone",
                "displayName": "phone",
                "required": false,
                "defaultMatch": true,
                "canBeUsedToMatch": true,
                "display": true,
                "type": "string",
                "readOnly": false,
                "removed": false
              },
              {
                "id": "agent",
                "displayName": "agent",
                "required": false,
                "defaultMatch": false,
                "canBeUsedToMatch": true,
                "display": true,
                "type": "string",
                "readOnly": false,
                "removed": false
              },
              {
                "id": "updated_at",
                "displayName": "updated_at",
                "required": false,
                "defaultMatch": false,
                "canBeUsedToMatch": true,
                "display": true,
                "type": "string",
                "readOnly": false,
                "removed": false
              }
            ]
          },
          "options": {}
        }
      },
      {
        "id": "node-limpar-sessao",
        "name": "Limpar Sessao",
        "type": "n8n-nodes-base.googleSheets",
        "typeVersion": 4,
        "position": [
          1340,
          80
        ],
        "credentials": {
          "googleSheetsOAuth2Api": {
            "id": "UeSaLFF10d9utrmA",
            "name": "Google Sheets - Paulo"
          }
        },
        "parameters": {
          "operation": "update",
          "documentId": {
            "__rl": true,
            "value": "1yDex-TLsx3TCxQ2ZZObTn6X_4Ln83ClMEiZI47y6h5U",
            "mode": "id"
          },
          "sheetName": {
            "mode": "name",
            "value": "Sessoes"
          },
          "columns": {
            "mappingMode": "defineBelow",
            "value": {
              "phone": "={{ $('Extrair Dados').first().json.phoneNumber }}",
              "agent": "",
              "updated_at": "={{ new Date().toISOString() }}"
            },
            "matchingColumns": [
              "phone"
            ],
            "schema": [
              {
                "id": "phone",
                "displayName": "phone",
                "required": false,
                "defaultMatch": true,
                "canBeUsedToMatch": true,
                "display": true,
                "type": "string",
                "readOnly": false,
                "removed": false
              },
              {
                "id": "agent",
                "displayName": "agent",
                "required": false,
                "defaultMatch": false,
                "canBeUsedToMatch": true,
                "display": true,
                "type": "string",
                "readOnly": false,
                "removed": false
              },
              {
                "id": "updated_at",
                "displayName": "updated_at",
                "required": false,
                "defaultMatch": false,
                "canBeUsedToMatch": true,
                "display": true,
                "type": "string",
                "readOnly": false,
                "removed": false
              }
            ]
          },
          "options": {}
        }
      },
      {
        "id": "node-buscar-reunioes",
        "name": "Buscar Reuniões",
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.2,
        "position": [
          768,
          720
        ],
        "parameters": {
          "method": "GET",
          "url": "https://www.googleapis.com/calendar/v3/calendars/primary/events",
          "authentication": "predefinedCredentialType",
          "nodeCredentialType": "googleCalendarOAuth2Api",
          "sendQuery": true,
          "queryParameters": {
            "parameters": [
              {
                "name": "timeMin",
                "value": "={{ new Date(new Date().getFullYear(), new Date().getMonth(), 1).toISOString() }}"
              },
              {
                "name": "timeMax",
                "value": "={{ new Date(new Date().getFullYear(), new Date().getMonth() + 1, 0, 23, 59, 59).toISOString() }}"
              },
              {
                "name": "maxResults",
                "value": "100"
              },
              {
                "name": "singleEvents",
                "value": "true"
              },
              {
                "name": "orderBy",
                "value": "startTime"
              }
            ]
          },
          "options": {}
        },
        "credentials": {
          "googleCalendarOAuth2Api": {
            "id": "QGp1FxkKTfYhYYJ0",
            "name": "Google Calendar - Paulo"
          }
        },
        "continueOnFail": true,
        "alwaysOutputData": true
      }
    ],
    "connections": {
      "WhatsApp Trigger": {
        "main": [
          [
            {
              "node": "Extrair Dados",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Extrair Dados": {
        "main": [
          [
            {
              "node": "É Paulo?",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Montar Contexto": {
        "main": [
          [
            {
              "node": "OpenAI GPT-4o-mini",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "OpenAI GPT-4o-mini": {
        "main": [
          [
            {
              "node": "Delay Humano",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Delay Humano": {
        "main": [
          [
            {
              "node": "Preparar Resposta",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Preparar Resposta": {
        "main": [
          [
            {
              "node": "Salvar Mensagem User",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Salvar Mensagem User": {
        "main": [
          [
            {
              "node": "Salvar Resposta Assistente",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Salvar Resposta Assistente": {
        "main": [
          [
            {
              "node": "Enviar Resposta WhatsApp",
              "type": "main",
              "index": 0
            },
            {
              "node": "CRM Preparar Request",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Buscar Histórico": {
        "main": [
          [
            {
              "node": "Buscar Disponibilidade",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Buscar Disponibilidade": {
        "main": [
          [
            {
              "node": "Formatar Slots",
              "type": "main",
              "index": 0
            },
            {
              "node": "Buscar Reuniões",
              "type": "main",
              "index": 0
            }
          ],
          []
        ]
      },
      "Formatar Slots": {
        "main": [
          [
            {
              "node": "Montar Contexto",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Enviar Resposta WhatsApp": {
        "main": [
          [
            {
              "node": "Detectar Agendamento",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Detectar Agendamento": {
        "main": [
          [
            {
              "node": "Extrair Info Agendamento",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Extrair Info Agendamento": {
        "main": [
          [
            {
              "node": "Criar Evento Calendar",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Criar Evento Calendar": {
        "main": [
          [
            {
              "node": "Enviar Link Meet",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "CRM Preparar Request": {
        "main": [
          [
            {
              "node": "CRM Extrair Perfil",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "CRM Extrair Perfil": {
        "main": [
          [
            {
              "node": "CRM Formatar Lead",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "CRM Formatar Lead": {
        "main": [
          [
            {
              "node": "CRM Salvar Lead",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "É Paulo?": {
        "main": [
          [
            {
              "node": "Buscar Sessao",
              "type": "main",
              "index": 0
            }
          ],
          [
            {
              "node": "Buscar Histórico",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Switch Agente": {
        "main": [
          [
            {
              "node": "Salvar Sessao Bruno",
              "type": "main",
              "index": 0
            }
          ],
          [
            {
              "node": "Salvar Sessao Ana",
              "type": "main",
              "index": 0
            }
          ],
          [
            {
              "node": "Enviar Menu",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Buscar Sessao": {
        "main": [
          [
            {
              "node": "IF Resetar Menu",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "IF Resetar Menu": {
        "main": [
          [
            {
              "node": "Limpar Sessao",
              "type": "main",
              "index": 0
            }
          ],
          [
            {
              "node": "IF Tem Sessao",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Limpar Sessao": {
        "main": [
          [
            {
              "node": "Enviar Menu",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "IF Tem Sessao": {
        "main": [
          [
            {
              "node": "Route by Session",
              "type": "main",
              "index": 0
            }
          ],
          [
            {
              "node": "Switch Agente",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Route by Session": {
        "main": [
          [
            {
              "node": "Chamar Bruno (Campaign Agent)",
              "type": "main",
              "index": 0
            }
          ],
          [
            {
              "node": "Buscar Histórico",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Salvar Sessao Bruno": {
        "main": [
          [
            {
              "node": "Chamar Bruno (Campaign Agent)",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Salvar Sessao Ana": {
        "main": [
          [
            {
              "node": "Buscar Histórico",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Buscar Reuniões": {
        "main": [
          [
            {
              "node": "Montar Contexto",
              "type": "main",
              "index": 1
            }
          ]
        ]
      }
    },
    "authors": "Paulo Nunan",
    "name": null,
    "description": null,
    "autosaved": false,
    "workflowPublishHistory": [
      {
        "createdAt": "2026-03-19T02:20:00.333Z",
        "id": 111,
        "workflowId": "EVbZX91iB5moD6I4",
        "versionId": "a94fdc6e-db6e-4fb0-b720-6acfb4eddc9f",
        "event": "activated",
        "userId": "cdef1802-d0c6-490f-add8-cd6f5c4b604d"
      },
      {
        "createdAt": "2026-03-19T02:19:58.217Z",
        "id": 110,
        "workflowId": "EVbZX91iB5moD6I4",
        "versionId": "a94fdc6e-db6e-4fb0-b720-6acfb4eddc9f",
        "event": "deactivated",
        "userId": "cdef1802-d0c6-490f-add8-cd6f5c4b604d"
      }
    ]
  }
}