n8n-AgenteAds-Bruno/workflows/wf02_current.json
{"updatedAt":"2026-03-18T19:20:25.967Z","createdAt":"2026-03-18T19:20:25.967Z","id":"G731U5ekH3WOdyeI","name":"WF-02 | Meta Ads Reports → WhatsApp","description":null,"active":false,"isArchived":false,"nodes":[{"id":"schedule-trigger","name":"Schedule Trigger","type":"n8n-nodes-base.scheduleTrigger","typeVersion":1.2,"position":[0,300],"parameters":{"rule":{"interval":[{"field":"cronExpression","expression":"0 8 * * 1"}]}}},{"id":"read-clients","name":"Read Clients","type":"n8n-nodes-base.googleSheets","typeVersion":4.5,"position":[220,300],"parameters":{"operation":"read","documentId":"1YweVU-kJjvjb5QLJpUu8xUpJS4g7QL0aL1CdKgFTt7A","sheetName":"Clientes","filtersUI":{},"options":{}},"credentials":{"googleSheetsOAuth2Api":{"id":"UeSaLFF10d9utrmA","name":"Google Sheets - Paulo"}}},{"id":"filter-active","name":"Filter Active Clients","type":"n8n-nodes-base.filter","typeVersion":2,"position":[440,300],"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict"},"conditions":[{"id":"cond-active","leftValue":"={{ $json.ativo }}","rightValue":"TRUE","operator":{"type":"string","operation":"equals"}},{"id":"cond-meta","leftValue":"={{ $json.meta_ad_account_id }}","rightValue":"","operator":{"type":"string","operation":"notEmpty"}}],"combinator":"and"}}},{"id":"split-in-batches","name":"Process Clients","type":"n8n-nodes-base.splitInBatches","typeVersion":3,"position":[660,300],"parameters":{"batchSize":1,"options":{}}},{"id":"meta-ads-insights","name":"Meta Ads Insights","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[880,300],"parameters":{"method":"GET","url":"=https://graph.facebook.com/v19.0/{{ $json.meta_ad_account_id }}/insights","authentication":"none","sendQuery":true,"queryParameters":{"parameters":[{"name":"fields","value":"campaign_name,impressions,clicks,spend,reach,ctr,cpc"},{"name":"date_preset","value":"last_7d"},{"name":"level","value":"campaign"},{"name":"access_token","value":"[REDACTED_META_TOKEN]"}]},"options":{}}},{"id":"format-report","name":"Format Report","type":"n8n-nodes-base.code","typeVersion":2,"position":[1100,300],"parameters":{"mode":"runOnceForEachItem","jsCode":"const clientData = $('Process Clients').item.json;\nconst campaigns = ($input.item.json.data) || [];\nconst clientName = clientData.nome_cliente || 'Cliente';\nconst whatsapp = clientData.whatsapp;\n\nlet txt = '';\nif (campaigns.length === 0) {\n  txt = '⚠️ Nenhuma campanha ativa no período.';\n} else {\n  campaigns.forEach((c, i) => {\n    const reach = c.reach ? Number(c.reach).toLocaleString('pt-BR') : 'N/A';\n    const impressions = c.impressions ? Number(c.impressions).toLocaleString('pt-BR') : 'N/A';\n    const clicks = c.clicks ? Number(c.clicks).toLocaleString('pt-BR') : 'N/A';\n    const ctr = c.ctr ? Number(c.ctr).toFixed(2) : 'N/A';\n    const cpc = c.cpc ? Number(c.cpc).toFixed(2) : 'N/A';\n    const spend = c.spend ? Number(c.spend).toFixed(2) : 'N/A';\n    txt += `\\n🎯 *${c.campaign_name || 'Campanha '+(i+1)}*\\n• Alcance: ${reach}\\n• Impressões: ${impressions}\\n• Cliques: ${clicks}\\n• CTR: ${ctr}%\\n• CPC: R$${cpc}\\n• Investimento: R$${spend}\\n`;\n  });\n}\n\nconst dateStr = new Date().toLocaleDateString('pt-BR');\nconst message = `📊 *Relatório Semanal - ${clientName}*\\n📅 ${dateStr} — últimos 7 dias\\n\\n📈 *Meta Ads:*${txt}\\n💡 Dúvidas? Entre em contato!`;\nreturn { json: { whatsapp, nome_cliente: clientName, message } };"}},{"id":"send-whatsapp","name":"Send WhatsApp Report","type":"n8n-nodes-base.whatsApp","typeVersion":1,"position":[1320,300],"parameters":{"phoneNumberId":"971782562694033","recipientPhoneNumber":"={{ $json.whatsapp }}","textBody":"={{ $json.message }}","additionalFields":{}},"credentials":{"whatsAppTriggerApi":{"id":"umUchtUGj2ZzikQ5","name":"WhatsApp account"}}}],"connections":{"Schedule Trigger":{"main":[[{"node":"Read Clients","type":"main","index":0}]]},"Read Clients":{"main":[[{"node":"Filter Active Clients","type":"main","index":0}]]},"Filter Active Clients":{"main":[[{"node":"Process Clients","type":"main","index":0}]]},"Process Clients":{"main":[[{"node":"Meta Ads Insights","type":"main","index":0}]]},"Meta Ads Insights":{"main":[[{"node":"Format Report","type":"main","index":0}]]},"Format Report":{"main":[[{"node":"Send WhatsApp Report","type":"main","index":0}]]},"Send WhatsApp Report":{"main":[[{"node":"Process Clients","type":"main","index":0}]]}},"settings":{"executionOrder":"v1","saveManualExecutions":true,"callerPolicy":"workflowsFromSameOwner","availableInMCP":false},"staticData":null,"meta":null,"pinData":null,"versionId":"94e58db7-fdf7-4070-86b1-b7a534091d77","activeVersionId":null,"versionCounter":1,"triggerCount":0,"shared":[{"updatedAt":"2026-03-18T19:20:25.971Z","createdAt":"2026-03-18T19:20:25.971Z","role":"workflow:owner","workflowId":"G731U5ekH3WOdyeI","projectId":"4fhKBbB4lEBuxqVT","project":{"updatedAt":"2026-03-09T14:37:49.815Z","createdAt":"2026-03-09T14:14:16.132Z","id":"4fhKBbB4lEBuxqVT","name":"Paulo Nunan <ph.nunan@gmail.com>","type":"personal","icon":null,"description":null,"creatorId":"cdef1802-d0c6-490f-add8-cd6f5c4b604d"}}],"tags":[],"activeVersion":null}